@using Glass.Mapper.Sc.Web.Mvc
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Navigation.ViewModels.LinkMenuViewModel>

@foreach (var item in Model.MenuItems.Select((value, index) => new { index, value }))
{
    if (item.index < 5)
    {
        if (item.index != 0)
        {
            <span class="d-flex align-items-center">|</span>
        }
        if (item.value.Link != null)
        {
            <li class="nav-item"><a class="nav-link" href="@item.value.Link.Url">@item.value.Title</a></li>
        }
        else
        {
            <li class="nav-item"><a class="nav-link">@item.value.Title</a></li>
        }
    }
}
@{ string hidebutton = RenderingContext.Current.Rendering.Parameters["HideButton"];
    if (string.IsNullOrEmpty(hidebutton) || hidebutton != "True")
    {
        string displayText = "Español";
        string funcionName = "spanishSetcookie";
        //string redirectUrl = "/spanish" + HttpContext.Current.Request.Path;
        if (HttpContext.Current.Request.Cookies["PatientSiteLang"] != null && HttpContext.Current.Request.Cookies["PatientSiteLang"].Value.ToString() == "Spanish")
        {
            displayText = "English";
            funcionName = "englishDeletecookie";
        }
        string function = "onclick=" + funcionName + "()";
        if (Model.MenuItems != null)
        {
            if (Model.MenuItems.Any())
            {
                <span class="d-flex align-items-center">|</span>
                <li class="nav-item"><a class="nav-link" href="#" @function>@displayText</a></li>
            }
            else
            {
                <li class="nav-item"><a class="nav-link" href="#" @function>@displayText</a></li>
            }

        }
    }
}

<script>

    function spanishSetcookie() {
        event.preventDefault();
        setCookieValue("PatientSiteLang", "Spanish");
        window.location.reload(true);

    }
    function englishDeletecookie() {
        event.preventDefault();
        deleteCookieValue("PatientSiteLang");
        window.location.reload(true);

    }
    function setCookieValue(cookieName, cookieValue) {
        var d = new Date();
        var hour = 24;
        d.setTime(d.getTime() + (hour * 60 * 60 * 1000));
        var cookieExpireDate = "expires=" + d.toString();
        document.cookie = cookieName + "=" + cookieValue + "; " + cookieExpireDate + ";path=/";
    }
    function deleteCookieValue(cookieName) {
        var d = new Date();
        d.setTime(d.getTime());
        document.cookie = cookieName + "=;" + "expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    }
</script>