@using ACRHelix.Feature.Navigation.Constants;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Navigation.ViewModels.IdeasMainNavbarViewModel>

@{int iCounter = 0;}
<button class="animated-collapse-button navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mobile-nav" aria-controls="mobile-nav" aria-expanded="false" aria-label="Toggle navigation">
    <div class="animated-collapse">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</button>

<div class="collapse navbar-collapse" id="mobile-nav">
    <ul>
        @if (Model.NavigationItems != null && Model.NavigationItems.Any())
        {
            foreach (var menu in Model.NavigationItems)
            {
                if (iCounter < 4)
                {
                    if (menu.Children.Count() > 0)
                    {
                        int jCounter = 0;
                        @*<li onclick="javascript:window.location='@(menu.URL != null ? menu.URL : "#")'">*@
                        <li>
                            <a href="#">
                                @menu.Title
                            </a>
                            @if (menu.Children != null && menu.Children.Any())
                            {
                                <ul>
                                    <li><a href='@(menu.URL != null ? menu.URL : "#")'><span class="title">@menu.Title</span></a></li>

                                    @foreach (var secondMenu in menu.Children)
                                    {
                                        if (jCounter < 4)
                                        {
                                            <li><a href="@secondMenu.URL" target="@secondMenu.Target">@secondMenu.Title</a></li>
                                        }
                                        jCounter++;
                                    }
                                </ul>
                            }

                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@menu.URL">
                                @menu.Title
                            </a>
                        </li>

                    }
                    iCounter++;
                }
            }
        }
    </ul>
    @Html.Sitecore().Placeholder("ideas-link-menu-mobile")

</div>
