@using ACRHelix.Feature.Navigation.Constants;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Navigation.ViewModels.IWMainNavbarViewModel>

<div id="navbar" class="menu style-1 collapse">
    <div class="container">
        <ul class="menu right">
            @foreach (var menu in Model.NavigationItems)
            {
                <li>
                    @if (menu.TemplateID.ToString() != "{96F6FF84-0572-4631-9932-67C9923228FD}")
                    {
                        <a href="@menu.URL" target="@menu.Target" class="arrow">@menu.Title @*<i class="fa fa-angle-double-right pull-right"></i>*@</a>
            }
                    else
                    {
                        <a class="arrow" onclick="ShowhideMegamenu(this, event)">@menu.Title <i class="slick-arrow pull-right">&nbsp;</i> @*<i class="fa fa-angle-double-right pull-right"></i>*@</a>
                    }
                    <!-- Mega Menu / Start -->
                    @if (menu.Children.Count() > 0)
                    {
                        var category = menu.Children.Select(x => x.PageNavCategory).Distinct().ToArray(); //.Where(x => x.PageNavCategory != "")
                        <div class="mega-menu full-width">
                            <div class="up-arrow"></div>
                            <div class="container">
                                
                                @if (category.Count() > 0)
                                {
                                    <div class="col-sm-4 col-md-3" > @*class="@menu.MainMenuCss"*@
                                        @*<div class="up-arrow"></div>*@
                                        <h4>@category[0]</h4>
                                        <ol>
                                            @foreach (var secondMenu in menu.Children)
                                            {
                                                if (secondMenu.PageNavCategory == category[0])
                                                {
                                                    <li><a target="@secondMenu.Target" href="@secondMenu.URL">@secondMenu.Title</a></li>
                                                }
                                            }

                                        </ol>
                                    </div>
                                    if (category.Count() > 1)
                                    {
                                        <div class="col-sm-8 col-md-9" > @*class="@menu.SubMenuCss"*@
                                            <h4>@category[1]</h4>
                                            <ol>
                                                @foreach (var secondMenu in menu.Children)
                                                {
                                                    if (secondMenu.PageNavCategory == category[1])
                                                    {
                                                        <li><a target="@secondMenu.Target" href="@secondMenu.URL">@secondMenu.Title</a></li>
                                                    }
                                                }
                                            </ol>
                                        </div>
                                    }
                                }
                            </div>
                            

                        </div>
                    <!-- Mega Menu / End -->
                    }
                </li>
            }
            @Html.Sitecore().Placeholder("link-menu-mobile")
        </ul>
    </div>
    <div class="clearfix"></div>
</div>


