@using ACRHelix.Feature.Navigation.Constants;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Navigation.ViewModels.MainNavbarViewModel>

<ul>
	@foreach (var menu in Model.NavigationItems)
	{
		if (menu.TemplateID.ToString() == Templates.LoginTemplate.ID.ToString())
		{
		@:<li id="main-nav-login">
		}
		else
		{
		@:<li>
		}
	<a href="@menu.URL" target="@menu.Target">@menu.Title</a>
		if (menu.Children.Count() > 0)
		{<ul>
		@foreach (var secondMenu in menu.Children)
		{
		<li>
			<a target="@secondMenu.Target" href="@secondMenu.URL">@secondMenu.Title</a>
			@if (secondMenu.Children.Count() > 0)
			{
			<ul>
				@foreach (var thirdMenu in secondMenu.Children)
                {
				<li><a target="@thirdMenu.Target" href="@thirdMenu.URL">@thirdMenu.Title</a>
                    @if (thirdMenu.Children.Count() > 0)
                    {
                        <ul>
                            @foreach (var fourthMenu in thirdMenu.Children)
                            {
                                <li><a target="@fourthMenu.Target" href="@fourthMenu.URL">@fourthMenu.Title</a></li>
                            }
                        </ul>
                    }
                </li>               
                }
			</ul>
			}
		</li>
		}
	</ul>}
	@:</li>
		}
</ul>