@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.AdditionalResources.ViewModels.AdditionalResourcesViewModel>
@using Sitecore.Mvc.Extensions
@if (Model.Resources != null)
{
    if (Model.Resources.Count() > 0 || Sitecore.Context.PageMode.IsExperienceEditorEditing)
    {
        <aside class="content additional-resources">
            <div class="row">
                <div class="col-12">
                    <h2>@Editable(x => x.Title)</h2>
                </div>
            </div>
            @if (Model.SubTitle != "" || Sitecore.Context.PageMode.IsExperienceEditorEditing)
            {
                <p>@Editable(x => x.SubTitle)</p>
            }


            @using (BeginEditFrame("/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Tags", Sitecore.Context.Item.ID.ToString(), "Edit Current Page Tags"))
            {
                <div class="row inline-block-cols has-dark-blue-anchor">
                    @foreach (var resource in Model.Resources)
                    {
                        <div class="xl-col-6 additional-resource-item">
                            <span class="acr-icon text-orange icon-document"></span>
                            <a href="@resource.GetUrl()" data-template="@resource.TemplateName" data-id="@resource.Id">
                                @{
                                    var url = resource.Url;
                                    if (url.LastIndexOf("/") > 0)
                                    {
                                        url = url.Substring(url.LastIndexOf("/") + 1);
                                    }

                                    if (Sitecore.Context.PageMode.IsExperienceEditor)
                                    {
                                        <span>@url</span>
                                        @Editable(resource, x => x.Title)
                                    }
                                    else
                                    {
                                        if (string.IsNullOrWhiteSpace(resource.Title))
                                        {
                                            @url;
                                        }
                                        else
                                        {
                                            @resource.Title
                                        }
                                    }
                                }
                            </a>
                        </div>
                    }
                </div>
            }
        </aside>
    }
}