@using Sitecore.Mvc
@using System.Web.Mvc.Html
@inherits System.Web.Mvc.WebViewPage

@{Layout = null;}
<!DOCTYPE html>
<html class="no-js">
<head>
    <!-- Default Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Html.Sitecore().VisitorIdentification()
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("html-head")
    }
</head>
<body class="@(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">

    @Html.Sitecore().Placeholder("header")
    <!-- END NOINDEX -->
    <main role="main">
        @Html.Sitecore().Placeholder("dsi-content")
    </main>
    <!-- BEGIN NOINDEX -->
    @Html.Sitecore().Placeholder("footer")

</body>
</html>