@using Sitecore.Data.Items
@using Sitecore.Mvc
@using Sitecore.Links
@using System.Web
@using Sitecore.Feature.XBlog.Areas.XBlog.Items.Blog
@using Sitecore.Feature.XBlog.Areas.XBlog.General
@using Sitecore.Feature.XBlog.Areas.XBlog.Search
@using Sitecore.Resources.Media
@model Sitecore.Feature.XBlog.Areas.XBlog.Models.Blog.BlogPostModel
@{
    if (Model == null)
    {
        return;
    }
    Item dataSourceItem = Sitecore.Context.Database.GetItem(Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource);
    BlogSettings settingsItem = DataManager.GetBlogSettingsItem(dataSourceItem != null ? dataSourceItem : Sitecore.Context.Item);
    UrlOptions option = new UrlOptions();
    option.AlwaysIncludeServerUrl = true;
    string currentUrl = HttpUtility.UrlEncode(LinkManager.GetItemUrl(Model.BlogPost.InnerItem, option));
    string title = HttpUtility.UrlEncode(Model.BlogPost.Title);
}
<div>
    <div acr="list" style="--gap:1.5em;padding: 10px;padding-bottom:60px;" class="blogPostDiv">
        <h2 acr class="article-page-title">@Html.Sitecore().Field(BlogPost.BlogPostTitleFieldId, Model.BlogPost.InnerItem)</h2>
        <div>
            @{
                string blogFeaturedImage = "";
                if (Model.BlogPost.FeaturedImage != null && Model.BlogPost.FeaturedImage.MediaItem != null)
                {
                    blogFeaturedImage = String.Format("<img class='article-page-img' src=\"{0}\"/>", MediaManager.GetMediaUrl(Model.BlogPost.FeaturedImage.MediaItem));
                }
                @Html.Raw(blogFeaturedImage)
            }
        </div>
        <div acr="list-column-between" class="v-center">
            <div></div>
            <div acr="list-column-between" style="height: 70px;">
                @Html.Sitecore().Placeholder("xblogSubscribe")
                <div acr="list-column" class="v-center share-btn">
                    @Html.Sitecore().Placeholder("sharelink")
                </div>
            </div>
        </div>
        <div acr="list-column-alt" style="--gap:1.5em;margin:auto;">
            <div acr="list" class="categories-list">
                <div acr class="category-title" style="color: #757575; font-size: 16px !important; font-weight:900;">Categories</div>
                <p acr class="categoy">
                    @Html.Raw(CategoryManager.GetCommaSeperatedCategoryListGreen(Model.BlogPost))
                </p>
            </div>
            <div acr="list">
                <div acr="list-column" class="article-info v-center">
                    <div style="color: #757575; font-size: 12px !important;">
                        @Html.Raw(Model.BlogPost.PublishDate.DateTime.ToString(settingsItem.BlogPostDateFormat)) |
                        @if (Model.BlogPost.Authors.Any())
                        {
                            List<Sitecore.Data.ID> authorIds = new List<Sitecore.Data.ID>();
                            foreach (Author a in Model.BlogPost.Authors)
                            {
                                authorIds.Add(a.ItemId);
                            }
                            List<Author> authors = AuthorManager.GetAuthorsForBlogPost(authorIds);
                            string authorNames = string.Empty;
                            foreach (Author a in authors)
                            {
                                authorNames += a.FullName + "; ";
                            }
                            char[] trimChars = { ';', ',', ' ' };
                            authorNames = authorNames.TrimEnd(trimChars);
                            @*@Html.Raw(authors[0].FullName);*@
                            @Html.Raw(authorNames)
                        }
                    </div>
                </div>
                <span>
                    @Html.Sitecore().Field(BlogPost.BlogPostBodyFieldId, Model.BlogPost.InnerItem)
                </span>
            </div>
        </div>
    </div>
</div>