@using Sitecore.Feature.XBlog.Areas.XBlog.Items.Blog
@using Sitecore.Feature.XBlog.Areas.XBlog.Models.Blog
@using Sitecore.Feature.XBlog.Areas.XBlog.Search
@using Sitecore.Feature.XBlog.Areas.XBlog.General
@using Sitecore.Data.Items
@using Sitecore.Mvc
@using Sitecore.Links
@using Sitecore.Resources.Media
@model Sitecore.Feature.XBlog.Areas.XBlog.Models.Blog.BlogListingModel
@{ BlogSettings settingsItem = DataManager.GetBlogSettingsItem(Model.dataSourceItem != null ? Model.dataSourceItem : Sitecore.Context.Item); }
@{ if (Model.BlogPosts == null || !Model.BlogPosts.Any())
    {@Html.Raw("Sorry no matching results were found.");
    }
    else
    {


        foreach (BlogPost blogPost in Model.BlogPosts)
        {
    string authorImage = "";

        string authorNames = string.Empty;
        if (blogPost.Authors.Any())
        {
            List<Sitecore.Data.ID>
            authorIds = new List<Sitecore.Data.ID>();
            foreach (Author a in blogPost.Authors)
            {
                authorIds.Add(a.ItemId);
            }
            List<Author>
                authors = AuthorManager.GetAuthorsForBlogPost(authorIds);
            foreach (Author a in authors)
            {
                authorNames += a.FullName + "; ";
            }
            char[] trimChars = { ';', ',', ' ' };
            authorNames = authorNames.TrimEnd(trimChars);
        }

        if (blogPost == Model.BlogPosts.Take(1))
        {
            <div class="col d-only">
                <div class="box">
                    <article>
                        <h2><a href="@Html.Raw(LinkManager.GetItemUrl(blogPost.InnerItem))">@Html.Raw(blogPost.Title)</a></h2>
                        <div class="article-info">
                            @if (blogPost.Authors != null && blogPost.Authors.Count() != 0 && blogPost.Authors[0].ProfileImage.MediaItem != null)
                            {
                                authorImage = String.Format("<img src=\"{0}\" style='height:42px;' v-if='window.width > window.mobileWidth' />", MediaManager.GetMediaUrl(blogPost.Authors[0].ProfileImage.MediaItem));

                            }
                            @Html.Raw(authorImage)
                            <div>
                                <span>By </span>
                                <span>@Html.Raw(AuthorManager.GetAuthorLink(blogPost))</span>
                                <span>on </span>
                                <span class="article-date">@Html.Raw(blogPost.PublishDate.DateTime.ToString(settingsItem.BlogListingDateFormat))</span>
                            </div>
                        </div>
                        <div>
                            @if (!String.IsNullOrEmpty(blogPost.Summary))
                            {
                                @Html.Raw(Sitecore.Feature.XBlog.Areas.XBlog.Helpers.Helper.SubstringHtml(blogPost.Summary, 500, true));
                            }
                            else
                            {
                                @Html.Raw(Sitecore.Feature.XBlog.Areas.XBlog.Helpers.Helper.SubstringHtml(blogPost.Body, settingsItem.DisplaySummaryLength, true));
                            }
                        </div>
                        <div class="article-tags categorylist cat-link">
                            @Html.Raw("Categories " + CategoryManager.GetCommaSeperatedCategoryList(blogPost))
                        </div>
                    </article>
                </div>
            </div>
        }
        else
        {
            <div class="col-lg-4 col-md-6 d-flex">
                <div class="box">
                    <article>
                        <h2><a href="@Html.Raw(LinkManager.GetItemUrl(blogPost.InnerItem))">@Html.Raw(blogPost.Title)</a></h2>
                        <div class="article-info">
                            @if (blogPost.Authors != null && blogPost.Authors.Count() != 0 && blogPost.Authors[0].ProfileImage.MediaItem != null)
                            {
                                authorImage = String.Format("<img src=\"{0}\" style='height:42px;' v-if='window.width > window.mobileWidth' />", MediaManager.GetMediaUrl(blogPost.Authors[0].ProfileImage.MediaItem));
                            }
                            @Html.Raw(authorImage)
                            <div>
                                <span>By </span>
                                <span>@Html.Raw(AuthorManager.GetAuthorLink(blogPost))</span>
                                <span>on </span>
                                <span class="article-date">@Html.Raw(blogPost.PublishDate.DateTime.ToString(settingsItem.BlogListingDateFormat))</span>
                            </div>
                        </div>
                        <p>
                            @if (!String.IsNullOrEmpty(blogPost.Summary))
                            {
                                @Html.Raw(Sitecore.Feature.XBlog.Areas.XBlog.Helpers.Helper.SubstringHtml(blogPost.Summary, settingsItem.DisplaySummaryLength, true));
                            }
                            else
                            {
                                @Html.Raw(Sitecore.Feature.XBlog.Areas.XBlog.Helpers.Helper.SubstringHtml(blogPost.Body, settingsItem.DisplaySummaryLength, true))
                            }
                        </p>
                        <div class="article-tags categorylist cat-link">
                            @Html.Raw("Categories " + CategoryManager.GetCommaSeperatedCategoryList(blogPost))
                        </div>
                    </article>
                </div>
            </div>
        }
}
//To exclude featured blog interupt correct number of pages.
int totalRows = Model.TotalRows - 1;
double decMaxPages = System.Convert.ToDouble(totalRows) / System.Convert.ToDouble(Model.MaximumRows);
int maxPages = System.Convert.ToInt32(Math.Ceiling(decMaxPages));

<section class="pagination"><ul>@Html.Raw(BlogManager.VORGetBlogPagination(settingsItem, Model.CurrentPage, totalRows, Model.MaximumRows))</ul></section>
Model.TotalRows = maxPages;
}
}
<script>
    function getParameterByName(name, url = window.location.href) {
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }
    function isPrev(str) {
        var n = Math.floor(Number(str));
        return n !== Infinity && String(n) === str && n > 1;
    }
    function isNext(str, max) {
        var n = Math.floor(Number(str));
        return n !== Infinity && String(n) === str && n < max;
    }
    function isNexts(str, max) {
        var n = Math.floor(Number(str));
        return n !== Infinity && String(n) === str && n <= max;
    }
    function showHide() {
        var x = document.getElementById("myInput").value
        if (x == 1 && window.location.href.includes("?page=")) {
            var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname;
            window.location.replace(newurl);
        }
        var page = getParameterByName('page');
        var prev = isPrev(page);
         var maxPage = '@Model.TotalRows';
        var next = isNext(page, maxPage);
        if (prev == false) {
            document.getElementsByClassName("prev")[0].style.visibility = 'hidden';
            //if (window.location.href.includes("?page=")) { window.location.href = window.location.protocol + "//" + window.location.host + window.location.pathname;}

        }
        if (next == false && window.location.href.includes("?page=")) { document.getElementsByClassName("next")[0].style.visibility = 'hidden'; }
    }
    var delayTimer;
    function myFunction() {
        clearTimeout(delayTimer);
        delayTimer = setTimeout(function () {
            var x = document.getElementById("myInput").value
            var prev = isPrev(x);
            var maxPage = '@Model.TotalRows';
            var next = isNexts(x, maxPage);
            if (prev == false || next == false) {
                x = 1;
            }

        var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?page=' + x;
        if (x==1) {
           newurl = window.location.protocol + "//" + window.location.host + window.location.pathname;
        }
        window.location.href = newurl;},1000)

    }
</script>

