@using Sitecore.Feature.XBlog.Areas.XBlog.General
@using Sitecore.Mvc


<!-- hero -->
<div class="hero">
    <div class="row banner blog-banner">
        <div class="col-md-8 text-sm-center">
            @Html.Sitecore().Placeholder("headerimage")
        </div>

        @if(!Request.Url.PathAndQuery.ToLower().Contains("/author/"))
        {
            <div class="col d-flex align-right justify-center flex-column">
                @Html.Sitecore().Placeholder("xblogSubscribe")
                @Html.Sitecore().Placeholder("xblogright")
            </div>
        }
    </div>
    @{ string urlCategoryName = DataManager.GetUrlValByPattern(Request.Url.PathAndQuery, XBSettings.XBCategoryUrlPattern);
    if (!String.IsNullOrEmpty(urlCategoryName))
    {
    <div class="row">
        <div class="col-lg-8">
            <article>
                <h1>@urlCategoryName</h1>
            </article>
        </div>
    </div>
    } }
    <div class="row">
        @Html.Sitecore().Placeholder("xblogfeatured")
    </div>
</div>


