@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.DsiNewsAndBlogs.ViewModels.BannerVideoViewModel>

@*<div class="page-hero-image section-spacing-bottom" style="background-color:#000D30">
    <img src="@Model.BackgroundImage.Src" alt="@Model.Poster.Alt">
    <div class="content text-center">
        @if (Model.VideoLink != null)
        {
            <figure class="video">               
                <video poster="@Model.Poster.Src" controls>
                    <source src="@Model.VideoLink.Url" type="audio/mp4" />
                    <source src="@Model.VideoLink.Url" type="audio/ogg" />
                    <p>Your browser does not doesn't support HTML5 video. </p>
                </video>
            </figure>
        }
    </div>
</div>*@
    

<div class="content section-spacing-top text-size-1p25" style="text-align:center">
    <figure class="video img-l wide-12 ">
        <video poster="@Model.Poster.Src" controls >
            <source src="@Model.VideoLink.Url" type="video/mp4" >
            <source src="@Model.VideoLink.Url" type="video/ogg" >
            <p>Your browser does not support HTML5 video.</p>
        </video>
    </figure>    
    <div class="clear"></div>
</div>