@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.DsiNewsAndBlogs.ViewModels.BlogArchiveViewModel>

<div class="content">
    @foreach (var blogArticle in Model.NewsArticles)
    {
        using (BeginEditFrame(blogArticle, "Blog Article", x => x.Title, x => x.SubTitle, x => x.Type, x => x.StartDate, x => x.TileText, x => x.Image))
        {
            <div class="article-item">
                <header style="margin-bottom: 0.2rem; padding-bottom: 0.3rem; border-bottom: 1px solid #e6e6e6;">
                    <h3 class="font-inherit-body">
                        @if (!string.IsNullOrWhiteSpace(blogArticle.LinkOverride))
                        {
                            <a href="@blogArticle.LinkOverride">@Editable(blogArticle, x => x.Title)</a>
                        }
                        else
                        {
                            <a href="@blogArticle.Url">@Editable(blogArticle, x => x.Title)</a>
                        }
                    
                    </h3>
                    <em>@Editable(blogArticle, x => x.SubTitle)</em>
                </header>
                
                <p>By @Editable(blogArticle, x => x.Author) | @Editable(blogArticle, x => x.StartDate, x => x.StartDate.ToString("MMMM dd, yyyy")) </p>
                <div class="row-adjust text-content pad-bottom-1em" >
                    
                    @if (blogArticle.Image != null)
                    {
                        <figure class="xl-col-3 md-col-4  text-c">
                            @if (!string.IsNullOrWhiteSpace(blogArticle.LinkOverride))
                            {
                                <a href="@blogArticle.LinkOverride" class="inline-block">
                                    <img src="@blogArticle.Image.Src" alt="@blogArticle.Image.Alt" height="480" width="480" />
                                </a>
                            }
                            else
                            {
                                <a href="@blogArticle.Url" class="inline-block">
                                    <img src="@blogArticle.Image.Src" alt="@blogArticle.Image.Alt" height="480" width="480" />
                                </a>
                            }
                        </figure>
                        if (Sitecore.Context.PageMode.IsExperienceEditorEditing || !string.IsNullOrWhiteSpace(blogArticle.TileText))
                        {
                            <div class="xl-col-9 md-col-8 ">
                                <p>@Editable(blogArticle, x => x.TileText)</p>
                                @if (!string.IsNullOrWhiteSpace(blogArticle.LinkOverride))
                                {
                                    <a href="@blogArticle.LinkOverride" class="read-more-link">Read More </a>
                                }
                                else
                                {
                                    <a href="@blogArticle.Url" class="read-more-link">Read More </a>
                                }

                            </div>
                        }
                    }
                    else
                    {
                        if (Sitecore.Context.PageMode.IsExperienceEditorEditing || !string.IsNullOrWhiteSpace(blogArticle.TileText))
                        {
                            <div class="xl-col-12">
                                <p>@Editable(blogArticle, x => x.TileText)</p>
                                @if (!string.IsNullOrWhiteSpace(blogArticle.LinkOverride))
                                {
                                    <a href="@blogArticle.LinkOverride" class="read-more-link">Read More </a>
                                }
                                else
                                {
                                    <a href="@blogArticle.Url" class="read-more-link">Read More </a>
                                }

                            </div>
                        }
                    }
                </div>
               @if (blogArticle != Model.NewsArticles.Last())
               {
                   <hr/>
               }
            </div>
        }
    }  
</div>