@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.DsiNewsAndBlogs.ViewModels.FeaturedXBlogsViewModel>
<div id="divFeaturedBlogs">
    <div acr="card" style="--gap:30px;margin:0 !important;">
        <div acr="list" style="--gap:15px;">
            @if (Model.MainFeaturedBlog != null)
            {
                foreach (var mainFeaturedBlog in Model.MainFeaturedBlog)
                {
                    if (mainFeaturedBlog != null)
                    {
                        if (mainFeaturedBlog.FeaturedImage != null)
                        {
                            @RenderImage(mainFeaturedBlog, x => x.FeaturedImage, new { @class = "featured-img" })
                        }
                        else
                        {
                            <img src="/images/DsiNewsAndBlogs/Blog.JPG" class="featured-img" />
                        }
                        <a href="@mainFeaturedBlog.Url" acr="link" style="font-size:25px !important;">@Editable(mainFeaturedBlog, x => x.Title)</a>
                        <div acr="list-column" class="article-info v-center">
                            <div>
                                @ACRHelix.Feature.DsiNewsAndBlogs.Utilities.XBlogUtility.ParseBlogPublishDate(mainFeaturedBlog.PublishDate)

                             |
                            @ACRHelix.Feature.DsiNewsAndBlogs.Utilities.XBlogUtility.ParseBlogAuthors(mainFeaturedBlog.Author)
                        </div>
                    </div>
                    <p acr style="font-size:17px;">
                        @Html.Raw(ACRHelix.Feature.DsiNewsAndBlogs.Utilities.XBlogUtility.SubstringHtml(mainFeaturedBlog.Summary, 150, true))
                    </p>
                    <div class="article-tags">
                        Categories
                        @Html.Raw(ACRHelix.Feature.DsiNewsAndBlogs.Utilities.XBlogUtility.ParseBlogCategories(mainFeaturedBlog.Category))
                    </div>
                }
            }
        }
        </div>

        <div acr="list" style="--gap:15px;">
            <div acr="list">
                <ul class="post-list">
                    @if (Model.SubFeaturedBlogs != null)
                    {
                        foreach (var subFeaturedBlogs in Model.SubFeaturedBlogs)
                        {
                            if (subFeaturedBlogs != null)
                            {
                                <li acr="list-column" class="v-center">
                                    @if (subFeaturedBlogs.FeaturedImage != null)
                                    {
                                        @RenderImage(subFeaturedBlogs, x => x.FeaturedImage, new { @alt = "article image" })
                                    }
                                    else
                                    {
                                        <img src="/images/DsiNewsAndBlogs/Blog.JPG" />
                                    }
                                    <div acr="list">
                                        <a href="@subFeaturedBlogs.Url" acr="link" class="article-title">@Editable(subFeaturedBlogs, x => x.Title)</a>
                                        <div acr="list-column" class="article-info v-center">
                                            <div>
                                                @ACRHelix.Feature.DsiNewsAndBlogs.Utilities.XBlogUtility.ParseBlogPublishDate(subFeaturedBlogs.PublishDate)
                                             | @ACRHelix.Feature.DsiNewsAndBlogs.Utilities.XBlogUtility.ParseBlogAuthors(subFeaturedBlogs.Author)
                                        </div>
                                    </div>
                                    <p acr>
                                        @Html.Raw(ACRHelix.Feature.DsiNewsAndBlogs.Utilities.XBlogUtility.SubstringHtml(subFeaturedBlogs.Summary, 150, true))
                                    </p>
                                    <div class="article-tags">
                                        Categories
                                        @Html.Raw(ACRHelix.Feature.DsiNewsAndBlogs.Utilities.XBlogUtility.ParseBlogCategories(subFeaturedBlogs.Category))
                                    </div>
                                </div>
                            </li>
                        }
                    }
                }
                </ul>
            </div>
        </div>
    </div>
    <hr acr style="--bg-color: var(--color-orange);">
</div>
@*<script>
           if (window.location.pathname.includes("category")) { $("#divFeaturedBlogs").hide(); }
           if (window.location.href.includes("?page=")) { $("#divFeaturedBlogs").hide(); }
    </script>*@

