@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.News.ViewModels.NewsTileViewModel>
@using ACRHelix.Foundation.EditFrames;
@using System.Linq;

<style>
   .slick-slide .scLooseFrameZone{
       width:25%;
   }
</style>

<div class="content section-spacing">
    <section>
        @*<header id="upcomingChapterMeetings-">
            <h2>@Editable(x => x.Title)</h2>
            <hr>
        </header>*@
        <header class="header-underrule">
            <div class="space-between">
                <h2 class="inline-block">@Editable(x => x.Title)</h2>
                @*@if (Model.TagList != null)
                {
                <div class="inline-block filter-select-holder tagFilter">                    
                        @Html.DropDownListFor(x => x.TagFilter, Model.TagList)            
                </div>
                }*@
            </div>
        </header>
        <!--start: Module -->
        <div class="content section-spacing">
            <div class="row indented-section">
                <section class="recent-news-slider" >
                    @*<div class="slick-slide flex-container">*@

                    @foreach (var list in Model.NewsTilePages)
                    {
                        <div class="slick-slide flex-content-left">
                            @foreach (var newsTile in list)
                            {
                                using (BeginEditFrame(EditFrameConstants.Paths.Edit, newsTile.Id.ToString(), "News"))
                                {
                                    string style = "";
                                    if (Sitecore.Context.PageMode.IsExperienceEditor)
                                    {
                                        style = "width:100%";
                                    }

                                    <div class="xl-col-3 lg-col-6" style="@style">
                                        <div class="event-tile text-content" style="min-height: 203px">
                                            <span class="text-size-p75 event-tile-date">@newsTile.Date.ToString("MMMM dd, yyyy")</span>
                                            <h3>
                                                <a href="@newsTile.Url">@Editable(newsTile, x => x.Title)</a>                                               
                                            </h3>
                                            @*<span class="text-size-p75 event-tile-location">
                                                @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
                                                {
                                            @Editable(newsTile, x => x.TileText)
                                                }
                                                else
                                                {
                                                    if(newsTile.TileText.Length > 140)
                                                    {
                                                        @newsTile.TileText.Substring(0, 140);
                                                    }
                                                    else
                                                    {
                                                        @newsTile.TileText
                                                    }
                                                }
                                            </span>*@                                    
                                            <a href="@newsTile.Url" class="tile-bottom-link read-more-link">Read More</a>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    }
                    @*</div>*@
                </section>
                <div class="resources-slider-nav">
                    <div class="slick-custom-pager"></div>
                </div>
            </div>
        </div>
        <!--end: Module -->
    </section>
</div>

