@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Login.ViewModels.LoginTestViewModel>

<div class="content section-spacing-top">
	<h1>LoginTest</h1>

	<hr>
</div>
<div class="content section-spacing-bottom indented-section">
	<div class="row flex-container">
		<div class="xl-col-6 md-col-12">
			<h2>PersonifyIDs in Cart:</h2>
			<ul>
				@foreach (var p in Model.PersonifyIDs)
				{
				<li>@p</li>
				}
			</ul>
			<h2>Customer Token: @Model.CustomerToken</h2>
			<br />
            <h2>Interests</h2>
            @foreach(var inter in Model.Interests)
            {
                <div>Name: @inter.DisplayName</div>
                <div>ID: @inter.PersonifyID</div>
            }
			<br />
            <h2>Modalities</h2>
            @foreach (var inter in Model.Modalities)
            {
                <div>Name: @inter.DisplayName</div>
                <div>ID: @inter.PersonifyID</div>
            }
            <br />
            <h2>Subspecs</h2>
            @foreach (var inter in Model.Subspecialties)
            {
                <div>Name: @inter.DisplayName</div>
                <div>ID: @inter.PersonifyID</div>
            }
            <br />
            <h2>Profile Values</h2>
			@foreach (var info in Model.InfoPairs)
            {
                <div>
                    <label>@info.Key</label><span>@info.Value</span>
                </div>
            }
		</div>
	</div>
	<div class="section-spacing-top">
		<h2>User Data</h2>
		<div class="box">
		@Model.UserData
		</div>
	</div>

	<div class="section-spacing-top">
		<h2>Profile Data</h2>
		<div class="box">
			@Model.UserProfile
		</div>
	</div>
    @*@using (Html.BeginForm())
    {
        <h1>Test Taxonomy Import</h1>
        <p>@Model.ImportResults</p>
        @Html.RadioButtonFor(x => x.Import, "Taxonomy")
        @Html.RadioButtonFor(x => x.Import, "Products")
        <input type="submit" value="Import Taxonomy" id="errClick">
    }*@
</div>
