@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Login.ViewModels.LoginViewModel>
@using System.Collections.Specialized;




<div class="content section-spacing-top">
    <h1>@Editable(x => x.Title)</h1>
    <div class="space-between text-content pad-bottom-1em">
        @Editable(x => x.SubTitle)
        @Editable(x => x.NeedHelpLink)
    </div>
    <hr>
</div>
<div class="content section-spacing-bottom indented-section">
    <div class="row flex-container">
        <div class="xl-col-6 md-col-12">
            <div class="member-login-form">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div id="err-msg" class="required text-size-p875" style="@Model.LoginErrorCSS"><p> Invalid username and/or password. Please try again or <a href="@Model.NeedHelpLink.Url">get help</a> logging in. Looking for Accreditation? <a href="@Model.AccreditationLoginLink.Url">Click here</a>.</p></div>
                    <label class="margin-top-0">Username</label>

                    @Html.TextBoxFor(x => x.Username, new { @placeHolder = "Username" })


                    <label>Password</label>

                    @Html.PasswordFor(x => x.Password, new { @placeholder = "Enter Password", @autocomplete = "off" })

                    <div class="input-space space-between">
                        <div class="acr-checkbox">
                            @Html.CheckBoxFor(x => x.RememberMe)
                            <label>Remember Me &nbsp;</label>
                        </div>
                        @Editable(x => x.ForgotPasswordLink)
                    </div>
                    @Html.HiddenFor(x => x.HiddenCaptcha)
                    <div class="input-space">
                        <input type="submit" value="Login" id="loginSubmitBtn">
                    </div>
                }
                <div class="input-space">
                    @RenderLink(x => x.AccreditationLoginLink, new NameValueCollection() { { "class", "button btn-ghost-blue" } }, isEditable: true)
                    &nbsp;
                    @using (BeginEditFrame(Model, "Accreditation Tooltip", x => x.AccreditationTooltip))
                    {
                        <a class="tool-tip tip-question text-size-1p25" href="#">
                            <span class="tip-text text-size-1">
                                @Html.Raw(Model.AccreditationTooltip)
                            </span>
                        </a>
                    }
                    <br>
                </div>
            </div>
        </div>

        <div class="xl-col-6 md-col-12 xl-bdr-left lg-bdr-left">
            <hr class="xl-hide lg-hide">
            <div class="xl-add-col-l-pad lg-add-col-l-pad">
                <div class="text-content">
                    <h2 class="not-a-member-title">
                        @Editable(x => x.RightSectionTitle)
                    </h2>
                    @Editable(x => x.RightSectionText)
                    <br>
                    @RenderLink(x => x.BecomeAMemberLink, new NameValueCollection() { { "class", "button" } }, isEditable: true)
                    <br>
                    <br>
                    @Editable(x => x.RightSectionBottomText)
                </div>
            </div>
        </div>
    </div>
    <div class="section-spacing-top">
        <div class="box">
            @Editable(x => x.Questions)
        </div>
    </div>
</div>
