@using Coveo.UI
@using Coveo.UI.Extensions
@using Sitecore.Mvc
@using ACR.Foundation.CookieBot.CookieBotModule;
@model Coveo.UI.Mvc.Models.SearchModel

@* When customizing this component, ensure to use "Coveo.$" instead of the regular jQuery "$" to
    avoid any conflicts with Sitecore's Page Editor/Experience Editor.  *@

@Html.Coveo().RenderErrorSummary(Model.ValidateModel())
@if (Model.IsConfigured)
{
    <script type="text/javascript" src="/Coveo/js/cultures/@(Model.CultureName).js"></script>
    <script type="text/javascript">
            var firstQuery1 = true;
            var pagerScroll = false;
            var currentScrollPosition = 0;
            var scrollPageLocation = 0;
            var resultStartLocation = 0;
            Coveo.$(window).on('scroll', function(e) {
                var top = $(window).scrollTop();
                if ($(window).scrollTop() > scrollPageLocation) {
                    scrollPageLocation = top;
                }
                if (top != 0) {
                    currentScrollPosition = top;
                }

            });

            function noscroll() {
                if (Coveo.$('.resp-nav-header').is(':visible') && pagerScroll === false) {
                    Coveo.$(window).scrollTop(currentScrollPosition);
                } else {
                    Coveo.$(window).scrollTop(resultStartLocation);
                }
            }
        Coveo.$(function () {
            var indexDate = "2020/01/01";
                Coveo.Logger.disable();
                var coveoOptions = @(Html.Raw(Model.GetJavaScriptInitializationOptions()));
            var hasLayout = '(' + buildFilterExpression('@Model.ToCoveoFieldName("displayinsearchresults")', '1', '==') + buildFilterExpression('@Model.ToCoveoFieldName("haslayout")', '1', '==') + '(NOT (@Model.ToCoveoFieldName("_templatename")=="Product Stub"))' + '(@Model.ToCoveoFieldName("sitename")=="website")' + buildDateFilterExpression('@Model.ToCoveoFieldName("indexeddate")', indexDate, '>=') + ')' + ' OR (' + buildFilterExpression('@Model.ToCoveoFieldName("contenttype")', 'Testimonial', '==') + buildFilterExpression('@Model.ToCoveoFieldName("displayinsearchresults")', '1', '==') + ') OR ((' + buildFilterExpression('@Model.ToCoveoFieldName("contenttype")', 'Document', '==') + ' OR ' + buildFilterExpression('@Model.ToCoveoFieldName("contenttype")', 'File', '==') + ') AND ' + buildFilterExpression('@Model.ToCoveoFieldName("sitename")', 'ACR', '==') +  buildDateFilterExpression('@Model.ToCoveoFieldName("indexeddate")', indexDate, '>=') + ')';           
            hasLayout = hasLayout.replace(new RegExp("indez120xeddate", "g"), "indexeddate"); 
                var filterExpression = hasLayout;
                coveoOptions.filterExpression = '('+filterExpression + ' OR ' + buildProductFilter()+')';
                //coveoOptions.boostExpressions = "$qre(expression:(@Model.ToCoveoFieldName("contenttype ")==\"Content Page\"), modifier:'300')";
                //coveoOptions.boostExpressions = "$qre(expression:(@Model.ToCoveoFieldName("contenttype ")==\"Product\"), modifier:'-500')";

                var qre1 = createQre('@Model.ToCoveoFieldName("contenttype")=Content Page', "99");
                var qre2 = createQre('@Model.ToCoveoFieldName("contenttype")=Product', "-80");

coveoOptions.boostExpressions = qre1 + qre2;

                CoveoForSitecore.componentsOptions = coveoOptions;
        });

        var createQre = function (expression, modifier) {
            var qre = "";
            if (expression && modifier) {
                qre = "$qre(expression:'" + expression + "', modifier:'" + modifier + "')";
            }
            return qre;
        };

            function buildProductFilter() {
                var date = coveoDateString();
                var xTemplate = buildFilterExpression('@Model.ToCoveoFieldName("_templatename")', 'Product Stub', '==');
                var xDisplay = buildFilterExpression('@Model.ToCoveoFieldName("Web Display")', '1', '==');
                var xWebStart = buildDateFilterExpression('@Model.ToCoveoFieldName("productstubwebdisplaystartdate")', date, '<=');
                var xWebEnd = buildDateFilterExpression('@Model.ToCoveoFieldName("productstubwebdisplayenddate")', date, '>=');
                var xMeetingStart = buildDateFilterExpression('@Model.ToCoveoFieldName("productstubmeetingstartdate")', date, '>=');
                var xClass = '(NOT (@Model.ToCoveoFieldName("productstubproductclass")=="Do not Display"))'; //product class =do not display
                var xListPrice = '(NOT (@Model.ToCoveoFieldName("List Price")==""""))';
                var xDeliveryMethod = '(NOT (@Model.ToCoveoFieldName("productstubdeliverymethod")==""""))';
                var xType = '(@Model.ToCoveoFieldName("productstubproducttype")=="Meeting")'
                var xUmbrellaProduct = '(@Model.ToCoveoFieldName("productstubproducttype") == "Umbrella Product")';
                var filterExpression = '(' + xTemplate + xDisplay + xWebStart + '(' + xListPrice + ' OR ' + xUmbrellaProduct + ')' + xWebEnd + xMeetingStart + xClass + '(' + xDeliveryMethod + ' OR ' + xType + '))';
                //var filterExpression = '(' + xTemplate + xDisplay + xWebStart + xListPrice + xWebEnd + xMeetingStart + xClass + '(' + xDeliveryMethod + ' OR ' + xType + '))';
                return filterExpression;
            }
    </script>

    @*
        <!-- This hidden input is required to bypass a problem with the Enter key causing a form submission
        if the form has exactly one text field, or only when there is a submit button present. -->
        <input type="text" class="fix-submit" />
    *@

    <div id="@Model.Id"
         class="CoveoSearchInterface @(Model.DisplayRecommendations ? "coveo-recommendations" : "")"
         data-enable-history="@Model.EnableHistory"
         data-results-per-page="@Model.ResultsPerPage"
         data-excerpt-length="@Model.ExcerptLength"
         data-hide-until-first-query="@Model.HideUntilFirstQuery"
         data-auto-trigger-query="@Model.AutoTriggerQuery"
         data-enable-automatic-responsive-mode="false"
         data-design="new"
         @if (Model.IsMaximumAgeSet) { @: data-maximum-age="@Model.MaximumAge"
         }
         @if (Model.UseCustomQueryPipeline) { @: data-pipeline="@Model.QueryPipelineName"
         }>

        @{

            var cookies = CookieBotHttpModule.CookiesAllowed();

            if (Model.AnalyticsEnabled && cookies.StatisticCookiesAllowed)
            {
                <div class="CoveoAnalytics"
                     data-anonymous="@Model.IsUserAnonymous"
                     data-endpoint="@Model.GetAnalyticsEndpoint()"
                     data-search-hub="@Model.GetAnalyticsCurrentPageName()"
                     data-send-to-cloud="@Model.CoveoAnalyticsEnabled">
                </div> }
        }

        <div class="coveo-main-section">

            <div class="content section-spacing-top">
                <h1>Search Results</h1>

                <div class="row-adjust">
                    <div class="md-col-12 xl-col-4">
                        <div class="resp-nav-mobile-dd">
                            <div class="resp-nav-header">
                                <strong class="inline-block text-size-1p125">Search Filters</strong>
                                <i class="acr-icon toggle-down-arrow icon-sort-down"><span class="sr-only">Down Arrow</span></i>
                            </div>
                            <div class="resp-nav-dd-body">
                                @Html.Sitecore().Placeholder("coveo-facets-mvc")
                            </div>
                        </div>
                    </div>

                    <div class="md-col-12 xl-col-8">

                        <div class="coveo-distance-resources-section">
                            @Html.Sitecore().Placeholder("coveo-distance-resources-mvc")
                        </div>
                        @if (Model.DisplayTabs)
                        {
                            <div class="coveo-tab-section coveo-placeholder-fix">
                                @Html.Sitecore().Placeholder("coveo-tabs-mvc")
                            </div>
                        }

                        <div class="coveo-results-column section-spacing-bottom">
                            @if (Model.DisplaySearchbox)
                            {
                                <div class="CoveoSearchbox CoveoSearchPageSearchbox" style="display:none"
                                     data-auto-focus="@Model.AutoFocus"
                                     data-enable-lowercase-operators="@Model.EnableLowercaseOperators"
                                     data-enable-partial-match="@Model.EnablePartialMatch"
                                     data-partial-match-keywords="@Model.PartialMatchKeywords"
                                     data-partial-match-threshold="@Model.PartialMatchThreshold"
                                     data-enable-question-marks="@Model.EnableQuestionMarks"
                                     data-enable-wildcards="@Model.EnableWildcards"
                                     @if (Model.EnableOmnibox) { @: data-enable-omnibox="true"
                                      @: data-omnibox-timeout="@Model.OmniboxTimeout"
                                      @: data-enable-field-addon="@Model.OmniboxEnableFieldAddon"
                                      @: data-enable-simple-field-addon="@Model.OmniboxEnableSimpleFieldAddon"
                                      @: data-enable-top-query-addon="@Model.OmniboxEnableTopQueryAddon"
                                      @: data-enable-reveal-query-suggest-addon="@Model.OmniboxEnableMLQuerySuggestAddon"
                                      @: data-enable-query-extension-addon="@Model.OmniboxEnableQueryExtensionAddon"
                                     }
                                     @if (Model.IsSearchAsYouTypeEnabled) { @: data-enable-search-as-you-type="true"
                                      @: data-search-as-you-type-delay="@Model.SearchboxSuggestionsDelay"
                                     }>
                                </div>
                            }
                            @if (Model.DisplayBreadcrumb)
                            {
                                <div class="CoveoBreadcrumb"></div>
                            }

                            <div class="coveo-results-header">
                                <div class="coveo-summary-section">
                                    @if (Model.DisplayQuerySummary)
                                    {
                                        <span class="CoveoQuerySummary"
                                              data-enable-search-tips="@Model.QuerySummaryEnableSearchTips"
                                              data-only-display-search-tips="@Model.QuerySummaryOnlyDisplaySearchTips"></span>
                                    }
                                    @if (Model.DisplayQueryDuration)
                                    {
                                        <span class="CoveoQueryDuration"></span>
                                    }
                                </div>
                                <div class="inline-ul tabs acr-tabs" role="menubar">
                                    <ul class="search-filter-tabs">
                                        <li class="active"><a data-type="all" hef="#">Show All</a></li>
                                        <li><a data-type="Bulletin Article,Coding Source,Case Study" href="#"><span class="acr-icon text-orange icon-document"></span>&nbsp;&nbsp;Articles</a></li>
                                        <li><a data-type="News,Press Release,Chapter News" href="#"><span class="acr-icon text-orange icon-document"></span>&nbsp;&nbsp;News</a></li>
                                        <li><a data-type="File,Document" href="#"><span class="acr-icon text-orange icon-printer"></span>&nbsp;&nbsp;Files</a></li>
                                        <li><a data-type="Meeting / Course,Chapter Meeting,Product" href="#"><span class="acr-icon text-orange icon-alarm-clock"></span>&nbsp;&nbsp;Meetings</a></li>
                                        <li><a data-type="Product" href="#"><span class="acr-icon text-orange icon-shop"></span>&nbsp;&nbsp;Products</a></li>
                                    </ul>
                                </div>

                                @if (Model.DisplaySorting)
                                {
                                    <div class="coveo-sort-section">
                                        @Html.Sitecore().Placeholder("coveo-sorts-mvc")
                                    </div>
                                }
                            </div>

                            <div class="CoveoHiddenQuery"></div>

                            @if (Model.DisplayDidYouMean)
                            {
                                <div class="CoveoDidYouMean"
                                     data-enable-auto-correction="@Model.EnableDidYouMeanAutoCorrection"></div>
                            }

                            @if (Model.DisplayErrorReport)
                            {
                                <div class="CoveoErrorReport"></div>
                            }

                            @if (Model.DisplayResultList)
                            {
                                if (Model.DisplayTopPager)
                                {
                                    <div class="CoveoPager"
                                         data-number-of-pages="@Model.PagerNumberOfPages"
                                         data-max-number-of-pages="@Model.PagerMaxNumberOfPages"
                                         data-enable-navigation-button="@Model.EnablePagerNavigationButton"></div>
                                }
                                <div id="first" class="CoveoResultList"
                                     data-wait-animation="fade"
                                     data-enable-infinite-scroll="@Model.EnableInfiniteScroll"
                                     data-infinite-scroll-page-size="@Model.InfiniteScrollPageSize">

                                    <script class="result-template" type="text/underscore">
                                        <section class="search-item" data-templatename="{{=raw.@(Model.ToCoveoFieldName("_templatename", false))}}">
                                            <header>
                                                <div data-contenttype="{{=raw.@(Model.ToCoveoFieldName("contenttype",false))}}" data-producttype="{{=raw.@(Model.ToCoveoFieldName("productstubdeliverymethod",false))}}" class="result-type"><span class="acr-icon text-orange"></span>{{=raw.@(Model.ToCoveoFieldName("contenttype", false))}}</div>
                                                <div class="text-size-p875">
                                                    <strong class="display-date">{{=raw.@(Model.ToCoveoFieldName("contentdisplaydate", false))}}</strong>
                                                </div>

                                                <h3><a class="CoveoResultLink" href="{{=raw.@(Model.ToCoveoFieldName("contenturl", false))}}">{{=raw.@(Model.ToCoveoFieldName("contenttitle", false))}}</a></h3>
                                            </header>
                                            <p class="search-result-description">{{=raw.@(Model.ToCoveoFieldName("contentdescription", false))}}</p>
                                            <p class="CoveoExcerpt search-result-excerpt" style="display:none">{{= highlight(excerpt, excerptHighlights)}}</p>

                                            <a href="{{=raw.@(Model.ToCoveoFieldName("contenturl", false))}}" class="CoveoResultLink read-more-link">Read More</a>
                                        </section>
                                    </script>
                                </div>
                                if (Model.DisplayBottomPager)
                                {
                                    <div class="CoveoPager" style="display:none"
                                         data-number-of-pages="@Model.PagerNumberOfPages"
                                         data-max-number-of-pages="@Model.PagerMaxNumberOfPages"
                                         data-enable-navigation-button="@Model.EnablePagerNavigationButton"></div>

                                    <div class="search-pager-nav">
                                        <div class="slick-prev slick-arrow" aria-label="Previous" role="button"></div>
                                        <div class="slick-custom-pager" role="toolbar"><input class="slide-num-input" data-prev-val="1" value="1" type="text"> of 3</div>
                                        <div class="slick-next slick-arrow" aria-label="Next" role="button"></div>
                                    </div>
                                }
                                if (Model.DisplayResultsPerPage)
                                {
                                    <div class="CoveoResultsPerPage"></div>
                                }
                            }
                        </div>

                        @if (Model.DisplayRecommendations)
                        {
                            <div class="coveo-recommendation-column">
                                @Html.Sitecore().Placeholder("coveo-recommendations-mvc")
                            </div>
                        }
                    </div><!--end main row-->
                </div><!--.row-adjust-->
            </div>
        </div>
    </div>

    <script type="text/javascript">
			Coveo.$(function() {
				Coveo.$('#@Model.Id').coveoForSitecore('init', CoveoForSitecore.componentsOptions);

			});
    </script>

}
@if (Model.HasErrors)
{
    <div class="CoveoServerError">
        <h3>@Model.Labels[LocalizedStringKeys.FRIENDLY_SEARCH_UNAVAILABLE_TITLE]</h3>
        <h4>@Model.Labels[LocalizedStringKeys.FRIENDLY_SEARCH_UNAVAILABLE_DETAIL]</h4>
    </div>
}
@if (Html.Coveo().IsEditingInPageEditor())
{
    <script type="text/javascript">
        Coveo.$(function () {
            Coveo.PageEditorDeferRefresh.triggerUpdate();
        });
    </script>
}

@*customize acr coveo*@
<script type="text/javascript">
    Coveo.$(function() {
    Coveo.$('#filter-dropdown-area').find('input').on('click', function() {
        Coveo.$('#filter-tab-outer').click()
    });
    //setupSearchGA();
});

var tabClicked = false;

Coveo.$("#acr_70B66071-0D3B-4DB7-B188-42EB0DD9055F").on("doneBuildingQuery", function(e, data) {

    if (!firstQuery1) {
        window.addEventListener('scroll', noscroll);
    }

    if (data.queryBuilder.expression.parts.length > 0) {
        if (data.queryBuilder.expression.parts[0].indexOf(',') >= 0) {
            data.queryBuilder.expression.parts[0] = data.queryBuilder.expression.parts[0].replace(/,/g, '');
        }
    }
    //var searchTermLength = Coveo.$(".magic-box-input").find('input').val().trim().length;
    @*if (searchTermLength == 0) {
        data.queryBuilder.sortCriteria = '@Model.ToCoveoFieldName("contentdate") descending'
    }*@

});

Coveo.$("#acr_70B66071-0D3B-4DB7-B188-42EB0DD9055F").on('newResultsDisplayed', function() {
    //wrap html with proper outer elements
    //Coveo.$('.coveo-list-layout').children().unwrap().unwrap();

    Coveo.$('.search-item').each(function() {

        var template = Coveo.$(this).attr('data-templatename');
        var productType = Coveo.$(this).find('.result-type').attr('data-producttype');
        var type = Coveo.$(this).find('.result-type').attr('data-contenttype');

        if ((template == 'Product Stub' && productType != 'Courses/Meetings/Webinars') || type == 'Meeting / Course') {
            Coveo.$(this).find('.display-date').hide();
        }

        if (template == 'Bulletin Home Page' || template == 'Bulletin Issue List Page' || template == 'Bulletin Topic Page') {
            Coveo.$(this).find('.display-date').hide();
        }

        if (Coveo.$(this).find('.display-date').text().trim() == 'January 1, 0001') {
            Coveo.$(this).find('.display-date').hide();
        }

        var shortDescription = Coveo.$(this).find('.search-result-description');
        if (shortDescription.text().trim() == "") {
            shortDescription.hide();
            Coveo.$(this).find('.search-result-excerpt').show();
        }

        var iclass = 'icon-document';

        if (type == 'Product') {
            if (productType == 'Courses/Meetings/Webinars') {
                iclass = 'icon-alarm-clock';
            } else {
                iclass = 'icon-shop';
            }
        }
        if (type == 'Meeting / Course') {
            iclass = 'icon-alarm-clock';
        }
        if (type == 'Document') {
            iclass = 'icon-printer';
        }
        if (type == 'File') {
            iclass = 'icon-download-folder';
        }
        Coveo.$(this).find('.acr-icon').addClass(iclass);
    });

});

//Coveo Pager / scrolling
Coveo.$(document).on('click', '.coveo-pager-list-item a, .coveo-pager-list-item', function() {
    pagerScroll = true;
});

Coveo.$("#acr_70B66071-0D3B-4DB7-B188-42EB0DD9055F").on('deferredQuerySuccess', function(e, data) {
    //console.log('defer query success');

    if (!tabClicked) {
        Coveo.$('.search-filter-tabs').find('li').removeClass('active');
        Coveo.$('.search-filter-tabs').find('li').first().addClass('active');
    }
    tabClicked = false;

    //custom pager actions
    var currentPage = 1;
    var totalResult = parseInt(Coveo.$('.CoveoQuerySummary').find('.coveo-highlight').last().text().replace(/,/g, ''));
    var firstResult = parseInt(Coveo.$('.CoveoQuerySummary').find('.coveo-highlight').first().text().replace(/,/g, ''));
    var pageSize = parseInt(Coveo.$('#acr_70B66071-0D3B-4DB7-B188-42EB0DD9055F').attr('data-results-per-page'));
    var currentPage = Math.ceil(firstResult / pageSize);
    var lastPage = Math.ceil(totalResult / pageSize);
    var newPager = '<input class="slide-num-input" data-prev-val="' + (currentPage - 1) + '" value="' + currentPage + '" type="text"> of ' + lastPage;
    Coveo.$('.slick-custom-pager').html(newPager);

    Coveo.$(".searchedFor").detach();
    var term = getSearchedTerm();
    if (term != '') {
        var searchedString = '<h4 class="searchedFor">You searched for <span class="search-term">"' + decodeURIComponent(term) + '"</span></h4>';
        Coveo.$(".coveo-summary-section").prepend(searchedString);

    }

    Coveo.$('.custom-no-results').detach();
    var noResults = Coveo.$('.coveo-query-summary-no-results-string');
    if (noResults.length > 0) {
        noResults.hide();
        Coveo.$('.CoveoQuerySummary').hide();
        Coveo.$('.coveo-summary-section').append('<p class="custom-no-results">Sorry, no results could be found for your query. Please revise your search and try again.</p>')
        Coveo.$('.search-pager-nav').hide();
    } else {
        Coveo.$('.search-pager-nav').show();
        Coveo.$('.CoveoQuerySummary').show();
    }

    if (resultStartLocation === 0) {
        resultStartLocation = $(".coveo-results-header").first().offset().top - 175;
    }
    if (!firstQuery1) {
        //noscroll();
        setTimeout(function() {
            window.removeEventListener('scroll', noscroll);
            pagerScroll = false;

        }, 250);
    }
    firstQuery1 = false;

});

Coveo.$('.search-pager-nav').on('click', '.slick-prev', function() {
    pagerScroll = true;
    window.addEventListener('scroll', noscroll);
    Coveo.$('.coveo-pager-previous').click();
});
Coveo.$('.search-pager-nav').on('click', '.slick-next', function() {
    pagerScroll = true;
    window.addEventListener('scroll', noscroll);
    Coveo.$('.coveo-pager-next').click();
});

Coveo.$('.search-filter-tabs').find('a').click(function() {
    var searched = Coveo.$('#acr_70B66071-0D3B-4DB7-B188-42EB0DD9055F .CoveoSearchbox').find('input').val();
    tabClicked = true;
    var datatype = Coveo.$(this).attr('data-type');
    Coveo.$('.search-filter-tabs').find('li').removeClass('active');
    Coveo.$(this).parent().addClass('active');

    Coveo.$('#acr_70B66071-0D3B-4DB7-B188-42EB0DD9055F .CoveoFacet').coveo('reset');
    setTimeout(function() {
        if (datatype != 'all') {
            var split = datatype.split(',');
            Coveo.$(split).each(function() {
                Coveo.$('#contentType').coveo('selectValue', this);
            });

            if (datatype == 'Meeting / Course,Chapter Meeting,Product') {
                Coveo.$('#productType').coveo('selectValue', 'Courses/Meetings/Webinars')
            }
        }
        tabClicked = true;
        Coveo.$('#acr_70B66071-0D3B-4DB7-B188-42EB0DD9055F .CoveoSearchbox').find('input').val(searched);
        $('#acr_70B66071-0D3B-4DB7-B188-42EB0DD9055F .CoveoSearchButton').find('.coveo-icon').click()

    }, 500);

});

Coveo.$('.search-pager-nav').on('focusout', '.slide-num-input', function() {
    window.addEventListener('scroll', noscroll);
    setPage();
});

function setPage() {
    var page = parseInt(Coveo.$('.slide-num-input').val());
    if (page > 0) {
        pagerScroll = true;
        Coveo.$('.CoveoPager').coveo('setPage', page)
    }
}

Coveo.$('.search-pager-nav').on('keypress', '.slide-num-input', function(e) {
    if (e.which == 13) {
        setPage();
    }
});

function getSearchedTerm() {
    var hash = window.location.hash;
    var term = '';
    if (hash.indexOf('q=') > 0) {
        var and = hash.indexOf('&');

        if (and > 0) {
            term = hash.substring(3, and);
        } else {
            term = hash.substring(3);
        }
    }
    return term;
}
</script>

@{

    if (CookieBotHttpModule.CookiesAllowed().StatisticCookiesAllowed)
    {
        <script>
            const cookieName = 'CoveoContentSearchTerm';
            Coveo.$("#acr_70B66071-0D3B-4DB7-B188-42EB0DD9055F").on('deferredQuerySuccess', function (e, data) {
                var term = getSearchedTerm()
                var cookieTerm = getCookie(cookieName);
                if (cookieTerm != term) {
                    setCookie(cookieName, term, 1, '/');
                    //setGoogleAnalyticsSearch(term, 'UA-6363462-9', '/Content-Search-Results');
                    gaSendSiteSearch('/Search-Results', term, 'UA-6363462-9');
                }
            });

            var createGa = false;
            function gaSendSiteSearch(searchUrl, query, gaid) {
                if (!createGa) {

                    (function (i, s, o, g, r, a, m) {
                        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date(); a = s.createElement(o),
                            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

                    ga('create', gaid, 'auto');
                }
                var pageUrl = searchUrl + '?q=' + query;
                ga('set', 'page', pageUrl);
                ga('send', 'pageview');
                console.log('search event sent to GA: ' + searchUrl + '?q=' + query);
            }
        </script>
    }
}