@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Coveo.UI
@using Coveo.UI.Extensions
@using Sitecore.Mvc
@using ACR.Foundation.CookieBot.CookieBotModule;
@model Coveo.UI.Mvc.Models.SearchModel


@* When customizing this component, ensure to use "Coveo.$" instead of the regular jQuery "$" to
    avoid any conflicts with Sitecore's Page Editor/Experience Editor.  *@

@Html.Coveo().RenderErrorSummary(Model.ValidateModel())
@if (Model.IsConfigured)
{
    <script type="text/javascript" src="/Coveo/js/cultures/@(Model.CultureName).js"></script>
    <script type="text/javascript">

var firstQuery = true;

var currentScrollPosition = 0;
var scrollPageLocation = 0;
var resultStartLocation = 0;
Coveo.$(window).on('scroll', function(e) {
var top = $(window).scrollTop();
if($(window).scrollTop() > scrollPageLocation){
scrollPageLocation = top;
}
if(top != 0){
currentScrollPosition = top;
}

});

function noscroll() {
if(Coveo.$('.resp-nav-header').is(':visible')){
	Coveo.$(window).scrollTop(currentScrollPosition);
}else{
  Coveo.$(window).scrollTop(resultStartLocation);
  }
}

        Coveo.$(function () {
		Coveo.Logger.disable();
            var coveoOptions = @(Html.Raw(Model.GetJavaScriptInitializationOptions()));

            var date = coveoDateString();
            //old meetings

			//setup date filters
			var todaysDate = new Date();
            var mm = (todaysDate.getMonth() + 1);
            var dd =  todaysDate.getDate();
            if(mm < 10){
                mm = '0' + mm;
            }
            if(dd < 10){
                dd = '0' + dd;
            }

            Coveo.$("[id$='txtFromDate']").val(mm + '/' + dd + '/' + todaysDate.getFullYear());
            Coveo.$("[id$='txtToDate']").val('12/31/9999');
			jQuery("[id$='txtFromDate']").datepicker({onSelect: function(){Coveo.$('.CoveoSearchButton').click();Coveo.$('.ch-future-date-range:checked').prop('checked', false);}});
			jQuery("[id$='txtToDate']").datepicker({onSelect: function(){Coveo.$('.CoveoSearchButton').click();Coveo.$('.ch-future-date-range:checked').prop('checked', false);}});

            var xTemplate1 = buildFilterExpression('@Model.ToCoveoFieldName("_templatename")', 'Chapter Meeting', '=='); //'(' + template + '=="4D482E8667974D73B1D104A9B1D0CF7B")';
            var xTemplate2 = buildFilterExpression('@Model.ToCoveoFieldName("_templatename")', 'Society Meeting', '==');
            var xTemplate4 = buildFilterExpression('@Model.ToCoveoFieldName("_templatename")', 'Meeting Or Course No Personify Stub', '==');


            var xTemplate3 = buildFilterExpression('@Model.ToCoveoFieldName("_templatename")', 'Product Stub','=='); //'(' + template + '=="62BEEA1D6B794E0CA98FE337E321DBBE")';

            var xproductType = buildFilterExpression('@Model.ToCoveoFieldName("productstubproducttype")', 'Meeting','==');
            var xDisplay = buildFilterExpression('@Model.ToCoveoFieldName("Web Display")', '1', '==');
            var xWebStart = buildDateFilterExpression('@Model.ToCoveoFieldName("productstubwebdisplaystartdate")', date, '<=');
			var xWebEnd = buildDateFilterExpression('@Model.ToCoveoFieldName("productstubwebdisplayenddate")', date, '>=');
            var xType = '(NOT (@Model.ToCoveoFieldName("meetingtype")==""""))'; //product class =do not display meetingtype

            var xFilter = '((' + xTemplate1 + ' OR ' + xTemplate2 + ' OR ' + xTemplate4 + ' OR (' + xTemplate3 + xproductType + xDisplay + xWebStart + xWebEnd + ')))';

            var filterExpression = xFilter;
            coveoOptions.filterExpression = filterExpression;
            CoveoForSitecore.componentsOptions = coveoOptions;
        });

    </script>

    @*
        <!-- This hidden input is required to bypass a problem with the Enter key causing a form submission
            if the form has exactly one text field, or only when there is a submit button present. -->
        <input type="text" class="fix-submit" />
    *@

    <div id="@Model.Id"
         class="CoveoSearchInterface @(Model.DisplayRecommendations ? "coveo-recommendations" : "")"
         data-enable-history="@Model.EnableHistory"
         data-results-per-page="@Model.ResultsPerPage"
         data-excerpt-length="@Model.ExcerptLength"
         data-hide-until-first-query="@Model.HideUntilFirstQuery"
         data-auto-trigger-query="@Model.AutoTriggerQuery"
         data-enable-automatic-responsive-mode="false"
         data-design="new"
         @if (Model.IsMaximumAgeSet) { @: data-maximum-age="@Model.MaximumAge"
         }
         @if (Model.UseCustomQueryPipeline) { @: data-pipeline="@Model.QueryPipelineName"
         }>


        @{

            var cookies = CookieBotHttpModule.CookiesAllowed();

            if (Model.AnalyticsEnabled && cookies.StatisticCookiesAllowed)
            {
                <div class="CoveoAnalytics"
                     data-anonymous="@Model.IsUserAnonymous"
                     data-endpoint="@Model.GetAnalyticsEndpoint()"
                     data-search-hub="@Model.GetAnalyticsCurrentPageName()"
                     data-send-to-cloud="@Model.CoveoAnalyticsEnabled">
                </div> }
        }

        <div class="coveo-main-section">

            <div class="content section-spacing-top">
                <h1>Meetings &amp; Course Calendar</h1>

                @Html.Sitecore().DynamicPlaceholder("content")

                <div class="row-adjust">
                    <div class="md-col-12 xl-col-4">
                        <div class="resp-nav-mobile-dd" style="margin-top:2rem">
                            <div class="resp-nav-header">
                                <strong class="inline-block text-size-1p125">Search Filters</strong>
                                <i class="acr-icon toggle-down-arrow icon-sort-down"><span class="sr-only">Down Arrow</span></i>
                            </div>
                            <div class="resp-nav-dd-body">
                                @Html.Sitecore().Placeholder("coveo-facets-mvc")
                                <div class="s-catalog" style="display:none">
                                    <div class="fieldset cdateSelector">

                                        <div class="coveo-facet-header-title">By Date</div>
                                        <div class="acr-coveo-row label-less-space">
                                            <div class="col-12">

                                                <strong class="label">From</strong><br />
                                                <input ID="txtFromDate" CssClass="s-datepicker startdate input-chars-7" Placeholder="MM/DD/YYYY">
                                                <div class="clear"> </div>

                                                <strong class="label">To</strong><br />
                                                <input ID="txtToDate" CssClass="s-datepicker enddate input-chars-7" Placeholder="MM/DD/YYYY">
                                            </div>
                                        </div>
                                        <div class="acr-coveo-row pad-top-p5em">
                                            <div id="divFutureDates" class="check-time col-12">
                                                <label class="label-normal">
                                                    <input type="checkbox" days="7" class="ch-future-date-range" />
                                                    Next 7 days
                                                </label>
                                                <label class="label-normal">
                                                    <input type="checkbox" days="30" class="ch-future-date-range" />
                                                    Next 30 days
                                                </label>
                                                <label class="label-normal">
                                                    <input type="checkbox" days="365" class="ch-future-date-range" />
                                                    Next Year
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<a id="customCoveoDateGoBtn" class="link-attention site-search-submit-btn">Go</a>-->
                                </div>
                            </div>
                        </div>
                    </div><!--end column-->


                    <div class="xl-col-8 md-col-12">


                        <div class="coveo-distance-resources-section">
                            @Html.Sitecore().Placeholder("coveo-distance-resources-mvc")
                        </div>
                        @if (Model.DisplayTabs)
                        {
                            <div class="coveo-tab-section coveo-placeholder-fix">
                                @Html.Sitecore().Placeholder("coveo-tabs-mvc")
                            </div>
                        }

                        <div class="coveo-results-column section-spacing-bottom">
                            <div class="section-spacing">
                                @if (Model.DisplaySearchbox)
                                {
                                    <div class="CoveoSearchbox CoveoSearchPageSearchbox" style="display:none"
                                         data-auto-focus="@Model.AutoFocus"
                                         data-enable-lowercase-operators="@Model.EnableLowercaseOperators"
                                         data-enable-partial-match="@Model.EnablePartialMatch"
                                         data-partial-match-keywords="@Model.PartialMatchKeywords"
                                         data-partial-match-threshold="@Model.PartialMatchThreshold"
                                         data-enable-question-marks="@Model.EnableQuestionMarks"
                                         data-enable-wildcards="@Model.EnableWildcards"
                                         @if (Model.EnableOmnibox) { @: data-enable-omnibox="true"
                                          @: data-omnibox-timeout="@Model.OmniboxTimeout"
                                          @: data-enable-field-addon="@Model.OmniboxEnableFieldAddon"
                                          @: data-enable-simple-field-addon="@Model.OmniboxEnableSimpleFieldAddon"
                                          @: data-enable-top-query-addon="@Model.OmniboxEnableTopQueryAddon"
                                          @: data-enable-reveal-query-suggest-addon="@Model.OmniboxEnableMLQuerySuggestAddon"
                                          @: data-enable-query-extension-addon="@Model.OmniboxEnableQueryExtensionAddon"
                                         }
                                         @if (Model.IsSearchAsYouTypeEnabled) { @: data-enable-search-as-you-type="true"
                                          @: data-search-as-you-type-delay="@Model.SearchboxSuggestionsDelay"
                                         }>
                                    </div>
                                }
                                @if (Model.DisplayBreadcrumb)
                                {
                                    <div class="CoveoBreadcrumb"></div>
                                }

                                <div class="coveo-results-header">
                                    <div class="coveo-summary-section">
                                        @if (Model.DisplayQuerySummary)
                                        {
                                            <span class="CoveoQuerySummary"
                                                  data-enable-search-tips="@Model.QuerySummaryEnableSearchTips"
                                                  data-only-display-search-tips="@Model.QuerySummaryOnlyDisplaySearchTips"></span>
                                        }
                                        @if (Model.DisplayQueryDuration)
                                        {
                                            <span class="CoveoQueryDuration"></span>
                                        }
                                    </div>





                                    @if (Model.DisplaySorting)
                                    {
                                        <div class="coveo-sort-section">
                                            @Html.Sitecore().Placeholder("coveo-sorts-mvc")
                                        </div>
                                    }
                                </div>

                                <div class="CoveoHiddenQuery"></div>

                                @if (Model.DisplayDidYouMean)
                                {
                                    <div class="CoveoDidYouMean"
                                         data-enable-auto-correction="@Model.EnableDidYouMeanAutoCorrection"></div>
                                }

                                @if (Model.DisplayErrorReport)
                                {
                                    <div class="CoveoErrorReport"></div>
                                }

                                @if (Model.DisplayResultList)
                                {
                                    if (Model.DisplayTopPager)
                                    {
                                        <div class="CoveoPager"
                                             data-number-of-pages="@Model.PagerNumberOfPages"
                                             data-max-number-of-pages="@Model.PagerMaxNumberOfPages"
                                             data-enable-navigation-button="@Model.EnablePagerNavigationButton"></div>
                                    }
                                    <div id="first" class="CoveoResultList"
                                         data-wait-animation="fade"
                                         data-enable-infinite-scroll="@Model.EnableInfiniteScroll"
                                         data-infinite-scroll-page-size="@Model.InfiniteScrollPageSize">

                                        <script class="result-template" type="text/underscore">
                                            <div class="xl-col-3 lg-col-6">
                                                <div class="event-tile text-content">
                                                    <span class="text-size-p75 event-tile-date">{{=raw.@(Model.ToCoveoFieldName("meetingstartdate", false))}}</span><br>
                                                    <span class="text-size-p75 event-tile-date">{{=raw.@(Model.ToCoveoFieldName("meetingdisplaydate", false))}}</span>
                                                    <h3><a class="CoveoResultLink" href="#">{{=raw.@(Model.ToCoveoFieldName("meetingtitle", false))}}</a> </h3>
                                                    <span class="text-size-p75 event-tile-location">{{=raw.@(Model.ToCoveoFieldName("meetingshortdescription", false))}}</span>
                                                    <a href="{{=raw.@(Model.ToCoveoFieldName("contenturl", false))}}" class="CoveoResultLink tile-bottom-link read-more-link">Read More</a>
                                                </div>
                                            </div>
                                        </script>
                                    </div>

                                    if (Model.DisplayBottomPager)
                                    {
                                        <div class="CoveoPager" style="display:none"
                                             data-number-of-pages="@Model.PagerNumberOfPages"
                                             data-max-number-of-pages="@Model.PagerMaxNumberOfPages"
                                             data-enable-navigation-button="@Model.EnablePagerNavigationButton"></div>

                                        <div class="search-pager-nav">
                                            <div class="slick-prev slick-arrow" aria-label="Previous" role="button"></div>
                                            <div class="slick-custom-pager" role="toolbar"><input class="slide-num-input" data-prev-val="1" value="1" type="text"> of 3</div>
                                            <div class="slick-next slick-arrow" aria-label="Next" role="button"></div>
                                        </div>

                                    }
                                    if (Model.DisplayResultsPerPage)
                                    {
                                        <div class="CoveoResultsPerPage"></div>
                                    }
                                }
                            </div>
                            <div id="meeting-search-results">


                            </div>
                        </div>

                        @if (Model.DisplayRecommendations)
                        {
                            <div class="coveo-recommendation-column">
                                @Html.Sitecore().Placeholder("coveo-recommendations-mvc")
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
					Coveo.$(function() {
						Coveo.$('#@Model.Id').coveoForSitecore('init', CoveoForSitecore.componentsOptions);

					});
    </script>


}
@if (Model.HasErrors)
{
    <div class="CoveoServerError">
        <h3>@Model.Labels[LocalizedStringKeys.FRIENDLY_SEARCH_UNAVAILABLE_TITLE]</h3>
        <h4>@Model.Labels[LocalizedStringKeys.FRIENDLY_SEARCH_UNAVAILABLE_DETAIL]</h4>
    </div>
}
@if (Html.Coveo().IsEditingInPageEditor())
{
    <script type="text/javascript">
        Coveo.$(function () {
            Coveo.PageEditorDeferRefresh.triggerUpdate();
        });
    </script>
}

@*customize acr coveo*@
<script type="text/javascript">
        Coveo.$(function() {
    Coveo.$('#filter-dropdown-area').find('input').on('click', function() {
        Coveo.$('#filter-tab-outer').click()
            })
        //setupSearchGA();
});


Coveo.$("#mtg_FDB887E3-D289-4A1A-B1A8-F01732B85824").on("doneBuildingQuery", function(e, data) {
if(!firstQuery){
window.addEventListener('scroll', noscroll);
}
    if(data.queryBuilder.expression.parts.length > 0) {
        if(data.queryBuilder.expression.parts[0].indexOf(',') >= 0) {
            data.queryBuilder.expression.parts[0] = data.queryBuilder.expression.parts[0].replace(/,/g, '');
        }
    }
	   var startdate = jQuery("[id$='txtFromDate']").val().split('/');
	  var enddate = jQuery("[id$='txtToDate']").val().split('/');

                    if(startdate.length === 3){

						if(startdate[1].length == 1){
							startdate[1] = '0' + startdate[1];
						}
						if(startdate[0].length == 1){
							startdate[0] = '0' + startdate[0];
						}

						if(startdate[0].length == 2 && startdate[1].length == 2){
                        var startFormat = startdate[2] + '/' + startdate[0] + '/' + startdate[1];
                        data.queryBuilder.advancedExpression.addFieldExpression('@Model.ToCoveoFieldName("meeting last registration date")', '>=', [startFormat]);
						}
                    }

                    if(enddate.length === 3){

						if(enddate[1].length == 1){
							enddate[1] = '0' + enddate[1];
						}
						if(enddate[0].length == 1){
							enddate[0] = '0' + enddate[0];
						}

					if(enddate[0].length == 2 && enddate[1].length == 2){
                        var endFormat = enddate[2] + '/' + enddate[0] + '/' + enddate[1];
                        data.queryBuilder.advancedExpression.addFieldExpression('@Model.ToCoveoFieldName("meetingenddate")', '<=', [endFormat])
						}
                    }

});

Coveo.$("#mtg_FDB887E3-D289-4A1A-B1A8-F01732B85824").on("querySuccess", function(e, data) {


    //console.log('query success');
    var yearData = buildResults(data);



});

Coveo.$("#mtg_FDB887E3-D289-4A1A-B1A8-F01732B85824").on("fetchMoreSuccess", function(e, data) {
    //console.log('fetch more');
    //buildResults(data);
});

function buildResults(args) {
    //var t0 = performance.now();

    Coveo.$('#meeting-search-results').empty();
    var yData = createYearArray(args);
    var data = yData.data;
    var years = yData.yearData;

    for(i = 0; i < years.length; i++) {
        var year = years[i][0];
        for(j = 1; j < years[i].length; j++) {
            var month = years[i][j];
            var monthName = getMonthName(month) + ' ' + year;
            //console.log(monthName)
            Coveo.$('#meeting-search-results').append('<header class="header-underrule"><div class="space-between"><h2>' + monthName + '</h2></div></header>');
            var matchingResults = [];
            for(x = 0; x < data.length; x++) {
                if(data[x].jsdate.getFullYear() == year && data[x].jsdate.getMonth() == month) {
                    matchingResults.push(data[x]);
                } else if(data[x].jsdate.getFullYear() > year) {
                    break;
                }
            };
            Coveo.$('#meeting-search-results').append('<div class="content section-spacing"><section class="event-tile-area"><div class="flex-content-left row-adjust"></div></section></div>')
            for(x = 0; x < matchingResults.length; x++) {
                Coveo.$('#meeting-search-results').find('.flex-content-left').last().append('<div class="lg-col-6 xl-col-4"><div class="event-tile text-content"><span class="text-size-p75 event-tile-date">' + printFieldValue(matchingResults[x].raw['@Model.ToCoveoFieldName("meetingdisplaydate",false)']) + '</span><h3><a href="' + printFieldValue(matchingResults[x].raw['@Model.ToCoveoFieldName("contenturl",false)']) + '" class="CoveoResultLink">' + printFieldValue(matchingResults[x].raw['@Model.ToCoveoFieldName("meetingtitle",false)']) + '</a></h3><span class="text-size-p75 event-tile-location">' + printFieldValue(matchingResults[x].raw['@Model.ToCoveoFieldName("meetingshortdescription",false)']) + '</span><a href="' + printFieldValue(matchingResults[x].raw['@Model.ToCoveoFieldName("contenturl",false)']) + '" class="CoveoResultLink read-more-link tile-bottom-link">Read More</a></div></div>');
            }
        }
    }
    //var t1 = performance.now();
    //console.log("Call to doSomething took " + (t1 - t0) + " milliseconds.")
    //return years;
}

function printFieldValue(fieldValue) {

    if(fieldValue == null) {
        return "";
    }
    return fieldValue;
}

function createYearArray(data) {
    var years = [];
    var myData = data.results.results;
    var length = myData.length;
    for(i = 0; i < length; i++) {
        myData[i].jsdate = new Date(myData[i].raw['@Model.ToCoveoFieldName("meetingstartdate",false)']);
        var offset = new Date().getTimezoneOffset() * 60000;
        myData[i].jsdate.setTime(myData[i].jsdate.getTime() + offset);
        var mdate = myData[i].jsdate;
        var year = mdate.getFullYear();
        var month = mdate.getMonth();
        var yearIndex = arrayContainsYear(years, year);
        if(yearIndex == -1) {
            var yearArray = [];
            yearArray.push(year);
            yearArray.push(month);
            years.push(yearArray);
        } else {
            if(arrayContainsMonth(years[yearIndex], month) == -1) {

                years[yearIndex].push(month);

            }

        }
    }
    return {
        yearData: years,
        data: myData
    };
}


Coveo.$("#mtg_FDB887E3-D289-4A1A-B1A8-F01732B85824").on('newResultsDisplayed', function() {
    //wrap html with proper outer elements
    //Coveo.$('.coveo-list-layout').children().unwrap().unwrap();

});


Coveo.$("#mtg_FDB887E3-D289-4A1A-B1A8-F01732B85824").on('deferredQuerySuccess', function(e, data) {
    //console.log('defer query success');

    Coveo.$("#mtg_FDB887E3-D289-4A1A-B1A8-F01732B85824 .searchedFor").detach();
    var term = getSearchedTerm();
    if(term != '') {
        var searchedString = '<h4 class="searchedFor">You searched for <span class="search-term">"' + decodeURIComponent(term) + '"</span></h4>';
        Coveo.$("#mtg_FDB887E3-D289-4A1A-B1A8-F01732B85824 .coveo-summary-section").prepend(searchedString);
        }



    Coveo.$('.custom-no-results').detach();
    var noResults = Coveo.$('#mtg_FDB887E3-D289-4A1A-B1A8-F01732B85824 .coveo-query-summary-no-results-string');
    if(noResults.length > 0) {
        noResults.hide();
        Coveo.$('#mtg_FDB887E3-D289-4A1A-B1A8-F01732B85824 .CoveoQuerySummary').hide();
        Coveo.$('#mtg_FDB887E3-D289-4A1A-B1A8-F01732B85824 .coveo-summary-section').append('<p class="custom-no-results">Sorry, no results could be found for your query. Please revise your search and try again.</p>')
        Coveo.$('.search-pager-nav').hide();
    } else {
        Coveo.$('.search-pager-nav').show();
        Coveo.$('#mtg_FDB887E3-D289-4A1A-B1A8-F01732B85824 .CoveoQuerySummary').show();
    }
    //squareItUp('.event-tile-area',{squareItem:'.event-tile',useOuterWidth:true,stopWidth:960,timerDelay: 120});

	//Coveo.$('.s-catalog').show();

	//remove html and truncate descriptions
                    Coveo.$('.event-tile-location').each(function(){
                        var text = Coveo.$(this).text().trim();
                        if(text.length > 65){
                            text = text.substring(0,65) + '...';
                        }
                        text = text.replace('SOLD OUT', '<b style="color:red">SOLD OUT</b>');
                        Coveo.$(this).html(text);
                        //Coveo.$(this).text(text);
						var next = Coveo.$(this).next();
						while(!next.hasClass('tile-bottom-link')){
							var n2 = next.next();
							next.detach();
							next = n2;
						}
                    });



	resultStartLocation = $("#meeting-search-results").first().offset().top - 310;
	/*
		if(scrollPageLocation > resultStartLocation){
		console.log('scrolling to: ' + resultStartLocation);
			$(window).scrollTop(resultStartLocation);
			//console.log('current position: ' + $(window).scrollTop());

		}*/

		if(!firstQuery){
		noscroll();
		window.removeEventListener('scroll', noscroll);
		}
firstQuery = false;
});



function arrayContainsYear(array, value) {
    for(var i = 0; i < array.length; i++) {
        if(array[i][0] === value) {
            return i;
        }
    }
    return -1;
}

function arrayContainsMonth(array, value) {
    for(var i = 0; i < array.length; i++) {
        if(array[i] === value) {
            return i;
        }
    }
    return -1;
}

var monthNames = ["January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
];

function getMonthName(monthnum) {
    return monthNames[monthnum];
}




function getSearchedTerm() {
    var hash = window.location.hash;
    var term = '';
    if(hash.indexOf('q=') > 0) {
        var and = hash.indexOf('&');

        if(and > 0) {
            term = hash.substring(3, and);
        } else {
            term = hash.substring(3);
        }
    }
    return term;
}

Coveo.$(".ch-future-date-range").change(function () {
		if (Coveo.$(this).prop('checked')) {
			Coveo.$('.ch-future-date-range:checked').not(this).prop('checked', false);
			var now = new Date();
			var span = new Date(Coveo.$(this).attr('days') * 86400000);
			var newDate = new Date(now.getTime() + span.getTime());
			Coveo.$("#txtFromDate").val((now.getMonth() + 1) + "/" + now.getDate() + "/" + now.getFullYear());
			Coveo.$("#txtToDate").val(newDate.getMonth() + 1 + "/" + newDate.getDate() + "/" + newDate.getFullYear());
			 Coveo.$('#mtg_FDB887E3-D289-4A1A-B1A8-F01732B85824 .CoveoSearchButton').click();

		}
	});


	Coveo.$('.ch-future-date-range:checked').prop('checked', false);
</script>


@{


    if (CookieBotHttpModule.CookiesAllowed().StatisticCookiesAllowed)
    {
        <script>
            const cookieName = 'CoveoMeetingSearchTerm';
            Coveo.$("#mtg_FDB887E3-D289-4A1A-B1A8-F01732B85824").on('deferredQuerySuccess', function (e, data) {
                var term = getSearchedTerm()
                var cookieTerm = getCookie(cookieName);
                if (cookieTerm != term) {
                    setCookie(cookieName, term, 1, '/');
                    //setGoogleAnalyticsSearch(term, 'UA-6363462-9', '/Content-Search-Results');
                    gaSendSiteSearch('/Lifelong-Learning-and-CME/Meetings-and-Course-Calendar', term, 'UA-6363462-9');
                }
            });

                        var createGa = false;
            function gaSendSiteSearch(searchUrl, query, gaid) {
                if (!createGa) {

                    (function (i, s, o, g, r, a, m) {
                        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date(); a = s.createElement(o),
                            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

                    ga('create', gaid, 'auto');
                }
                var pageUrl = searchUrl + '?q=' + query;
                ga('set', 'page', pageUrl);
                ga('send', 'pageview');
                console.log('search event sent to GA: ' + searchUrl + '?q=' + query);
            }
        </script>
    }
}