@using Coveo.UI
@using Coveo.UI.Extensions
@using Sitecore.Mvc
@using ACR.Foundation.CookieBot.CookieBotModule;
@model Coveo.UI.Mvc.Models.SearchModel

@* When customizing this component, ensure to use "Coveo.$" instead of the regular jQuery "$" to
    avoid any conflicts with Sitecore's Page Editor/Experience Editor.  *@

@Html.Coveo().RenderErrorSummary(Model.ValidateModel())
@if (Model.IsConfigured)
{
    <script type="text/javascript" src="/Coveo/js/cultures/@(Model.CultureName).js"></script>
    <script type="text/javascript">
	var firstQuery = true;
var pagerScroll = false;
var currentScrollPosition = 0;
var scrollPageLocation = 0;
var resultStartLocation = 0;
Coveo.$(window).on('scroll', function(e) {
var top = $(window).scrollTop();
if($(window).scrollTop() > scrollPageLocation){
scrollPageLocation = top;
}
if(top != 0){
currentScrollPosition = top;
}

});

function noscroll() {
if(Coveo.$('.resp-nav-header').is(':visible') && pagerScroll === false){
	Coveo.$(window).scrollTop(currentScrollPosition);
}else{
  Coveo.$(window).scrollTop(resultStartLocation);
  }
}

        Coveo.$(function () {
		Coveo.Logger.disable();

            var coveoOptions = @(Html.Raw(Model.GetJavaScriptInitializationOptions()));

            var date = coveoDateString();

            var xTemplate = buildFilterExpression('@Model.ToCoveoFieldName("_templatename")', 'Product Stub','==');
            var xDisplay = buildFilterExpression('@Model.ToCoveoFieldName("Web Display")', '1', '==');
            var xWebStart = buildDateFilterExpression('@Model.ToCoveoFieldName("productstubwebdisplaystartdate")', date, '<=');
            var xWebEnd = buildDateFilterExpression('@Model.ToCoveoFieldName("productstubwebdisplayenddate")', date, '>=');
            var xMeetingStart = buildDateFilterExpression('@Model.ToCoveoFieldName("productstubmeetingstartdate")', date, '>=');
            var xClass = '(NOT (@Model.ToCoveoFieldName("productstubproductclass")=="Do not Display"))'; //product class =do not display
            var xListPrice = '(NOT (@Model.ToCoveoFieldName("List Price")==""""))';
            var xDeliveryMethod = '(NOT (@Model.ToCoveoFieldName("productstubdeliverymethod")==""""))';
            var xType = '(@Model.ToCoveoFieldName("productstubproducttype")=="Meeting")';
            var xUmbrellaProduct = '(@Model.ToCoveoFieldName("productstubproducttype") == "Umbrella Product")';
            var filterExpression = '(' + xTemplate + xDisplay + xWebStart + '(' + xListPrice + ' OR ' + xUmbrellaProduct + ')' + xWebEnd + xMeetingStart + xClass + '(' + xDeliveryMethod + ' OR ' + xType + '))';
                coveoOptions.filterExpression = filterExpression;
                CoveoForSitecore.componentsOptions = coveoOptions;
            });
    </script>

    @*
        <!-- This hidden input is required to bypass a problem with the Enter key causing a form submission
            if the form has exactly one text field, or only when there is a submit button present. -->
        <input type="text" class="fix-submit" />
    *@

    <div id="@Model.Id"
         class="CoveoSearchInterface @(Model.DisplayRecommendations ? "coveo-recommendations" : "")"
         data-enable-history="@Model.EnableHistory"
         data-results-per-page="@Model.ResultsPerPage"
         data-excerpt-length="@Model.ExcerptLength"
         data-hide-until-first-query="@Model.HideUntilFirstQuery"
         data-auto-trigger-query="@Model.AutoTriggerQuery"
         data-enable-automatic-responsive-mode="false"
         data-design="new"
         data-defaultImageUrl="@Sitecore.Configuration.Settings.GetSetting("DefaultCatalogImageUrl")"
         @if (Model.IsMaximumAgeSet) { @: data-maximum-age="@Model.MaximumAge"
         }
         @if (Model.UseCustomQueryPipeline) { @: data-pipeline="@Model.QueryPipelineName"
         }>


        @{

            var cookies = CookieBotHttpModule.CookiesAllowed();

            if (Model.AnalyticsEnabled && cookies.StatisticCookiesAllowed)
            {
                <div class="CoveoAnalytics"
                     data-anonymous="@Model.IsUserAnonymous"
                     data-endpoint="@Model.GetAnalyticsEndpoint()"
                     data-search-hub="@Model.GetAnalyticsCurrentPageName()"
                     data-send-to-cloud="@Model.CoveoAnalyticsEnabled">
                </div> }
        }

        <div class="coveo-main-section">
            <div class="content section-spacing-top">
                <h1>ACR Catalog</h1>
                @*<section>
                        <header class="header-underrule">
                            <div class="space-between">
                                <h2 class="product-serach-custom-title">Product Search</h2>
                            </div>
                        </header>
                    </section>*@

                <div class="row-adjust">
                    <div class="md-col-12 xl-col-4">
                        <div class="resp-nav-mobile-dd">
                            <div class="resp-nav-header">
                                <strong class="inline-block text-size-1p125">Search Filters</strong>
                                <i class="acr-icon toggle-down-arrow icon-sort-down"><span class="sr-only">Down Arrow</span></i>
                            </div>
                            <div class="resp-nav-dd-body">
                                @Html.Sitecore().Placeholder("coveo-facets-mvc")
                            </div>
                        </div>
                    </div>
                    <div class="xl-col-8 md-col-12">
                        <div class="coveo-distance-resources-section">
                            @Html.Sitecore().Placeholder("coveo-distance-resources-mvc")
                        </div>
                        @if (Model.DisplayTabs)
                        {
                            <div class="coveo-tab-section coveo-placeholder-fix">
                                @Html.Sitecore().Placeholder("coveo-tabs-mvc")
                            </div>
                        }

                        <div class="coveo-results-column">
                            @if (Model.DisplaySearchbox)
                            {
                                <div class="CoveoSearchbox CoveoSearchPageSearchbox" style="display:none"
                                     data-auto-focus="@Model.AutoFocus"
                                     data-enable-lowercase-operators="@Model.EnableLowercaseOperators"
                                     data-enable-partial-match="@Model.EnablePartialMatch"
                                     data-partial-match-keywords="@Model.PartialMatchKeywords"
                                     data-partial-match-threshold="@Model.PartialMatchThreshold"
                                     data-enable-question-marks="@Model.EnableQuestionMarks"
                                     data-enable-wildcards="@Model.EnableWildcards"
                                     @if (Model.EnableOmnibox) { @: data-enable-omnibox="true"
                                      @: data-omnibox-timeout="@Model.OmniboxTimeout"
                                      @: data-enable-field-addon="@Model.OmniboxEnableFieldAddon"
                                      @: data-enable-simple-field-addon="@Model.OmniboxEnableSimpleFieldAddon"
                                      @: data-enable-top-query-addon="@Model.OmniboxEnableTopQueryAddon"
                                      @: data-enable-reveal-query-suggest-addon="@Model.OmniboxEnableMLQuerySuggestAddon"
                                      @: data-enable-query-extension-addon="@Model.OmniboxEnableQueryExtensionAddon"
                                     }
                                     @if (Model.IsSearchAsYouTypeEnabled) { @: data-enable-search-as-you-type="true"
                                      @: data-search-as-you-type-delay="@Model.SearchboxSuggestionsDelay"
                                     }>
                                </div>
                            }
                            @if (Model.DisplayBreadcrumb)
                            {
                                <div class="CoveoBreadcrumb"></div>
                            }

                            <div class="coveo-results-header">
                                <div class="coveo-summary-section">
                                    @if (Model.DisplayQuerySummary)
                                    {
                                        <span class="CoveoQuerySummary"
                                              data-enable-search-tips="@Model.QuerySummaryEnableSearchTips"
                                              data-only-display-search-tips="@Model.QuerySummaryOnlyDisplaySearchTips"></span>
                                    }
                                    @if (Model.DisplayQueryDuration)
                                    {
                                        <span class="CoveoQueryDuration"></span>
                                    }
                                </div>

                                @if (Model.DisplaySorting)
                                {
                                    <div class="coveo-sort-section">
                                        @Html.Sitecore().Placeholder("coveo-sorts-mvc")
                                    </div>
                                }
                            </div>

                            <div class="CoveoHiddenQuery"></div>

                            @if (Model.DisplayDidYouMean)
                            {
                                <div class="CoveoDidYouMean"
                                     data-enable-auto-correction="@Model.EnableDidYouMeanAutoCorrection"></div>
                            }

                            @if (Model.DisplayErrorReport)
                            {
                                <div class="CoveoErrorReport"></div>
                            }

                            @if (Model.DisplayResultList)
                            {
                                if (Model.DisplayTopPager)
                                {
                                    <div class="CoveoPager"
                                         data-number-of-pages="@Model.PagerNumberOfPages"
                                         data-max-number-of-pages="@Model.PagerMaxNumberOfPages"
                                         data-enable-navigation-button="@Model.EnablePagerNavigationButton"></div>
                                }
                                <div class="CoveoResultList"
                                     data-wait-animation="fade"
                                     data-enable-infinite-scroll="@Model.EnableInfiniteScroll"
                                     data-infinite-scroll-page-size="@Model.InfiniteScrollPageSize">



                                    <script class="result-template" type="text/underscore">
                                        <li class="xxl-col-6 xl-col-4 lg-col-6 md-col-6 acr-coveo-result-item">
                                            <div class="publication-item">
                                                <figure class="product-image-holder">
                                                    <a href="{{=raw.@(Model.ToCoveoFieldName("producturl", false))}}" class="CoveoResultLink block"><img src="{{=raw.@(Model.ToCoveoFieldName("productstublargeimageurl", false))}}" alt="{{=raw.@(Model.ToCoveoFieldName("Name", false))}}"></a>
                                                </figure>
                                                <div class="text-content">
                                                    <strong class="has-dark-blue-anchor publication-item-title">
                                                        <a class="CoveoResultLink no-target-icon" href="{{=raw.@(Model.ToCoveoFieldName("producturl", false))}}">
                                                            {{=raw.@(Model.ToCoveoFieldName("Long Name", false))}}

                                                        </a>
                                                    </strong>
                                                    <div class="row-adjust publication-item-details space-between">
                                                        <div class="col- inline-block">
                                                            <span>MIT:</span><br>
                                                            <strong>${{=raw.@(Model.ToCoveoFieldName("MIT Price", false))}}</strong>
                                                        </div>
                                                        <div class="col- inline-block" style="display:none">
                                                            <span>Technologists:</span><br>
                                                            <strong>${{=raw.@(Model.ToCoveoFieldName("Technologists Price", false))}}</strong>
                                                        </div>
                                                        <div class="col- inline-block">
                                                            <span>Member:</span><br>
                                                            <strong>${{=raw.@(Model.ToCoveoFieldName("Member Price", false))}}</strong>
                                                        </div>
                                                        <div class="col- inline-block">
                                                            <span>Nonmember:</span><br>
                                                            <strong>${{=raw.@(Model.ToCoveoFieldName("List Price", false))}}</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                                @*{{ if (raw.@(Model.ToCoveoFieldName("productbuynow", false)) == '1') { }}
                                                    <a target="_blank" href="{{=raw.@(Model.ToCoveoFieldName("producturl", false))}}" style="padding: .75rem 1rem" class="button no-target-icon-button addCartBtn CoveoResultLink {{=raw.@(Model.ToCoveoFieldName("productstubstockstatuscss", false))}}" data-stockStatus="{{=raw.@(Model.ToCoveoFieldName("productstubstockstatus", false))}}" data-personifyId="{{=raw.@(Model.ToCoveoFieldName("Personify ID", false))}}">
                                                        Buy Now
                                                    </a>
                                                    {{ } }}*@
                                                @*{{ if (raw.@(Model.ToCoveoFieldName("productbuynow", false)) == '0') { }}*@
                                                <a target="_blank" href="{{=raw.@(Model.ToCoveoFieldName("producturl", false))}}" style="padding: .75rem 1rem" class="button no-target-icon-button CoveoResultLink {{=raw.@(Model.ToCoveoFieldName("productstubstockstatuscss", false))}}" data-stockStatus="{{=raw.@(Model.ToCoveoFieldName("productstubstockstatus", false))}}" data-personifyId="{{=raw.@(Model.ToCoveoFieldName("Personify ID", false))}}">
                                                    View Details
                                                </a>
                                                @*{{ } }}*@
                                                @*<div class="inline-block no-wrap">
                                                    <a class="text-green publication-item-join" href="https://stgshop75.acr.org/Default.aspx?TabID=267">
                                                        <i class="acr-icon icon-shake-hands"></i>
                                                        Join
                                                    </a>
                                                    {{ if (raw.@(Model.ToCoveoFieldName("productbuynow", false)) == '1') { }}
                                                    &nbsp;
                                                    <a href="{{=raw.@(Model.ToCoveoFieldName("producturl", false))}}" class="publication-item-save save-later-link CoveoResultLink" data-personifyId="{{=raw.@(Model.ToCoveoFieldName("Personify ID", false))}}" data-stockStatus="{{=raw.@(Model.ToCoveoFieldName("productstubstockstatus", false))}}">
                                                        <i class="acr-icon icon-heart"></i>
                                                        Save
                                                    </a>
                                                    {{ } }}
                                                                                            </div>*@
                                            </div>
                                        </li>
                                    </script>
                                </div>

                                if (Model.DisplayBottomPager)
                                {
                                    <div class="CoveoPager" style="display:none"
                                         data-number-of-pages="@Model.PagerNumberOfPages"
                                         data-max-number-of-pages="@Model.PagerMaxNumberOfPages"
                                         data-enable-navigation-button="@Model.EnablePagerNavigationButton"></div>

                                    <div class="search-pager-nav">
                                        <div class="slick-prev slick-arrow" aria-label="Previous" role="button"></div>
                                        <div class="slick-custom-pager" role="toolbar"><input class="slide-num-input" data-prev-val="1" value="1" type="text"> of 3</div>
                                        <div class="slick-next slick-arrow" aria-label="Next" role="button"></div>
                                    </div>

                                }
                                if (Model.DisplayResultsPerPage)
                                {
                                    <div class="CoveoResultsPerPage"></div>
                                }
                            }
                        </div>

                        @if (Model.DisplayRecommendations)
                        {
                            <div class="coveo-recommendation-column">
                                @Html.Sitecore().Placeholder("coveo-recommendations-mvc")
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
			Coveo.$(function() {
				Coveo.$('#@Model.Id').coveoForSitecore('init', CoveoForSitecore.componentsOptions);

			});
    </script>


}
@if (Model.HasErrors)
{
    <div class="CoveoServerError">
        <h3>@Model.Labels[LocalizedStringKeys.FRIENDLY_SEARCH_UNAVAILABLE_TITLE]</h3>
        <h4>@Model.Labels[LocalizedStringKeys.FRIENDLY_SEARCH_UNAVAILABLE_DETAIL]</h4>
    </div>
}
@if (Html.Coveo().IsEditingInPageEditor())
{
    <script type="text/javascript">
        Coveo.$(function () {
            Coveo.PageEditorDeferRefresh.triggerUpdate();
        });
    </script>
}

@*customize acr coveo*@
<script type="text/javascript">
    Coveo.$(function () {
        Coveo.$('#filter-dropdown-area').find('input').on('click', function () {
            Coveo.$('#filter-tab-outer').click()
        })
        //setupSearchGA();
    });

    Coveo.$("#prdr_B698546D-B7EF-471A-8A24-F2A3767AE0F1").on("doneBuildingQuery", function (e, data) {
        if (!firstQuery) {
            window.addEventListener('scroll', noscroll);
        }
        if (data.queryBuilder.expression.parts.length > 0) {
            if (data.queryBuilder.expression.parts[0].indexOf(',') >= 0) {
                data.queryBuilder.expression.parts[0] = data.queryBuilder.expression.parts[0].replace(/,/g, '');
            }
        }

        var searchTermLength = Coveo.$("#prdr_B698546D-B7EF-471A-8A24-F2A3767AE0F1 .magic-box-input").find('input').val().trim().length;
        if (searchTermLength > 0) {
            data.queryBuilder.sortCriteria = 'relevancy'
        }

    });

    Coveo.$("#prdr_B698546D-B7EF-471A-8A24-F2A3767AE0F1").on('newResultsDisplayed', function () {
        //wrap html with proper outer elements
        //Coveo.$('.coveo-list-layout').children().unwrap().unwrap();
        if (Coveo.$('.acr-coveo-result-item').closest('.publication-item-list').length == 0) {
            Coveo.$('.acr-coveo-result-item').wrapAll('<ul class="publication-item-list no-target-icon flex-content-left"></ul>');
            Coveo.$('.publication-item-list').wrap('<div class="publication-item-list-outer"></div>');

            Coveo.$('#prdr_B698546D-B7EF-471A-8A24-F2A3767AE0F1 .CoveoResult').each(function () {

                if (Coveo.$(this).html().trim() == "") {
                    Coveo.$(this).remove();
                }

            });
        }

        //hide prices where prices = ''
        var prices = Coveo.$('.publication-item-details').children().each(function () {
            var price = $(this).find('strong').text();
            if (price == '$') {
                $(this).hide();
            }
        });

        //this only works when resized...
        jQuery('.publication-item-list-outer')
            .equalizeContent({
                equalizeItem: '.product-image-holder',
                stopWidth: 480
            })
            .equalizeContent({
                equalizeItem: '.publication-item-title',
                stopWidth: 480
            });

        jQuery(window).resize();



    });

    //Coveo Pager / scrolling

    Coveo.$(document).on('click', '.coveo-pager-list-item a, .coveo-pager-list-item', function () {
        pagerScroll = true;
    });


    Coveo.$("#prdr_B698546D-B7EF-471A-8A24-F2A3767AE0F1").on('deferredQuerySuccess', function (e, data) {
        //console.log('defer query success');


        //custom pager actions
        var currentPage = 1;
        var totalResult = parseInt(Coveo.$('#prdr_B698546D-B7EF-471A-8A24-F2A3767AE0F1 .CoveoQuerySummary').find('.coveo-highlight').last().text().replace(/,/g, ''));
        var firstResult = parseInt(Coveo.$('#prdr_B698546D-B7EF-471A-8A24-F2A3767AE0F1 .CoveoQuerySummary').find('.coveo-highlight').first().text().replace(/,/g, ''));
        var pageSize = parseInt(Coveo.$('#prdr_B698546D-B7EF-471A-8A24-F2A3767AE0F1').attr('data-results-per-page'));
        var currentPage = Math.ceil(firstResult / pageSize);
        var lastPage = Math.ceil(totalResult / pageSize);
        var newPager = '<input class="slide-num-input" data-prev-val="' + (currentPage - 1) + '" value="' + currentPage + '" type="text"> of ' + lastPage;
        Coveo.$('.slick-custom-pager').html(newPager);


        Coveo.$(".searchedFor").detach();
        var term = getSearchedTerm();
        if (term != '') {
            var searchedString = '<h4 class="searchedFor">You searched for <span class="search-term">"' + decodeURIComponent(term) + '"</span></h4>';
            Coveo.$("#prdr_B698546D-B7EF-471A-8A24-F2A3767AE0F1 .coveo-summary-section").prepend(searchedString);
        }



        Coveo.$(".acr-coveo-result-item").each(function () {
            Coveo.$(this).find('a').each(function () {
                var link = Coveo.$(this);
                var href = link.attr('href');
                if (href.indexOf('https://shop.acr.org') < 0 && href.indexOf('https://shop75.acr.org') < 0 && href.indexOf('https://stgshop75.acr.org')) {
                    var bl = href.indexOf('://');
                    if (bl > 0) {
                        href = href.substring(bl + 3);
                        var b = href.indexOf('/');
                        if (b > 0) {
                            href = href.substring(b);
                            link.attr('href', href);
                        }
                    }
                } else {
                    link.attr('target', '_blank')
                }
                if (link.hasClass('addCartBtn')) {

                    var stockStatus = link.attr('data-stockStatus');
                    //var stockStatusCss = link.attr('data-stockStatusCSS');

                    if (stockStatus != 'In Stock' && stockStatus != "Available") {
                        link.text(stockStatus);
                    }

                }
            });

            Coveo.$(this).find('img').on('error', function () {

                Coveo.$(this).attr('src', Coveo.$('.CoveoSearchInterface').attr('data-defaultImageUrl'));

            });

        });



        Coveo.$('.custom-no-results').detach();
        var noResults = Coveo.$('.coveo-query-summary-no-results-string');
        if (noResults.length > 0) {
            noResults.hide();
            Coveo.$('.CoveoQuerySummary').hide();
            Coveo.$('.coveo-summary-section').append('<p class="custom-no-results">Sorry, no results could be found for your query. Please revise your search and try again.</p>')
            Coveo.$('.search-pager-nav').hide();
        } else {
            Coveo.$('.search-pager-nav').show();
            Coveo.$('.CoveoQuerySummary').show();
        }

        if (resultStartLocation === 0) {
            resultStartLocation = $(".coveo-results-header").first().offset().top - 175;
        }
        if (!firstQuery) {
            //noscroll();
            setTimeout(function () {
                window.removeEventListener('scroll', noscroll);
                pagerScroll = false;

            }, 250);
        }
        firstQuery = false;


    });
    Coveo.$(document).ready(function () {
        Coveo.$('.product-cat-list').parent().find('a').click(function () {
            var displayName = Coveo.$(this).attr('data-facet');
            if (displayName != undefined) {
                //Coveo.$('.coveo-facet-values').find("[data-value='" + displayName + "']").find('input').click();
                window.location = window.location.pathname + '#f:_ProductTypes=[' + displayName + ']';
                //Coveo.$(window).scrollTop(Coveo.$('#breadcrumbs').offset().top);
            }
        });
    });

    Coveo.$('.search-pager-nav').on('click', '.slick-prev', function () {
        pagerScroll = true;
        window.addEventListener('scroll', noscroll);
        Coveo.$('.coveo-pager-previous').click();


    });
    Coveo.$('.search-pager-nav').on('click', '.slick-next', function () {
        pagerScroll = true;
        window.addEventListener('scroll', noscroll);
        Coveo.$('.coveo-pager-next').click();

    });


    Coveo.$('.search-pager-nav').on('focusout', '.slide-num-input', function () {
        window.addEventListener('scroll', noscroll);
        var page = parseInt(Coveo.$('.slide-num-input').val());
        if (page > 0) {
            pagerScroll = true;
            Coveo.$('.CoveoPager').coveo('setPage', page)
        }
    });

    function getSearchedTerm() {
        var hash = window.location.hash;
        var term = '';
        if (hash.indexOf('q=') > 0) {
            var and = hash.indexOf('&');

            if (and > 0) {
                term = hash.substring(3, and);
            } else {
                term = hash.substring(3);
            }
        }
        return term;
    }

</script>


@{


    if (CookieBotHttpModule.CookiesAllowed().StatisticCookiesAllowed)
    {
        <script>
            const cookieName = 'CoveoProductSearchTerm';
            Coveo.$(".CoveoSearchInterface").on('deferredQuerySuccess', function (e, data) {
                var term = getSearchedTerm()
                var cookieTerm = getCookie(cookieName);
                if (cookieTerm != term) {
                    setCookie(cookieName, term, 1, '/');
                    //setGoogleAnalyticsSearch(term, 'UA-6363462-9', '/Content-Search-Results');
                    gaSendSiteSearch('/ACR-Product-Catalog/Product-Catalog-Results', term, 'UA-6363462-9');
                }
            });

                                var createGa = false;
            function gaSendSiteSearch(searchUrl, query, gaid) {
                if (!createGa) {

                    (function (i, s, o, g, r, a, m) {
                        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date(); a = s.createElement(o),
                            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

                    ga('create', gaid, 'auto');
                }
                var pageUrl = searchUrl + '?q=' + query;
                ga('set', 'page', pageUrl);
                ga('send', 'pageview');
                console.log('search event sent to GA: ' + searchUrl + '?q=' + query);
            }
        </script>
    }
}