@using Coveo.UI.Extensions
@using Sitecore.Mvc
@model Coveo.UI.Mvc.Models.SearchboxModel

@* When customizing this component, ensure to use "Coveo.$" instead of the regular jQuery "$" to
    avoid any conflicts with Sitecore's Page Editor/Experience Editor.  *@

@Html.Coveo().RenderErrorSummary(Model.ValidateModel())
@if (Model.IsConfigured)
{
    <link rel="stylesheet" href="/css/search/acr-search-box.css" />
    <script type="text/javascript" src="/Coveo/js/cultures/@(Model.CultureName).js"></script>
    <script type="text/javascript">
        Coveo.$(function () {
            var searchbox = Coveo.$('#@Model.SearchboxId');
            if (typeof (CoveoForSitecore) !== 'undefined') {
                CoveoForSitecore.componentsOptions = @(Html.Raw(Model.GetJavaScriptInitializationOptions()));
                searchbox.coveoForSitecore('initSearchbox', CoveoForSitecore.componentsOptions);
            } else {
                Coveo.SearchEndpoint.endpoints["default"] = new Coveo.SearchEndpoint(@Html.Raw(Model.GetJavaScriptSearchEndpointInitializationOptions()));
                searchbox.coveo('initSearchbox', '@Model.GetSearchPageUrl()');
            }
            searchbox.find(".CoveoSearchbox input").attr("placeholder", '@Model.SearchboxPlaceholderText');
        });
    </script>

    <div id="@Model.SearchboxId" class="content row acr-search-box">
        @if (Model.AnalyticsEnabled)
        {
            <div class="CoveoAnalytics"
                 data-anonymous="@Model.IsUserAnonymous"
                 data-endpoint="@Model.GetAnalyticsEndpoint()"
                 data-search-hub="Product Catalog Results"
                 data-send-to-cloud="@Model.CoveoAnalyticsEnabled">
            </div>
        }
        <div class="col-12 CoveoSearchbox"
             data-auto-focus="@Model.AutoFocus"
             data-enable-lowercase-operators="@Model.EnableLowercaseOperators"
             data-enable-partial-match="@Model.EnablePartialMatch"
             data-partial-match-keywords="@Model.PartialMatchKeywords"
             data-partial-match-threshold="@Model.PartialMatchThreshold"
             data-enable-question-marks="@Model.EnableQuestionMarks"
             data-enable-wildcards="@Model.EnableWildcards"
             data-enable-omnibox="true"
             data-omnibox-timeout="@Model.OmniboxTimeout"
             data-enable-field-addon="@Model.OmniboxEnableFieldAddon"
             data-enable-simple-field-addon="@Model.OmniboxEnableSimpleFieldAddon"
             data-enable-top-query-addon="@Model.OmniboxEnableTopQueryAddon"
             data-enable-reveal-query-suggest-addon="@Model.OmniboxEnableMLQuerySuggestAddon"
             data-enable-query-extension-addon="@Model.OmniboxEnableQueryExtensionAddon"
             @if (Model.IsSearchAsYouTypeEnabled) { @: data-enable-search-as-you-type="true"
                                   @: data-search-as-you-type-delay="@Model.SearchboxSuggestionsDelay"
                                   }></div>

        @Html.Sitecore().Placeholder("coveo-omnibox-suggestions-providers-mvc")
        @*<span class="CoveoFieldSuggestions" data-header-title=" " data-field='@(Model.ToCoveoFieldName("contenttitle"))'></span>*@
    </div>
}