

@using Coveo.UI
@using Coveo.UI.Extensions
@using Sitecore.Mvc
@using ACR.Foundation.CookieBot.CookieBotModule;
@model Coveo.UI.Mvc.Models.SearchModel

@* When customizing this component, ensure to use "Coveo.$" instead of the regular jQuery "$" to
    avoid any conflicts with Sitecore's Page Editor/Experience Editor.  *@

@Html.Coveo().RenderErrorSummary(Model.ValidateModel())
@if (Model.IsConfigured)
{
    <script type="text/javascript" src="/Coveo/js/cultures/@(Model.CultureName).js"></script>
    <script type="text/javascript">
        Coveo.$(function () {
            var coveoOptions = @(Html.Raw(Model.GetJavaScriptInitializationOptions()));

            var date = coveoDateString();
            var recentDate = coveoDateString(new Date(new Date().getTime() - (7 * 24 * 60 * 60 * 1000)));

            var xTemplate3 = buildFilterExpression('@Model.ToCoveoFieldName("_templatename")', 'Product Stub','=='); //'(' + template + '=="62BEEA1D6B794E0CA98FE337E321DBBE")';

            var xproductType = buildFilterExpression('@Model.ToCoveoFieldName("productstubproducttype")', 'Meeting','==');
            var xDisplay = buildFilterExpression('@Model.ToCoveoFieldName("Web Display")', '1', '==');
            var xWebStart = buildDateFilterExpression('@Model.ToCoveoFieldName("productstubwebdisplaystartdate")', date, '<=');
			var xWebEnd = buildDateFilterExpression('@Model.ToCoveoFieldName("productstubwebdisplayenddate")', date, '>=');
            var xType = buildFilterExpression('@Model.ToCoveoFieldName("meetingtype")', 'Education Center Course', '==');
            var meetingStart = buildDateFilterExpression('@Model.ToCoveoFieldName("meeting last registration date")', recentDate, '>=');
            var xFilter = '(' + xTemplate3 + xproductType + xDisplay + xWebStart + xWebEnd + meetingStart + xType + ')';


            var filterExpression = xFilter;
            coveoOptions.filterExpression = filterExpression;
            CoveoForSitecore.componentsOptions = coveoOptions;
        });

    </script>

    @*
        <!-- This hidden input is required to bypass a problem with the Enter key causing a form submission
            if the form has exactly one text field, or only when there is a submit button present. -->
        <input type="text" class="fix-submit" />
    *@

    <div id="@Model.Id"
         class="CoveoSearchInterface @(Model.DisplayRecommendations ? "coveo-recommendations" : "")"
         data-enable-history="@Model.EnableHistory"
         data-results-per-page="@Model.ResultsPerPage"
         data-excerpt-length="@Model.ExcerptLength"
         data-hide-until-first-query="@Model.HideUntilFirstQuery"
         data-auto-trigger-query="@Model.AutoTriggerQuery"
         data-enable-automatic-responsive-mode="false"
         data-design="new"
         @if (Model.IsMaximumAgeSet) { @: data-maximum-age="@Model.MaximumAge"
         }
         @if (Model.UseCustomQueryPipeline) { @: data-pipeline="@Model.QueryPipelineName"
         }>


        @{

            var cookies = CookieBotHttpModule.CookiesAllowed();

            if (Model.AnalyticsEnabled && cookies.StatisticCookiesAllowed)
            {
                <div class="CoveoAnalytics"
                     data-anonymous="@Model.IsUserAnonymous"
                     data-endpoint="@Model.GetAnalyticsEndpoint()"
                     data-search-hub="@Model.GetAnalyticsCurrentPageName()"
                     data-send-to-cloud="@Model.CoveoAnalyticsEnabled">
                </div> }
        }

        <div class="coveo-main-section">

            <div class="content section-spacing-top">
                @*<h1>Course Calendar</h1>*@


                @*<div class="section-spacing content col-4" style="clear:none">
                    @Html.Sitecore().Placeholder("coveo-facets-mvc")
                </div>*@


                @*<div class="content col-8" style="clear:none">*@


                <div class="coveo-distance-resources-section">
                    @Html.Sitecore().Placeholder("coveo-distance-resources-mvc")
                </div>
                @if (Model.DisplayTabs)
                {
                    <div class="coveo-tab-section coveo-placeholder-fix">
                        @Html.Sitecore().Placeholder("coveo-tabs-mvc")
                    </div>
                }

                <div class="coveo-results-column">
                    <div class="section-spacing">
                        @if (Model.DisplaySearchbox)
                        {
                            <div class="CoveoSearchbox CoveoSearchPageSearchbox" style="display:none"
                                 data-auto-focus="@Model.AutoFocus"
                                 data-enable-lowercase-operators="@Model.EnableLowercaseOperators"
                                 data-enable-partial-match="@Model.EnablePartialMatch"
                                 data-partial-match-keywords="@Model.PartialMatchKeywords"
                                 data-partial-match-threshold="@Model.PartialMatchThreshold"
                                 data-enable-question-marks="@Model.EnableQuestionMarks"
                                 data-enable-wildcards="@Model.EnableWildcards"
                                 @if (Model.EnableOmnibox) { @: data-enable-omnibox="true"
                                  @: data-omnibox-timeout="@Model.OmniboxTimeout"
                                  @: data-enable-field-addon="@Model.OmniboxEnableFieldAddon"
                                  @: data-enable-simple-field-addon="@Model.OmniboxEnableSimpleFieldAddon"
                                  @: data-enable-top-query-addon="@Model.OmniboxEnableTopQueryAddon"
                                  @: data-enable-reveal-query-suggest-addon="@Model.OmniboxEnableMLQuerySuggestAddon"
                                  @: data-enable-query-extension-addon="@Model.OmniboxEnableQueryExtensionAddon"
                                 }
                                 @if (Model.IsSearchAsYouTypeEnabled) { @: data-enable-search-as-you-type="true"
                                  @: data-search-as-you-type-delay="@Model.SearchboxSuggestionsDelay"
                                 }>
                            </div>
                        }
                        @if (Model.DisplayBreadcrumb)
                        {
                            <div class="CoveoBreadcrumb"></div>
                        }

                        <div class="coveo-results-header">
                            <div class="coveo-summary-section">
                                @if (Model.DisplayQuerySummary)
                                {
                                    <span class="CoveoQuerySummary"
                                          data-enable-search-tips="@Model.QuerySummaryEnableSearchTips"
                                          data-only-display-search-tips="@Model.QuerySummaryOnlyDisplaySearchTips"></span>
                                }
                                @if (Model.DisplayQueryDuration)
                                {
                                    <span class="CoveoQueryDuration"></span>
                                }
                            </div>





                            @if (Model.DisplaySorting)
                            {
                                <div class="coveo-sort-section">
                                    @Html.Sitecore().Placeholder("coveo-sorts-mvc")
                                </div>
                            }
                        </div>

                        <div class="CoveoHiddenQuery"></div>

                        @if (Model.DisplayDidYouMean)
                        {
                            <div class="CoveoDidYouMean"
                                 data-enable-auto-correction="@Model.EnableDidYouMeanAutoCorrection"></div>
                        }

                        @if (Model.DisplayErrorReport)
                        {
                            <div class="CoveoErrorReport"></div>
                        }

                        @if (Model.DisplayResultList)
                        {
                            @*if (Model.DisplayTopPager)
                            {
                                            <div class="CoveoPager"
                                                 data-number-of-pages="@Model.PagerNumberOfPages"
                                                 data-max-number-of-pages="@Model.PagerMaxNumberOfPages"
                                                 data-enable-navigation-button="@Model.EnablePagerNavigationButton"></div>
                                        }*@
                            <div id="first" class="CoveoResultList"
                                 data-wait-animation="fade"
                                 data-enable-infinite-scroll="@Model.EnableInfiniteScroll"
                                 data-infinite-scroll-page-size="@Model.InfiniteScrollPageSize">

                                <script class="result-template" type="text/underscore">
                                    <div class="xl-col-3 lg-col-6">
                                        <div class="event-tile text-content">
                                            @*<span class="text-size-p75 event-tile-date">{{=raw.@(Model.ToCoveoFieldName("meetingstartdate", false))}}</span><br>*@
                                            <span class="text-size-p75 event-tile-date">{{=raw.@(Model.ToCoveoFieldName("meetingdisplaydate", false))}}</span>
                                            <h3><a class="CoveoResultLink" href="#">{{=raw.@(Model.ToCoveoFieldName("meetingtitle", false))}}</a> </h3>
                                            <span class="text-size-p75 event-tile-location">{{=raw.@(Model.ToCoveoFieldName("meetingshortdescription", false))}}</span>
                                            <a href="{{=raw.@(Model.ToCoveoFieldName("contenturl", false))}}" class="tile-bottom-link read-more-link CoveoResultLink">Read More</a>
                                        </div>
                                    </div>
                                </script>
                            </div>

                            if (Model.DisplayBottomPager)
                            {
                                <div class="CoveoPager" style="display:none"
                                     data-number-of-pages="@Model.PagerNumberOfPages"
                                     data-max-number-of-pages="@Model.PagerMaxNumberOfPages"
                                     data-enable-navigation-button="@Model.EnablePagerNavigationButton"></div>

                                <div class="search-pager-nav">
                                    <div class="slick-prev slick-arrow" aria-label="Previous" role="button"></div>
                                    <div class="slick-custom-pager" role="toolbar"><input class="slide-num-input" data-prev-val="1" value="1" type="text"> of 3</div>
                                    <div class="slick-next slick-arrow" aria-label="Next" role="button"></div>
                                </div>

                            }
                            if (Model.DisplayResultsPerPage)
                            {
                                <div class="CoveoResultsPerPage"></div>
                            }
                        }
                    </div>
                    <div id="meeting-search-results">


                    </div>
                </div>

                @if (Model.DisplayRecommendations)
                {
                    <div class="coveo-recommendation-column">
                        @Html.Sitecore().Placeholder("coveo-recommendations-mvc")
                    </div>
                }
                @*</div>*@
            </div>

        </div>
    </div>

    <script type="text/javascript">
					Coveo.$(function() {
						Coveo.$('#@Model.Id').coveoForSitecore('init', CoveoForSitecore.componentsOptions);

					});
    </script>


}
@if (Model.HasErrors)
{
    <div class="CoveoServerError">
        <h3>@Model.Labels[LocalizedStringKeys.FRIENDLY_SEARCH_UNAVAILABLE_TITLE]</h3>
        <h4>@Model.Labels[LocalizedStringKeys.FRIENDLY_SEARCH_UNAVAILABLE_DETAIL]</h4>
    </div>
}
@if (Html.Coveo().IsEditingInPageEditor())
{
    <script type="text/javascript">
        Coveo.$(function () {
            Coveo.PageEditorDeferRefresh.triggerUpdate();
        });
    </script>
}

@*customize acr coveo*@
<script type="text/javascript">
        Coveo.$(".CoveoSearchInterface").on("querySuccess", function(e, data) {
    console.log('query success');
    var yearData = buildResults(data);

});

function buildResults(args) {
    //var t0 = performance.now();

    Coveo.$('#meeting-search-results').empty();

    //displayMonths(args);
    displayList(args);

}

function displayMonths(args) {

    var yData = createYearArray(args);
    var data = yData.data;
    var years = yData.yearData;


    //display by months
    for(i = 0; i < years.length; i++) {
        var year = years[i][0];
        for(j = 1; j < years[i].length; j++) {
            var month = years[i][j];
            var monthName = getMonthName(month) + ' ' + year;
            //console.log(monthName)
            Coveo.$('#meeting-search-results').append('<header class="header-underrule"><div class="space-between"><h2>' + monthName + '</h2></div></header>');
            var matchingResults = [];
            for(x = 0; x < data.length; x++) {
                if(data[x].jsdate.getFullYear() == year && data[x].jsdate.getMonth() == month) {
                    matchingResults.push(data[x]);
                } else if(data[x].jsdate.getFullYear() > year) {
                    break;
                }
            };
            Coveo.$('#meeting-search-results').append('<div class="content section-spacing"><section class="event-tile-area"><div class="flex-content-left"></div></section></div>')
            for(x = 0; x < matchingResults.length; x++) {
                Coveo.$('#meeting-search-results').find('.flex-content-left').last().append('<div class="lg-col-6 xl-col-3"><div class="event-tile text-content"><span class="text-size-p75 event-tile-date">' + printFieldValue(matchingResults[x].raw['@Model.ToCoveoFieldName("meetingdisplaydate",false)']) + '</span><h3><a href="' + printFieldValue(matchingResults[x].raw['@Model.ToCoveoFieldName("contenturl",false)']) + '">' + printFieldValue(matchingResults[x].raw['@Model.ToCoveoFieldName("meetingtitle",false)']) + '</a></h3><span class="text-size-p75 event-tile-location">' + printFieldValue(matchingResults[x].raw['@Model.ToCoveoFieldName("meetingshortdescription",false)']) + '</span><a href="' + printFieldValue(matchingResults[x].raw['@Model.ToCoveoFieldName("contenturl",false)']) + '" class="read-more-link tile-bottom-link">Read More</a></div></div>');
            }
        }
    }
}

function displayList(args) {
    var yData = createYearArray(args);
    var data = yData.data;

    Coveo.$('#meeting-search-results').append('<div class="content section-spacing"><section class="event-tile-area"><div class="flex-content-left"></div></section></div>')
    for(x = 0; x < data.length; x++) {
        Coveo.$('#meeting-search-results').find('.flex-content-left').last().append('<div class="lg-col-6 xl-col-3"><div class="event-tile text-content"><span class="text-size-p75 event-tile-date">' + printFieldValue(data[x].raw['@Model.ToCoveoFieldName("meetingdisplaydate",false)']) + '</span><h3><a href="' + printFieldValue(data[x].raw['@Model.ToCoveoFieldName("contenturl",false)']) + '">' + printFieldValue(data[x].raw['@Model.ToCoveoFieldName("meetingtitle",false)']) + '</a></h3><span class="text-size-p75 event-tile-location">' + printFieldValue(data[x].raw['@Model.ToCoveoFieldName("meetingshortdescription",false)']) + '</span><a href="' + printFieldValue(data[x].raw['@Model.ToCoveoFieldName("contenturl",false)']) + '" class="read-more-link tile-bottom-link">Read More</a></div></div>');
    }
}

function printFieldValue(fieldValue) {

    if(fieldValue == null) {
        return "";
    }
    return fieldValue;
}

function createYearArray(data) {
    var years = [];
    var myData = data.results.results;
    var length = myData.length;
    for(i = 0; i < length; i++) {
        myData[i].jsdate = new Date(myData[i].raw['@Model.ToCoveoFieldName("meetingstartdate",false)']);
        var mdate = myData[i].jsdate;
        var year = mdate.getFullYear();
        var month = mdate.getMonth();
        var yearIndex = arrayContainsYear(years, year);
        if(yearIndex == -1) {
            var yearArray = [];
            yearArray.push(year);
            yearArray.push(month);
            years.push(yearArray);
        } else {
            if(arrayContainsMonth(years[yearIndex], month) == -1) {

                years[yearIndex].push(month);

            }

        }
    }
    return {
        yearData: years,
        data: myData
    };
}
Coveo.$(".CoveoSearchInterface").on('newResultsDisplayed', function() {
    //wrap html with proper outer elements
    //Coveo.$('.coveo-list-layout').children().unwrap().unwrap();

});



Coveo.$(".CoveoSearchInterface").on('deferredQuerySuccess', function(e, data) {
    //console.log('defer query success');
    Coveo.$('.event-tile-location').each(function() {
        var text = Coveo.$(this).text().trim();
        if(text.length > 65) {
            text = text.substring(0, 65) + '...';
        }
        text = text.replace('SOLD OUT', '<b style="color:red">SOLD OUT</b>');
        Coveo.$(this).html(text);
        //Coveo.$(this).text(text);
        var next = Coveo.$(this).next();
        while(!next.hasClass('tile-bottom-link')) {
            var n2 = next.next();
            next.detach();
            next = n2;
        }
    });
});

function arrayContainsYear(array, value) {
    for(var i = 0; i < array.length; i++) {
        if(array[i][0] === value) {
            return i;
        }
    }
    return -1;
}

function arrayContainsMonth(array, value) {
    for(var i = 0; i < array.length; i++) {
        if(array[i] === value) {
            return i;
        }
    }
    return -1;
}

var monthNames = ["January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
];

function getMonthName(monthnum) {
    return monthNames[monthnum];
}
</script>
