@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.MembershipTestimonials.ViewModels.MembershipTestimonialsViewModel>

@if (Model.Testimonials != null && Model.Testimonials.Count() > 0)
{
    foreach (var item in Model.Testimonials)
    {
        <div class="xl-col-4 lg-col-4 md-col-6">                    
            <section class="news-slide hover-show-overlay">
                <div class="news-box">
                    <div class="news-image">
                        <a class="block" href="#">
                            <div class="news-type-tag">
                                @if(!string.IsNullOrEmpty(item.Category))
                                {
                                    @item.Category
                                }
                                else
                                {
                                    @Html.Raw("Category")
                                }                               
                            </div>
                            <div class="news-content">
                                <div class="overlay-to-show" data-item-id="@item.Id">
                                    <h3>@item.FullName</h3>
                                    <div class="text-content">
                                        @if (!string.IsNullOrWhiteSpace(item.Chapter))
                                        {
                                            <p>
                                                Chapter: @item.Chapter 
                                                @if (item.MemberDate != DateTime.MinValue)
                                                {
                                                    <br />
                                                    @Html.Raw("Member Date: " + item.MemberDate.ToString("MM-dd-yyyy"))
                                                }
                                            </p>
                                        }
                                        <p>@item.BriefMessage</p>
                                    </div>
                                </div>
                                <figure>
                                    @if (!string.IsNullOrWhiteSpace(item.YouTubeLink) && (item.ProfileImage != null && Path.GetFileNameWithoutExtension(item.ProfileImage.Src) == "default"))
                                    {
                                        <img src="~/css/mbr-testimonials/images/play.png" class="play-img" />
                                    }
                                    @Html.Raw(RenderImage(item, x => x.ProfileImage, new { W = 294, H = 288, Width = 294, Height = 288 }))
                                </figure>
                            </div>
                            <div class="news-display-header text-center mt-tile-title" style="height: 55px;">
                                <h3 style="">@item.IntroMessage</h3>
                            </div>
                        </a>
                    </div>
                    <footer class="text-center">
                        <a href="#" class="read-more-link" data-item-id="@item.Id">Read more</a>
                    </footer>
                </div>
            </section>
        </div>
    }
}