@using PagedList.Mvc;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.SiteSection.ViewModels.TileHolderViewModel>
@using ACRHelix.Foundation.EditFrames;
@using ACRHelix.Feature.SiteSection.Constants;


@{
    var tileHolderClass = "tile-holder" + Model.TilesPerRow;
    var newsBoxClass = "news-box" + Model.TilesPerRow;
}

@if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    <style type="text/css">
        .tile-holder4 div.scLooseFrameZone {
            width: 25% !important;
        }

        .tile-holder3 div.scLooseFrameZone {
            width: 33% !important;
        }
    </style>
}


<!--start: Module -->
<div class="content section-spacing" style="min-height:100px">
    @if (Model.Title != "" || Sitecore.Context.PageMode.IsExperienceEditorEditing)
    {

        <h2>@Editable(x => x.Title)</h2>
        <hr>
    }
    <div class="flex-container text-center tile-holder @tileHolderClass">
        @if (Model.Tiles.Count() > 0)
        {
            foreach (var tile in Model.Tiles)
            {
                //bool hasImage = tile.Image != null && tile.Image.Src != "";
                var editFramePath = tile.TemplateID == TileConstants.Templates.ExternalTileTemplate.ID ? EditFrameConstants.Paths.Tile_Edit_External : EditFrameConstants.Paths.Tile_Edit;
                var text = string.IsNullOrWhiteSpace(tile.LinkText) ? "Read More" : tile.LinkText;
                //var url = tile.TemplateID == TileConstants.Templates.ExternalTileTemplate.ID ? tile.Link.Url : tile.Url;
                using (BeginEditFrame(editFramePath, tile.Id.ToString(), "Tile Content"))
                {
                    <section class="@newsBoxClass news-box news-box-v2 hover-show-overlay">
                        <div class="news-image">
                            <div class="news-display-header2 wide-12">
                                <h3>
                                    @if (!string.IsNullOrWhiteSpace(tile.ShortTitle))
                                    {
                                        @Editable(tile, x => x.ShortTitle)
                                    }
                                    else
                                    {
                                        @Editable(tile, x => x.Title)
                                    }
                                    <span class="read-more-arrow"></span>
                                </h3>
                            </div>

                            @using (BeginRenderLink(tile, x => x.Link, new System.Collections.Specialized.NameValueCollection { { "class", "block no-target-icon" } }))
                            {
                                var paddingCss = "no-padding-top";
                                if(tile.NextSessionDate != null)
                                {
                                    paddingCss = "";
                                }
                                <div class="news-content">
                                    <div class="overlay-to-show wide-12 @paddingCss">
                                        @if(tile.NextSessionDate != null) {
                                        <div style="background-color:#062d4a;font-size:1em;font-weight:bold;padding-bottom:6px" class="news-type-tag">@tile.NextSessionDate</div>
                                        }
                                        <div class="text-content">
                                            @Editable(tile, x => x.TileText)
                                        </div>                              
                                <span class="tile-bottom-link read-more-link blue-link">
                                      @text
                                </span>
                                    </div>
                                    <figure>
                                        @Editable(tile, x => x.Image)
                                    </figure>
                                </div>
                            }

                        </div>
                      
                    </section>
                }
            }

            for (int i = 0; i < Model.HiddenTiles; i++)
            {
                <section class="news-box @newsBoxClass news-box-v2 hover-show-overlay" style="border:none !important"></section>
            }
        }
    </div>
    @if (Model.PageCount > 1)
    {
        <div class="indented-section section-spacing">
            <div class="search-pager-nav">
                @{
                    var nameValues = HttpUtility.ParseQueryString(Request.QueryString.ToString());
                    string url = Request.Url.AbsolutePath;
                }

                @if (Model.PageNumber > 1)
                {
                    nameValues.Set("page", (Model.PageNumber - 1).ToString());
                    <a href="@(url + "?" + nameValues)"><div class="slick-prev slick-arrow" aria-label="Previous" role="button"></div></a>
                }
                <form action="@(url)" method="get">
                    <div class="slick-custom-pager" role="toolbar">
                        @foreach (var value in nameValues)
                        {
                            if (value as string != "page")
                            {
                                <input type="hidden" name="@value" class="slide-num-input" data-prev-val="1" value="@nameValues[value as string]">
                            }
                        }
                        <input name="page" class="slide-num-input" data-prev-val="1" value="@Model.PageNumber" type="text">of @Model.PageCount
                    </div>
                </form>
                @if (Model.PageNumber < Model.PageCount)
                {
                    nameValues.Set("page", (Model.PageNumber + 1).ToString());
                    <a href="@(url + "?" + nameValues)"><div class="slick-next slick-arrow" aria-label="Next" role="button"></div></a>
                }
            </div>
        </div>
                    }
</div>
<!--end: Module -->
