@using Glass.Mapper.Sc.Web.Mvc;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.SiteSection.Models.IdeasSelectedTiles>

@if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    <div style="width:100%; height:40px"></div>
}

@if (Model.SelectedTiles != null && Model.SelectedTiles.Any())
{
<div class="info">
    <div class="row">
        @foreach (var item in Model.SelectedTiles.Select((value, index) => new { index, value }))
        {
            if (item.index % 2 == 0)
            {
                <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                    <div class="card d-flex @(item.value.TileColor != null ? item.value.TileColor.Phrase : "")">
                        <div class="card-body align-items-center d-flex justify-content-center">
                            <a href="@(item.value.TileLink != null ? item.value.TileLink.Url : "#")">
                                <p class="card-text">@Html.Raw(item.value.TileText)@*@Html.Raw(item.value.TileText)*@ <i class="icon-animation fa fa-angle-double-right" aria-hidden="true"></i></p>
                            </a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card d-flex @(item.value.TileColor != null ? item.value.TileColor.Phrase : "")">
                        <div class="card-body align-items-center d-flex justify-content-center">
                            <a href="@(item.value.TileLink != null ? item.value.TileLink.Url : "#")">
                                <p class="card-text">@Html.Raw(item.value.TileText)@*@Html.Raw(item.value.TileText)*@ <i class="icon-animation fa fa-angle-double-right" aria-hidden="true"></i></p>
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
}
