@using PagedList.Mvc;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.SiteSection.ViewModels.TileHolderViewModel>
@using ACRHelix.Foundation.EditFrames;
@using ACRHelix.Feature.SiteSection.Constants;


@if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    <style type="text/css">
        .tile-holder div.scLooseFrameZone {
            width: 25%;
        }

            .tile-holder div.scLooseFrameZone .xl-col-3 {
                width: 100%;
            }
    </style>
}

<!--start: Module -->
<section class="content section-spacing" style="min-height:100px">

    @if (Model.Title != "" || Sitecore.Context.PageMode.IsExperienceEditorEditing)
    {
        <h2>@Editable(x => x.Title)</h2>
        <hr>
    }

    <div class="indented-section">
        @if (Model.Tiles != null && Model.Tiles.Count() > 0)
        {
            foreach (var tile in Model.Tiles)
            {
                var editFramePath = tile.TemplateID == TileConstants.Templates.ExternalTileTemplate.ID ? EditFrameConstants.Paths.Tile_Edit_External : EditFrameConstants.Paths.Tile_Edit;
                var linktext = string.IsNullOrWhiteSpace(tile.LinkText) ? "Read More" : tile.LinkText;
                using (BeginEditFrame(editFramePath, tile.Id.ToString(), "Launchpad"))
                {
                    <section class="article-item">
                        <h3 class="font-inherit-body">@Editable(tile, x => x.Title)</h3>
                        <div class="text-content">
                            @Editable(tile, x => x.TileText)
                        </div>


                        @if (tile.TemplateID == TileConstants.Templates.ExternalTileTemplate.ID)
                        {
                            if (Sitecore.Context.PageMode.IsExperienceEditor)
                            {
                                using (BeginRenderLink(tile, x => x.Link, new System.Collections.Specialized.NameValueCollection { { "class", "read-more-link" } }, isEditable: true))
                                {
                                    @Editable(tile, x => x.LinkText)
                                }
                            }
                            else
                            {
                                using (BeginRenderLink(tile, x => x.Link, new System.Collections.Specialized.NameValueCollection { { "class", "read-more-link" } }, isEditable: true))
                                {
                                    @linktext
                                }
                            }
                        }
                        else
                        {
                            if (Sitecore.Context.PageMode.IsExperienceEditor)
                            {
                                <a href="@tile.Url" class="read-more-link">@Editable(tile, x => x.LinkText)</a>
                            }
                            else
                            {
                                <a href="@tile.Url" class="read-more-link">@tile.LinkText</a>
                            }
                        }
                        <br>
                        <br>
                        <hr>
                        <br>
                    </section>
                }
            }
        }
    </div>

    @if (Model.PageCount > 1)
    {
        <div class="indented-section section-spacing">
            <div class="search-pager-nav">
                @{
                    var nameValues = HttpUtility.ParseQueryString(Request.QueryString.ToString());
                    string url = Request.Url.AbsolutePath;
                }

                @if (Model.PageNumber > 1)
                {
                    nameValues.Set("page", (Model.PageNumber - 1).ToString());
                    <a href="@(url + "?" + nameValues)"><div class="slick-prev slick-arrow" aria-label="Previous" role="button"></div></a>
                }
                <form action="@(url)" method="get">
                    <div class="slick-custom-pager" role="toolbar">
                        @foreach (var value in nameValues)
                        {
                            if (value as string != "page")
                            {
                                <input type="hidden" name="@value" class="slide-num-input" data-prev-val="1" value="@nameValues[value as string]">
                            }
                        }
                        <input name="page" class="slide-num-input" data-prev-val="1" value="@Model.PageNumber" type="text">of @Model.PageCount
                    </div>
                </form>
                @if (Model.PageNumber < Model.PageCount)
                {
                    nameValues.Set("page", (Model.PageNumber + 1).ToString());
                    <a href="@(url + "?" + nameValues)"><div class="slick-next slick-arrow" aria-label="Next" role="button"></div></a>
                }
            </div>
        </div>
                    }

</section>