@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.ImageWiselyContent.ViewModels.IndivPledgeFormViewModel>
@using ACRHelix.Feature.ImageWiselyContent.Helpers

<section class="padding-b-0 imaging-fromblock">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h3 class="padding-b-20 annual-pledge-h3">
                    @Editable(m => m.SubTitle)
                </h3>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.IndividualPledge.FirstName, new { @class = "required" })
                                @Html.TextBoxFor(m => m.IndividualPledge.FirstName, new { @placeholder = @Html.DisplayNameFor(n => n.IndividualPledge.FirstName), @class = "form-control", @autocomplete = "smartystreets", @maxlength = "50" })
                                @Html.ValidationMessageFor(m => m.IndividualPledge.FirstName)
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.IndividualPledge.LastName, new { @class = "required" })
                                @Html.TextBoxFor(m => m.IndividualPledge.LastName, new { @placeholder = @Html.DisplayNameFor(n => n.IndividualPledge.LastName), @class = "form-control", @autocomplete = "smartystreets", @maxlength = "100" })
                                @Html.ValidationMessageFor(m => m.IndividualPledge.LastName)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.IndividualPledge.Email, new { @class = "required" })
                                    @Html.TextBoxFor(m => m.IndividualPledge.Email, new { @placeholder = @Html.DisplayNameFor(n => n.IndividualPledge.Email), @class = "form-control", @autocomplete = "smartystreets", @maxlength = "255" })
                                    @Html.ValidationMessageFor(m => m.IndividualPledge.Email)
                                    @if (Model.isEmailExists)
                                    {
                                        <span class="field-validation-error" data-valmsg-for="IndividualPledge.FirstName" data-valmsg-replace="true">
                                            <span for="IndividualPledge_FirstName" class="">@Editable(m => m.ValidationErrorMessage)</span>
                                        </span>
                                    }
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    
                                    @Html.LabelFor(m => m.IndividualPledge.ConfirmEmail, new { @class = "required" })
                                    <span style="display:block;margin-bottom:7px">&nbsp;</span>
                                    @Html.TextBoxFor(m => m.IndividualPledge.ConfirmEmail, new { @placeholder = @Html.DisplayNameFor(n => n.IndividualPledge.ConfirmEmail), @class = "form-control", @autocomplete = "smartystreets", @maxlength = "255" })
                                    @Html.ValidationMessageFor(m => m.IndividualPledge.ConfirmEmail)
                                </div>
                                
                            </div>
                        </div>
                    <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.IndividualPledge.ProfessionOrRole, new { @class = "required" })
                                    @Html.DropDownListFor(m => m.IndividualPledge.ProfessionOrRole, Model.IndividualPledge.ProfessionOrRoleList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.IndividualPledge.ProfessionOrRole)
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.IndividualPledge.OtherProfesionOrRole)
                                    @Html.TextBoxFor(m => m.IndividualPledge.OtherProfesionOrRole, new { @placeholder = @Html.DisplayNameFor(n => n.IndividualPledge.OtherProfesionOrRole), @class = "form-control", @autocomplete = "smartystreets", @maxlength = "200" })
                                </div>
                            </div>
                        </div>
                    <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.IndividualPledge.InstitutionOrHospital, new { @class = "required" })
                                    @Html.TextBoxFor(m => m.IndividualPledge.InstitutionOrHospital, new { @placeholder = @Html.DisplayNameFor(n => n.IndividualPledge.InstitutionOrHospital), @class = "form-control", @autocomplete = "smartystreets", @maxlength = "255" })
                                    @Html.ValidationMessageFor(m => m.IndividualPledge.InstitutionOrHospital)
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.IndividualPledge.Countries)
                                    @Html.DropDownListFor(m => m.IndividualPledge.Country, Model.IndividualPledge.Countries, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.IndividualPledge.PracticeTypes)
                                    @Html.DropDownListFor(m => m.IndividualPledge.PracticeType, Model.IndividualPledge.PracticeTypes, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.IndividualPledge.OtherPracticeType)
                                    @Html.TextBoxFor(m => m.IndividualPledge.OtherPracticeType, new { @placeholder = @Html.DisplayNameFor(n => n.IndividualPledge.OtherPracticeType), @class = "form-control", @autocomplete = "smartystreets", @maxlength = "100" })
                                </div>
                            </div>
                        </div>
                    @*<div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.IndividualPledge.HowLearnAboutCampaign)
                                    @Html.DropDownListFor(m => m.IndividualPledge.HowLearnAboutCampaign, Model.IndividualPledge.HowLearnAboutCampaignList, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.IndividualPledge.OtherHowLearnAboutCampaign)
                                    @Html.TextBoxFor(m => m.IndividualPledge.OtherHowLearnAboutCampaign, new { @placeholder = @Html.DisplayNameFor(n => n.IndividualPledge.OtherHowLearnAboutCampaign), @class = "form-control", @autocomplete = "smartystreets", @maxlength = "255" })
                                </div>
                            </div>
                        </div>*@
                    <div class="row">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    @Html.GoogleCaptcha()
                                    @Html.InvalidGoogleCaptchaLabel()
                                </div>
                            </div>
                        </div>
                    <div class="text-center float-e-margins extra-padding-t-b">
                                <button type="submit" class="btn btn-primary">@Editable(m => m.ButtonText)</button>
                            </div>
                }
            </div>
        </div>
    </div>
</section>