
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Project.RadPAC.ViewModels.LinkMenuViewModel>

@{
    int itemCount = Model.MenuItems.Count();
}

@if (itemCount > 0)
{

    if (itemCount == 1)
    {
        <li>
            <a href="@Model.MenuItems.First().Link.Url" target="@Model.MenuItems.First().Link.Target">@Model.MenuItems.First().Title</a>
        </li>
    }

    if (itemCount == 2)
    {
        <li>
            <a href="@Model.MenuItems.First().Link.Url" target="@Model.MenuItems.First().Link.Target">@Model.MenuItems.First().Title</a>
        </li>
        <li>
            <span class="d-flex align-items-center">|</span>
        </li>
        <li>
            <a href="@Model.MenuItems.Skip(1).First().Link.Url" target="@Model.MenuItems.Skip(1).First().Link.Target">@Model.MenuItems.Skip(1).First().Title</a>
        </li>
    }

    if (itemCount == 3)
    {
        <li>
            <a href="@Model.MenuItems.First().Link.Url" target="@Model.MenuItems.First().Link.Target">@Model.MenuItems.First().Title</a>
        </li>
        <li>
            <span class="d-flex align-items-center">|</span>
        </li>
        <li>
            <a href="@Model.MenuItems.Skip(1).First().Link.Url" target="@Model.MenuItems.Skip(1).First().Link.Target">@Model.MenuItems.Skip(1).First().Title</a>
        </li>
        <li>
            <span class="d-flex align-items-center">|</span>
        </li>
        <li>
            <a href="@Model.MenuItems.Skip(2).First().Link.Url" target="@Model.MenuItems.Skip(2).First().Link.Target">@Model.MenuItems.Skip(2).First().Title</a>
        </li>
    }
}