@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.ImageWiselyContent.ViewModels.PageTitleSectionViewModel>

<section class="white-bg RSNA-block padding-0">
    <div class="container">
        <div class="section-inner-padding50">
            <div class="ibox margin-b-0">
                    @if (!string.IsNullOrWhiteSpace(Model.PageTitleSection.Title))
                    {
                        <div class="ibox-content padding-0 text-left">
                            <h2 class="tag-h2-red">@Editable(x => x.PageTitleSection.Title)</h2>
                        </div>
                    }        
                <div class="ibox-content padding-0 text-center-mobile">
                    <div class="news-head-a news-head-2 text-center-mobile" @if (Model.PageTitleSection.BackgroundImage != null) { @Html.Raw("style = 'background:url(" + Model.PageTitleSection.BackgroundImage.Src + ") right top no-repeat #46697f'");  }>                      
                        @if (Model.PageTitleSection.Image != null)
                        {
                            <div class="pull-left">
                                @RenderImage(x => x.PageTitleSection.Image, new { @class = "img-responsive" }, isEditable: true)
                            </div>   
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.PageTitleSection.SubTitle) || Sitecore.Context.PageMode.IsExperienceEditorEditing)
                        {
                            <h2 class="padding-t-20 margin-t-0">
                                @Editable(x => x.PageTitleSection.SubTitle)
                            </h2>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.PageTitleSection.RichText) || Sitecore.Context.PageMode.IsExperienceEditorEditing)
                        {
                            <p class="font-16 hidden-xs">
                                @Editable(x => x.PageTitleSection.RichText)
                            </p>
                        }
                        @if (Model.PageTitleSection.Link != null)
                        {
                            using (BeginRenderLink(x => x.PageTitleSection.Link, new { @class = "btn btn-primary btn-sm pull-right", role = "button" }, isEditable: true))
                            {
                                @Model.PageTitleSection.Link.Text <i class="fa fa-angle-double-right"></i>
                            }
                        }
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>