@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.ImageWiselyContent.ViewModels.IWCarouselViewModel>

@*<div id="home-slider-outer">
    <div class="container">
        <div class="relative">
            <div id="slider-content-area">
                <div class="home-slide-content">
                    <div class="content row">
                        <div class="xl-wide-5 lg-wide-6 wide-12 home-slide-content-inner">
                            <div class="slide-transition-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div role="slider" id="@Model.SliderID">
            @foreach (var slider in Model.ContentSlider.Slides)
            {
                <div class="container">
                    <section class="slick-slide home-slide">
                        <div class="home-slide-img-holder padding-0 theme2-bg2" @if (slider.BackgroundImage != null) { @Html.Raw("style = 'background:url(" + slider.BackgroundImage.Src + ") right top #406a83 no-repeat'")    ; }>
                            @if (slider.BackgroundImage != null)
                            {
                                @Editable(slider, x => x.BackgroundImage)
                            }
                        </div>
                        <div class="bannerBlock text-justify text-last-justify">
                            <div class="row">
                                @if (slider.Image != null)
                                {
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        @RenderImage(slider, x => x.Image, new { @class = "img-responsive" }, isEditable: true)
                                    </div>
                                }

                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    @if (!string.IsNullOrWhiteSpace(slider.Title))
                                    {
                                        <h1>@Editable(slider, x => x.Title)</h1>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(slider.SubTitle))
                                    {
                                        <p class="text-justify text-">
                                            @Editable(slider, x => x.SubTitle)
                                        </p>
                                    }
                                    @if (slider.Link != null)
                                    {
                                        using (BeginRenderLink(slider, x => x.Link, new { @class = "btn btn-primary btn-md active banner-btn", role = "button" }, isEditable: true))
                                        {
                                            @slider.Link.Text <i class="fa fa-angle-double-right"></i>
                                        }
                                    }

                                </div>
                                <div class="home-slide-text">

                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            }
        </div>

        <div class="content row">
            <div class="xl-wide-5 lg-wide-6">
                <div class="relative">
                    <div id="home-slider-nav">
                        <div id="home-slider-dots"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>*@

                <div id="home-slider-outer">
                    <div class="relative">
                        <div id="slider-content-area">
                            <div class="home-slide-content">
                                <div class="bannerBlock text-justify text-last-justify">
                                    <div class="content row">
                                        <div class="home-slide-content-inner">
                                            <div class="slide-transition-content"></div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div role="slider" id="@Model.SliderID">
                        @foreach (var slider in Model.ContentSlider.Slides)
                        {
                            <section class="slick-slide home-slide">
                                <div class="home-slide-img-holder">
                                    @if (slider.BackgroundImage != null)
                                    {
                                        @Editable(slider, x => x.BackgroundImage)
                                    }
                                </div>
                                <div class="home-slide-text-area" style="display:none!important"> 
                                    @if (slider.Image != null)
                                    {
                                        <div class="col-sm-6 col-md-6 col-lg-6">
                                            @RenderImage(slider, x => x.Image, new { @class = "img-responsive" }, isEditable: true)
                                        </div>
                                    }
                                    <div class="@if (slider.Image == null) { @Html.Raw("col-sm-12") } else { @Html.Raw("col-sm-6") }">
                                        <h1>@Editable(slider, x => x.Title)</h1>
                                        <div class="home-slide-text">
                                            @if (!string.IsNullOrWhiteSpace(slider.SubTitle))
                                            {
                                                <p>
                                                    @Editable(slider, x => x.SubTitle)
                                                </p>
                                            }
                                            @if (slider.Link != null)
                                            {
                                                using (BeginRenderLink(slider, x => x.Link, new { @class = "btn btn-primary btn-md active banner-btn", role = "button" }, isEditable: true))
                                                {
                                                    @slider.Link.Text <i class="fa fa-angle-double-right"></i>
                                                }
                                            }
                                        </div>
                                    </div>  
                                </div>
                            </section>
                        }
                    </div>

                    <div class="content row">
                        <div class="xl-wide-5 lg-wide-6">
                            <div class="relative">
                                <div id="home-slider-nav">
                                    <div id="home-slider-dots"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            

