@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.ImageWiselyContent.ViewModels.IWPageTitleViewModel>
@using Sitecore.Foundation.SitecoreExtensions.Extensions

<section class="white-bg imgwise-block logos-block">
    <div class="container">
        @if (Model.Date == DateTime.MinValue)
        {
            //hide date if not set
            <h1 class="header-title">@Editable(x => x.Title)</h1>
        }
        else
        {
            //show date and add margin
            <span class="">@Model.Date.ToString("MMMM dd, yyyy")</span>
            <h1 class="header-title">@Editable(x => x.Title)</h1>
        }

        @Html.Sitecore().DynamicPlaceholder("TitleShareLinks", true)

        @if (Model.SubTitle != "" || Sitecore.Context.PageMode.IsExperienceEditorEditing)
        {
            <h3>@Editable(x => x.SubTitle)</h3>
        }

        @if (Model.RichText != "" || Sitecore.Context.PageMode.IsExperienceEditorEditing)
        {
            <div class="">
                @Editable(x => x.RichText)
            </div>
        }
    </div>
</section>