@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.ImageWiselyContent.ViewModels.ModalityPageTilesViewModel>

<section class="padding-b-0">
    <div class="container">
        <div class="section-inner-padding30">
            @Html.Hidden("PgSize", 9)
            @Html.Hidden("ItemCount", @Model.ArticlesList.Count())
            @{ var pageIndex = 0;}
            <div class="tabbable tabbable2">
                
                @if (!string.IsNullOrWhiteSpace(Model.SubTitle))
                {
                    <ul class="nav nav-tabs nav-tabs-bottom bottom-divided">
                        <li class="active"><a>@Editable(m => m.SubTitle)</a></li>
                    </ul>
                }
                <div class="tab-content">
                    <div class="tab-pane active" id="bottom-divided-tab1">
                        <div class="row tiles-section-list">
                            @foreach (var page in Model.ArticlePages)
                            {
                                foreach (var item in page)
                                {
                                    <div class="col-xs-12 col-sm-6 col-md-4" page-index="@pageIndex" @if (pageIndex != 0) { @Html.Raw("hidden = 'hidden'")}>
                                        <div class="ibox">
                                            <div class="ibox-content">
                                                <div class="ibox-content-head">
                                                    <a href="@item.Url" class="btn-link">
                                                        <h2 class="slick-arrow">
                                                            @Editable(item, m => m.Title) @*<i class="fa fa-angle-double-right"></i>*@
                                                        </h2>
                                                    </a>
                                                </div>
                                                <div class="ibox-content-body">
                                                    <p>@Editable(item, m => m.TileText)</p>
                                                </div>
                                                <p class="news-p">
                                                    <a href="@item.Url" class="btn-link slick-arrow">
                                                         @Html.Raw("Continue reading ") @*<i class="fa fa-angle-double-right"></i>*@
                                                    </a>
                                                    
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                                ++pageIndex;
                            }
                        </div>
                        <div class="text-center float-e-margins">
                            <a class="btn btn-primary btn-sm" role="button" id="loadMore">Load more</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
