@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.ImageWiselyContent.ViewModels.NewsTilesViewModel>

<section class="padding-b-0">
    <div class="container">
        <div class="row news-section">
            <h1 class="text-center">
                <a style="text-decoration:none" href="@Model.Url">
                    @Editable(x => x.Title)
                </a>
            </h1>
            @foreach (var item in Model.NewsArticles)
            {
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>@item.Topic</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="small m-b-xs">
                                <span class="text-muted">
                                  @item.Date.ToString("MMMM dd, yyyy")
                                </span>
                            </div>
                            <a href="@item.Url" class="btn-link">
                                <h2 class="slick-arrow">
                                    @item.Title @*<i class="fa fa-angle-double-right"></i>*@
                                </h2>
                            </a>
                            <p class="news-p"><a class="text-info slick-arrow" href="@item.Url">Continue reading @*<i class="fa fa-angle-double-right"></i>*@</a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="text-center float-e-margins">
            <a class="btn btn-primary btn-sm slick-arrow" href="@Model.Url">More news @*<i class="fa fa-angle-double-right"></i>*@</a>
        </div>
    </div>
</section>

