@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.ImageWiselyContent.ViewModels.PledgeCounterSectionViewModel>

<section id="counter" class="padding-0 theme2-bg2" @if (Model.PledgeCounterSection.BackgroundImage != null) { @Html.Raw("style = 'background:url(" + Model.PledgeCounterSection.BackgroundImage.Src + ") right top #406a83 no-repeat'");  }>
    <div class="container">
        <div class="bannerBlock">
            <div class="row">
                <div class="col-sm-3 wow fadeInLeft padding-0" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="counter-item counter-item-first">
                        <h3 class="timer">@Model.TotalPledgeCount</h3>
                        <span class="fa fa-angle-down counter-div" onclick="ShowHideCounter()"></span>
                        <h5>@Editable(m => m.PledgeCounterSection.TotalPledgeText) <span class="owl-thumb"></span></h5>
                    </div>
                </div>
                <div class="col-sm-1 wow fadeInLeft padding-0 text-center bracket" data-wow-duration="1000ms" data-wow-delay="300ms">
                    @RenderImage(m => m.PledgeCounterSection.Image, isEditable:true)                    
                </div>
                <div class="col-sm-8 wow fadeInLeft padding-0" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="row reCounter counter-none" id="counter-toggle">
                        <div class="col-sm-3 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="counter-item">
                                <h3 class="timer">@Model.ImagingPCount</h3>

                                <h5>Imaging Professionals</h5>
                            </div>
                        </div>
                        <div class="col-sm-3 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                            <div class="counter-item">
                                <h3 class="timer">@Model.ReferringPCount</h3>

                                <h5>Referring Practitioners</h5>
                            </div>
                        </div>
                        <div class="col-sm-3 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="700ms">
                            <div class="counter-item">
                                <h3 class="timer">@Model.ImagingFCount</h3>

                                <h5>Imaging Facilities</h5>
                            </div>
                        </div>
                        <div class="col-sm-3 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="900ms">
                            <div class="counter-item">
                                <h3 class="timer">@Model.AssocAEdProgCount</h3>

                                <h5>
                                    Associations &<br />
                                    Educational Programs
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>