@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.ImageWiselyContent.ViewModels.RichTextWithImageViewModel>

@if (Model.Content != null)
{
    <section class="white-bg">
        <div class="container">
            <div class="ibox margin-b-0">
                <div class="ibox-content padding-0">
                    <div class="feed-element">
                        @if (Model.Content.ImageLocaton.ToLower() == "left")
                        {
                            using (BeginRenderLink(x => x.Content.Link, new { @class = "pull-left" }, isEditable: true))
                            {
                                @RenderImage(x => x.Content.Image, new { @class = "pull-left" }, isEditable: true)

                            }
                        }
                        else
                        {
                            using (BeginRenderLink(x => x.Content.Link, new { @class = "pull-right" }, isEditable: true))
                            {
                                @RenderImage(x => x.Content.Image, new { @class = "pull-right" }, isEditable: true)
                            }
                        }

                        <div class="media-body">
                            @if (!string.IsNullOrWhiteSpace(Model.Content.Title))
                            {

                                <h1>
                                    @using (BeginRenderLink(x => x.Content.Link, new { @style = "text-decoration: none;" }, isEditable: true))
                                    {
                                        @Editable(x => x.Content.Title)
                                    }
                                    
                                </h1>
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.Content.RichText))
                            {
                                <p>
                                    @Editable(x => x.Content.RichText)
                                </p>
                            }                           
                            <div class="float-e-margins t-center">
                                @if (Model.Content.Link != null)
                                {
                                    using (BeginRenderLink(x => x.Content.Link, new { @class = "btn btn-primary slick-arrow" }, isEditable: true))
                                    {
                                        @Model.Content.Link.Text @Html.Raw("&nbsp;") @*<i class="fa fa-angle-double-right"></i>*@
                                    }
                                }                                    
                            </div>
                         </div>
                    </div>
                </div>
            </div>
            <div class="padding-l-0 padding-r-0">
                <div class="g-line"></div>
            </div>
            
        </div>
    </section>
}
