@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.ImageWiselyContent.ViewModels.RsnaDoseExhibitionViewModel>

<section class="white-bg font-16 RSNA-block2">
    <div class="container">
        <div class="section-inner-padding50">
            <div class="row">
                <div class="col-lg-12">
                    @*<div class="feed-element">
                            <h3>@Model.Title</h3>
                        </div>*@
                    @{ int couter = 1;}
                    @foreach (var item in Model.ArticlePagesList)
                    {
                        if (item.Topic == @Model.Title)
                        {
                            <div class="feed-element">
                                @if (item.Link != null)
                                {
                                    using (BeginRenderLink(item, x => x.Link, isEditable: true))
                                    {
                                        <h4 class="tag-h4-blue">@Editable(item, x => x.Title)</h4>
                                    }

                                }
                                else
                                {
                                    <a href="@item.Url"><h4 class="tag-h4-blue">@Editable(item, x => x.Title)</h4></a>
                                }


                                <small class="text-muted">Authors: @Editable(item, x => x.TileText) | @Editable(item, x => x.Date, x => x.Date.ToString("MMMM dd, yyyy"))</small>
                            </div>
                            <div class="float-e-margins padding-b-10">
                                @if (item.Link != null)
                                {
                                    using (BeginRenderLink(item, x => x.Link, new { @class = "slick-arrow" }, isEditable: true))
                                    {
                                        @Html.Raw("Access dose exhibit ") @*<i class="fa fa-angle-double-right"></i>*@
                                    }

                                }
                                else
                                {
                                    <a class="slick-arrow" href="@item.Url">Access dose exhibit @*<i class="fa fa-angle-double-right"></i>*@</a>
                                }

                            </div>
                            if (couter <= Model.ArticlePagesList.Count())
                            {
                                <div class="padding-l-0 padding-r-0">
                                    <div class="g-line"></div>
                                </div>
                            }

                        }
                        ++couter;
                    }
                </div>
            </div>
        </div>
    </div>
</section>