@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.ImageWiselyContent.ViewModels.RsnaDoseExhibitionViewModel>

<section class="white-bg font-16 RSNA-block2 extra-padding-t-b">
    <div class="container">
        <div class="section-inner-padding50">
            <div class="row">  
                @foreach (var topic in Model.ListPage)
                {
                    <div class="col-lg-6">
                        <div class="feed-element">
                            <h3>@topic.Title</h3>
                        </div>
                        @{ int size = 0; }
                        @foreach (var item in Model.ArticlePagesList)
                        {
                            if (item.Topic == topic.Title && size < 4)
                            {
                                <div class="feed-element">
                                    @if (item.Link != null)
                                    {
                                        using (BeginRenderLink(item, x => x.Link, isEditable: true))
                                        {
                                            @Editable(item, x => x.Title)
                                        }

                                    }
                                    else
                                    {
                                        <a href="@item.Url">@Editable(item, x => x.Title) </a>
                                    }
                                    
                                    <br />
                                    <small class="text-muted">@Editable(item, x => x.Date, x => x.Date.ToString("MMMM dd, yyyy"))</small>  
                                </div>
                                ++size;
                            }
                        }
                        <div class="text-center-mobile">
                            <a href="@topic.Url" class="btn btn-primary btn-sm slick-arrow" >Read more </a>
                        </div>

                        <div class="horizontal-rule-mobile">                          
                            <div style="width:100%; height:1px; background-color: grey; margin:20px; border:none;"></div>                                                      
                        </div>

                    </div>
                }
                
            </div>
        </div>
    </div>
</section>