@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.CodingSource.ViewModels.CodingSourceViewModel>



@if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    <style type="text/css">
        .tile-holder div.scLooseFrameZone {
            width: 25%;
        }

            .tile-holder div.scLooseFrameZone .xl-col-3 {
                width: 100%;
            }
    </style>
}
<!--start: Module -->
<section class="content section-spacing" style="min-height:100px">

    <header class="header-underrule">
        <div class="space-between">
            <h2 class="inline-block">@Editable(x => x.Title)</h2>
            <div class="inline-block filter-select-holder tagFilter">

                <select>
                    <option value="All">All</option>
					@{ 
                        int i = 0;
                        foreach (var y in Model.CodingSourceYears)
                        {
                            if (i == 0)
                            {
                        <option selected="selected" value="@y">@y</option>
                            }
                            else
                            {
                                <option value="@y">@y</option>
                            }
                            i++;
                        }
                    }
                </select>

            </div>
        </div>
    </header>

    <div class="indented-section">
        @if (Model.CodingSources != null && Model.CodingSources.Count() > 0)
        {
            foreach (var cs in Model.CodingSources)
            {

                <section class="article-item" data-year="@cs.Date.Year">
                    <h3 class="font-inherit-body"><a href="@cs.Url">@Editable(cs, x => x.Title)</a></h3>
                    <div class="text-content">
                        @Editable(cs, x => x.SubTitle)
                        <br />
                    </div>
                    <a href="@cs.Url" class="read-more-link">Read More</a>
                    <hr>
                    <br>
                </section>
            }
        }
    </div>

</section>