<footer id="site-footer" role="contentinfo">
    @*<div class="content row top-site-footer">
        @Html.Sitecore().Placeholder("social-footer")
        @Html.Sitecore().Placeholder("locations-footer")
        <div class="after-offices-area-border clear footer-border-bottom sm-only"></div>
        @Html.Sitecore().Placeholder("contact-footer")
        <div class="footer-border-bottom md-only clear"></div>
    </div>*@
    <div class="footer-border-bottom sm-only"></div>

    <div class="content row text-center">
        @*<div class="xl-col-7 fl-right xl-text-right">
            <div class="text-content inline-ul">
                @Html.Sitecore().Placeholder("menu-footer")
            </div>
        </div>*@
        @Html.Sitecore().Placeholder("dsi-bottom-footer")
    </div>
</footer>