<div id="site-header-outer">
    <aside id="site-header-ad">
        <div id="site-header-ad-inner" class="content row">
            @if (HttpContext.Current.Request.UserAgent != "Coveo Sitecore Search Provider")
            {
            <div class="col-12 text-center" id="header-ad-write">              
            </div>
            }
        </div>
        <div id="header-ad-btn">
            <i class="acr-icon icon-db-chevron-down"></i>
            <i class="acr-icon icon-db-chevron-up"></i>
        </div>
    </aside>
    <header id="site-header" role="banner">

        <div class="content row stick-hide">
            <div class="col-12">
                @Html.Sitecore().Placeholder("logo")
                <div id="mobile-nav-btn">
                    <div id="mobile-nav-btn-inner">
                        <div class="nav-top-bar"></div>
                        <div class="nav-mid-bar"></div>
                        <div class="nav-bot-bar"></div>
                    </div>
                </div>
                <div id="utility-nav">
                    <nav>
                        <div class="top-utility-nav inline-ul">
                            @Html.Sitecore().Placeholder("top-link-menu")
                        </div>
                        <div class="clear"></div>
                        <div class="action-utility-nav inline-ul">
                            @Html.Sitecore().Placeholder("bottom-link-menu")
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="content row" id="header-search" role="search">
            <div class="col-12">
                <div class="inline-ul wide-12">
                    <!-- The resources first -->
                    @Html.Sitecore().Rendering("{E16D76D3-053A-4048-B450-22DDAE977B71}")

                    <!-- grabbypooed from ACR.org JT, so I think it should be close-->
                    <a href="/" id="header-logo-sticky-srch"><span class="sr-only">ACR Logo</span></a>
                    @*@Html.Sitecore().Placeholder("search")*@

                    <!-- Then the search box item -->
                    @{
                        var fileID = Sitecore.Context.Item.ID.ToString();

                        if (fileID == "{124381FB-39F1-45D7-8EEF-5B162FA9AD70}")
                        {
                            <!-- Then the search box item meeting courses-->
                            @Html.Sitecore().Rendering("{882B57C5-9E47-4530-80ED-060F019277F2}", new { DataSource = "{FA7E3390-CF35-45AD-BC94-63ABA2351159}" })
                        }
                        else if (fileID == "{BA999436-D999-4853-BFD6-31A81CAEC1E9}" || fileID == "{DAC2D9CB-4238-482B-ABAF-B5AEF8139671}")
                        {
                            <!-- Then the search box item acr product catalog and product catalog results-->
                            @Html.Sitecore().Rendering("{D6B5EA3B-EC43-4801-9B5F-94FAFFE7C197}", new { DataSource = "{64E39E05-2346-469E-8775-510D28A33D9F}" })
                        }
                        else
                        {
                            <!-- Then the search box item all other pages-->
                            @Html.Sitecore().Rendering("{3672C2FD-41B7-47BE-B044-B9082C73FD07}", new { DataSource = "{190030C0-CD72-470F-98BE-EB26A89044CE}" })
                        }
                     }
                </div>
            </div>
        </div>
        <div id="main-nav-area">
            <nav role="navigation">
                <div class="content">
                    <div id="main-nav">
                        <div id="main-nav-holder">
                            @Html.Sitecore().Placeholder("navbar")
                        </div>
                    </div>
                </div>
                
                <div id="additional-mobile-nav" class="hide">
                    <div class="bg-acr-blue mobile-nav-bottom-links" id="m-utility-top">
                        <!--js will copy nav here from deskptop-->                       
                    </div>
                    <div class="inline-block-cols mobile-nav-bottom-links" id="m-utility-bottom">
                        <!--js will copy nav here from deskptop-->                      
                    </div>
                </div>
            </nav>
        </div>
    </header>
</div>
