@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.Assets.Models
@using System.Web.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc

@inherits WebViewPage
@{Layout = null;}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Html.Sitecore().VisitorIdentification()
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("rhec-html-head")
    }

    @RenderAssetsService.Current.RenderVersionedCSS(ScriptLocation.Head)
    @RenderAssetsService.Current.RenderRawAssetsHead(ScriptLocation.Head)
    @RenderAssetsService.Current.RenderStyles(ScriptLocation.Head)
    @if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        <!-- Fix Header only in Experience Editor Mode -->
        <style type="text/css">
            #site-header-outer {
                top: 0px;
                margin-top: 140px;
            }
        </style>
        <!-- End Fix Header -->
    }
</head>
<body id="main-body" class="small-backgrd">
    <!-- BEGIN NOINDEX -->
    @RenderAssetsService.Current.RenderBodyAssets(ScriptLocation.Body)
    <header>
        @Html.Sitecore().Placeholder("rhec-header")
    </header>

    <!-- END NOINDEX -->
    <main>
        @Html.Sitecore().Placeholder("rhec-breadcrumb")
        @Html.Sitecore().Placeholder("rhec-content")
    </main>
    <!-- BEGIN NOINDEX -->
    @Html.Sitecore().Placeholder("rhec-footer")
    <!-- END NOINDEX -->
    @RenderAssetsService.Current.RenderVersionedJs(ScriptLocation.Body)
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
</body>
</html>