@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.Assets.Models

@inherits WebViewPage
@{Layout = null;}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        @if (!Sitecore.Context.PageMode.IsExperienceEditor)
        {
            @Html.Sitecore().Placeholder("decamp-html-head")
        }
        
        @RenderAssetsService.Current.RenderVersionedCSS(ScriptLocation.Head)
        @RenderAssetsService.Current.RenderRawAssetsHead(ScriptLocation.Head)
        @RenderAssetsService.Current.RenderStyles(ScriptLocation.Head)
        @if (Sitecore.Context.PageMode.IsExperienceEditor)
        {
            <!-- Fix Header only in Experience Editor Mode -->
            <style type="text/css">
                #site-header-outer {
                    top: 0px;
                    margin-top: 140px;
                }
            </style>
            <!-- End Fix Header -->
        }   
    </head>   
    <body id="main-body">
        
        <!-- BEGIN NOINDEX -->
        @Html.Sitecore().Placeholder("decamp-header")
        <!-- END NOINDEX -->
       
        <div class="page-wrapper">
            @Html.Sitecore().Placeholder("decamp-content")
        </div>
       
        <!-- BEGIN NOINDEX -->
        @Html.Sitecore().Placeholder("decamp-footer")
        <!-- END NOINDEX -->       
                  
        @RenderAssetsService.Current.RenderVersionedJs(ScriptLocation.Body)
        @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
    </body>    
</html>