@using Glass.Mapper.Sc.Web.Mvc;
@using ACRHelix.Foundation.EditFrames;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Callouts.ViewModels.CalloutsViewModel>

@if (Model.CalloutItems.Count() > 0)
{
    <div class="section-borders bg-light-grey">
        <div class="content row section-spacing callout-box-area sm-text-center">
            @foreach (var item in Model.CalloutItems)
            {
                using (BeginEditFrame(EditFrameConstants.Paths.Edit, item.Id.ToString(), "Callout Item"))
                {
                <section class="xl-col-6 md-col-12 callout-item">
                    <div class="col-12">
                        <h2>@Editable(item, x => x.Title)</h2>
                    </div>
                    <figure class="xl-col-5 lg-wide-12 md-wide-5">
                        @*<img src="media-library/x-ray-of-ribcage.jpg" alt="ribcage">*@
                        @RenderImage(item, x => x.Image, isEditable: true)
                        <br><br>
                    </figure>
                    <div class="xl-wide-7 lg-wide-12 md-wide-7">
                        <div class="text-content">
                            @Editable(item, x => x.Teaser)
                        </div>
                        <br>
                        @*<a class="button" href="@item.Link.Url">Visit Page</a>*@
                        @RenderLink(item, x => x.Link, new System.Collections.Specialized.NameValueCollection { { "class", "button" } }, isEditable: true)
                    </div>
                </section>
                }
            }
        </div>
    </div>
}