@using Glass.Mapper.Sc.Web.Mvc;
@using System.Collections.Specialized;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Callouts.ViewModels.CalloutsItemViewModel>

<section class="img-rl section-spacing content row xl-text-left md-text-center text-center addParent-@Model.NoContainCss">
    <header class="xl-col-8 md-col-6 @Model.ImageLeftRightClass">
        <h1 class="xl-wide-11 lg-wide-12 @Model.ImageLeftRightClass">@Editable(x => x.Title)</h1>
    </header>
    <div class="xl-col-4 md-col-6 text-center @Model.OppositeImageLeftRightClass @Model.NoContainCss">
        <figure class="lg-wide-6 lg-margin-auto">
            @RenderImage(Model, x => x.Image, isEditable: true)
        </figure>
        <br>
    </div>
    <div class="xl-col-8 md-col-6 @Model.ImageLeftRightClass">
        <div class="pad-bottom-1em text-content xl-wide-11 lg-wide-12 @Model.ImageLeftRightClass">
            @Editable(x => x.Teaser)
        </div>
        <div class="has-button xl-wide-11 lg-wide-12 @Model.ImageLeftRightClass">
            @RenderLink(Model,x=> x.Link,isEditable:true)
        </div>
    </div>
</section>
