@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.ACRDashboard.ViewModels.ACRDashboardViewModel>

<div class="xl-col-5 md-col-12 xl-bdr-right">
    @Html.Raw(Model.Address)
    <div class="clear"></div>
    <br>
    @if (Model.User != null)
    {
        if (Model.User.Profile != null)
        {
            <strong>Customer ID:</strong> @Model.User.MasterCustomerID <br />

            if (!string.IsNullOrWhiteSpace(Model.Membership))
            {
            <strong>Membership:</strong> @Model.Membership
            <br />
            }
            <strong>ACR Member Status:</strong> @Model.User.Profile.MemberStatus<br>
            if (string.Compare(Model.User.Profile.MemberStatus.ToString(), "nonmember", true) != 0)
            {
                if (@Model.MemberSinceDate.Trim() != DateTime.MinValue.ToShortTimeString())
                {
                    <strong>Member Since:</strong> @Model.MemberSinceDate<br />
                }
            }
            @*<strong>MIT Status:</strong>@Model.User.Profile.MitStatus
            <br />*@

            if (Model.ChapterComissionsCommittees != null)
            {

                foreach (var c in Model.ChapterComissionsCommittees)
                {
                <strong>@c.Key:</strong> string.Join(", ", c.Value);
                <br />
                }
            }
            if (!string.IsNullOrWhiteSpace(Model.User.Profile.Chapter))
            {
                <strong>Chapter:</strong> @((!string.IsNullOrWhiteSpace(Model.User.Profile.Chapter) ? Model.User.Profile.Chapter.Replace("Chapter-","") : "" ))
                <br />
                @*@Model.User.Profile.ChapterPortalUrl*@
            }
            @*<strong>Display Committee Link:</strong>@Model.User.Profile.DisplayCommitteesLink.ToString()
                <br />
                <strong>CMECredits</strong>@Model.User.Profile.CmeCredits
                <br>

                <br />
                <strong>Engage Link</strong>@Model.User.Profile.EngageLink
                <br />
                <strong>Action</strong> @Model.User.Profile.Action <br /> @Model.User.Profile.ActionLink
                <br />
                <strong>Label </strong>@Model.User.Profile.LabelName
                <br />*@
        }
    }
    @*<strong>Commissions:</strong> Education, Informatics<br>*@
<br>
    <div>
        @*MAKE THIS LINK EDITABLE*@
        <a href="https://stgshop75.acr.org/MyACR/MyMessages.aspx" class="text-green no-target-icon"><i class="acr-icon icon-close-envelope text-orange"></i>&nbsp;<strong>@Model.MessageText</strong></a>
    </div>
    <br>
    <a href="@Model.RenewOrJoinLink" class="button no-target-icon">@Model.RenewOrJoinText</a>
    <span class="btn-horiz-space"></span>
    @using (BeginRenderLink(Model.DashboardModel, x => x.MembershipInformation, new System.Collections.Specialized.NameValueCollection() { { "class", "read-more-link no-target-icon" },{"style","display:inline-block" } }))
    {
        <strong>@Model.DashboardModel.MembershipInformation.Text</strong>
    }
</div>
