@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.ProductCatalog.Models.ProductCategoryList>

<div class="content section-spacing">
    <!--start:Module-->
    <section>
        <header>
            <h2>@Editable(x => x.SectionTitle)</h2>
            <hr>
        </header>
        @{ 
            var style = Sitecore.Context.PageMode.IsExperienceEditor ? "width:100%" : "";
        }
        <div class="ways-learn row flex-content-left text-center">
            @foreach (var category in Model.ProductCategories)
            {
                using (BeginEditFrame(category, "Product Category", x => x.FriendlyName, x => x.Icon))
                {
            <section class="xl-col-3 lg-col-6" style="@style">
                <div class="ways-learn-tile">
                    <div class="ways-learn-header product-cat-list">
                        <h3><a class="read-more-link" href="#" data-facet="@category.DisplayName">
                            @if (string.IsNullOrWhiteSpace(category.FriendlyName))
                            {
                                @category.DisplayName
                            }
                            else
                            {
                                @category.FriendlyName
                            }
                            </a></h3>
                    </div>
                    <figure>
                        <a href="#" data-facet="@category.DisplayName" class="block">
                            @RenderImage(x => category.Icon, new { W = 32, H = 32, Width = 32, Height = 32 }, isEditable: true, outputHeightWidth: true)
                        </a> 
                    </figure>
                </div>
            </section>  
                }
            }
        </div>
    </section>
    <!--end: Module -->
    <div class="content bdr-top"></div>
</div>
