@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Bulletin.ViewModels.TagPageMetaData>
    <!-- BEGIN NOINDEX -->
    <title>
        @Model.PageTitle @if (!string.IsNullOrWhiteSpace(Model.SiteName))
        {@Html.Raw(" | " + Model.SiteName) }
    else
    { @Html.Raw(" | American College of Radiology")}
    </title>
    <!-- END NOINDEX -->
    <meta name="description" content="@Model.MetaDescription">
    <meta name="keywords" content="@Model.MetaKeywords">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Model.PageTitle" />
    <meta property="og:url" content="@Model.PageUrl" />
    <meta property="og:description" content="@Model.MetaDescription" />
    @if (!string.IsNullOrWhiteSpace(Model.OG_Image))
    {
        <meta property="og:image" content="@Model.OG_Image" />
    }