@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.RadPACContent.ViewModels.BiographyViewModel>
@using Sitecore.Foundation.SitecoreExtensions.Extensions

<section>
    <div class="container">
        @if (Model.Image != null || Sitecore.Context.PageMode.IsExperienceEditor)
        {
            <div class="row mb-5">
                @if (!string.IsNullOrWhiteSpace(Model.Title) || Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    <div class="col-12">
                        <h2 class="header-style"><span class="underline-red"><span>@Editable(x => x.Title)</span></span><hr class="hr-style-red" /></h2>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.RichText) || Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    <div class="col-12 order-1 order-md-0 col-md-6">
                        <div class="section-header">
                            @Editable(x => x.RichText)
                        </div>
                    </div>
                }

                <div class="col-12 order-0 order-md-1 col-md-6 text-right">
                    @RenderImage(x => x.Image, new { @class = "howard w-100" }, isEditable: true)
                    <div class="social-links">
                        @if (!string.IsNullOrWhiteSpace(Model.FacebookUrl) || Sitecore.Context.PageMode.IsExperienceEditor)
                        {
                            <a href="@Model.FacebookUrl" class="facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                        }

                        @if (!string.IsNullOrWhiteSpace(Model.TwitterUrl) || Sitecore.Context.PageMode.IsExperienceEditor)
                        {
                            <a href="@Model.TwitterUrl" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.LinkedInUrl) || Sitecore.Context.PageMode.IsExperienceEditor)
                        {
                            <a href="@Model.LinkedInUrl" class="linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                        }
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row mb-5">
                @if (!string.IsNullOrWhiteSpace(Model.Title) || Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    <div class="col-12">
                        <h2 class="header-style"><span class="underline-red"><span>@Editable(x => x.Title)</span></span><hr class="hr-style-red" /></h2>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.RichText) || Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    <div class="col-12 order-1 order-md-0">
                        <div class="section-header">
                            @Editable(x => x.RichText)
                        </div>
                    </div>
                }
                <div class="social-links">
                    @if (!string.IsNullOrWhiteSpace(Model.FacebookUrl) || Sitecore.Context.PageMode.IsExperienceEditor)
                    {
                        <a href="@Model.FacebookUrl" class="facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                    }

                    @if (!string.IsNullOrWhiteSpace(Model.TwitterUrl) || Sitecore.Context.PageMode.IsExperienceEditor)
                    {
                        <a href="@Model.TwitterUrl" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    }
                </div>

            </div>
        }
    </div>
</section>
