@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.RadPACContent.ViewModels.FAQListViewModel>
@using Sitecore.Foundation.SitecoreExtensions.Extensions

<section>
    <div class="questions">
        <div class="container">
            <div class="row">
                @if (!string.IsNullOrWhiteSpace(Model.Title) || Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    <div class="col-12">
                        @if (Model.UnderlineSectionTitle)
                        {
                            <h2 class="header-style"><span class="underline-red"><span>@Editable(x => x.Title)</span></span><hr class="hr-style-red" /></h2>
                        }
                        else
                        {
                            <div class="section-header">
                                <h3>@Editable(x => x.Title)</h3>
                            </div>
                        }                       
                    </div>
                    
                }
                
                @if (Model.FAQItems.Count() > 0)
                {
                    <div class="col-12">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            
                            @foreach (var item in Model.FAQItems)
                            {
                                string i = Guid.NewGuid().ToString(); 
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading-@i">
                                        <div class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-@i" aria-expanded="false" aria-controls="collapse-@i">
                                                <span>Q.</span>
                                                @if (!string.IsNullOrWhiteSpace(item.Question) || Sitecore.Context.PageMode.IsExperienceEditor)
                                                {
                                                    @Editable(item, x => x.Question)
                                                } 
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapse-@i" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-@i">
                                        <div class="panel-body">
                                            @if (!string.IsNullOrWhiteSpace(item.Answer) || Sitecore.Context.PageMode.IsExperienceEditor)
                                            {
                                                @Editable(item, x => x.Answer)
                                            }                                           
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    
                }
                @if (!string.IsNullOrWhiteSpace(Model.AdditionalText) || Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    <div class="col-12">
                        <p>@Editable(x => x.AdditionalText)</p>
                    </div>
                    
                }
            </div>
        </div>
    </div>
</section>
