@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.RadPACContent.ViewModels.HighContributorsViewModel>
@using Sitecore.Foundation.SitecoreExtensions.Extensions

<section>
    <div class="hight-contributor section-bg">
        <div class="container">
            <div class="row">
                @if (!string.IsNullOrWhiteSpace(Model.Title) || Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    <div class="col-12">
                        <div class="section-header">
                            <h3 class="header-style"><span class="underline-red"><span>@Editable(x => x.Title)</span></span><hr class="hr-style-red" /></h3>
                        </div>
                    </div>
                }

                @if (Model.Contributors.Count() > 0)
                {
                    int fh = Model.Contributors.Count() / 2;

                    <div class="col-12 col-md-6">
                        <div class="card">
                            @RenderImage(x => x.LeftTileImage, new { @class = "card-img-top" }, isEditable: true)

                            <div class="card-body">
                                @if (!string.IsNullOrWhiteSpace(Model.LeftTileHeading) || Sitecore.Context.PageMode.IsExperienceEditor)
                                {
                                    <h5 class="card-title">@Editable(x => x.LeftTileHeading)</h5>
                                }

                                @foreach (var str in @Model.Contributors.Take(fh))
                                {
                                    <p> @str</p>
                                }                                
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card">
                            @RenderImage(x => x.RightTileImage, new { @class = "card-img-top" }, isEditable: true)
                            <div class="card-body">
                                @if (!string.IsNullOrWhiteSpace(Model.RightTileHeading) || Sitecore.Context.PageMode.IsExperienceEditor)
                                {
                                    <h5 class="card-title">@Editable(x => x.RightTileHeading)</h5>
                                }
                               
                                @foreach (var str in @Model.Contributors.Skip(fh))
                                {
                                    <p>@str</p>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
