@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.RadPACContent.ViewModels.HomeBannerViewModel>
@using Sitecore.Foundation.SitecoreExtensions.Extensions

<section id="banner" class="align-items-center">
    <div class="banner-wrapper">
        
        @if(Model.HomeBanner.BannerBackground != null)
        {
            if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
            {
                @RenderImage(m => m.HomeBanner.BannerBackground, new { @id = "banner-backgroundImage" }, isEditable: true)
            }
            else
            {
                <div class="overlay-banner"></div>
                @RenderImage(m => m.HomeBanner.BannerBackground, new { @id = "banner-backgroundImage" }, isEditable: true)
            }

        }
        else
        {
            <div class="overlay-banner"></div>
        }
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 banner-video">
                @if (!string.IsNullOrWhiteSpace(Model.HomeBanner.Title) || Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    <h1>@Editable(m => m.HomeBanner.Title)</h1>
                }
                @if (!string.IsNullOrWhiteSpace(Model.EmbedLink))
                {
                    <iframe width="540" height="315" src="@Editable(m => m.EmbedLink)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                }
                else
                {
                    if (Model.HomeBanner.Image != null || Sitecore.Context.PageMode.IsExperienceEditor)
                    {
                        @RenderImage(x => x.HomeBanner.Image, new { @class = "img-fluid" }, isEditable: true);
                    }
                }

            </div>
            <div class="col-sm-12 col-md-6 banner-info">
                @if (Model.Contributors.Count() > 0)
                {
                    <div class="scroller-gradient scroller-wrapper-gradient">
                        <div class="scroller" id="demo">
                            <ul class="scrollerGradient">
                                @foreach (var item in Model.Contributors)
                                {
                                    <li>@item</li>
                                }

                            </ul>
                        </div>
                    </div>
                }              
                @if (Model.HomeBanner.Link != null)
                {
                    <div class="text-center">
                        @using (BeginRenderLink(x => x.HomeBanner.Link, new { @class = "btn-radpac-red justify-content-center", id = "" }, isEditable: true))
                        {
                            if (Model.HomeBanner.Link != null)
                            {
                                @Html.Raw(Model.HomeBanner.Link.Text) <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            }

                        }                       
                    </div>
                }                
            </div>
        </div>
    </div>
</section>
