@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.RadPACContent.ViewModels.LatestNewsListViewModel>
@using Sitecore.Foundation.SitecoreExtensions.Extensions

<section>
    <div class="links pt-10">
        <div class="container">
            @if (!string.IsNullOrWhiteSpace(Model.Title) || Sitecore.Context.PageMode.IsExperienceEditor)
            {
                <div class="section-header">
                    <h2 class="header-style"><span class="underline-red"><span>@Editable(x => x.Title)</span></span><hr class="hr-style-red" /></h2>
                </div>
            }
            @if (Model.NewsArticles.Count() > 0)
            {
                foreach (var article in Model.NewsArticles)
                {
                    if (!string.IsNullOrWhiteSpace(article.LinkOverride))
                    {
                        <p class="blue"><a href="@article.LinkOverride" _target="blank">@article.Title <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                    }
                    else
                    {
                        <p class="blue"><a href="@article.Url">@article.Title <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                    }

                }
            }
            @if (Model.Link != null || Sitecore.Context.PageMode.IsExperienceEditor)
            {
                <p class="blue"></p>
                <p class="blue">
                    @using (BeginRenderLink(x => x.Link, isEditable: true))
                    {
                        if (Model.Link != null)
                        {
                            if (Model.Link != null)
                            {
                                @Html.Raw(Model.Link.Text) <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            }

                        }
                    }
                </p>
            }
        </div>
    </div>
</section>
