@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.RadPACContent.ViewModels.RichtextSectionViewModel>
@using Sitecore.Foundation.SitecoreExtensions.Extensions

<section>
    <div class="container">
        @if (!string.IsNullOrWhiteSpace(Model.Title) || Sitecore.Context.PageMode.IsExperienceEditor)
        {
            <div class="row">
                <div class="col-12">
                    <div class="section-header">
                        <h2 class="header-style"><span class="underline-red"><span>@Editable(x => x.Title)</span></span><hr class="hr-style-red" /></h2>
                    </div>
                </div>
            </div>    
        }
        <div class="row mb-5">
            @if (Model.DefaultImageLocation)
            {
                if (!string.IsNullOrWhiteSpace(Model.RichText) || Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    <div class="col-12 order-1 order-md-0 col-md-6">
                        @Editable(x => x.RichText)
                    </div>
                }

                if (!string.IsNullOrWhiteSpace(Model.YouTubeEmbedUrl) || Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    <div class="col-12 order-0 order-md-1 col-md-6 pb-10">
                        <iframe width="400" height="230" src="@Model.YouTubeEmbedUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                }
            }
            else
            {
                if (!string.IsNullOrWhiteSpace(Model.RichText) || Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    <div class="col-12 order-0 order-md-1 col-md-6 pb-10">
                        @Editable(x => x.RichText)
                    </div>
                }

                if (!string.IsNullOrWhiteSpace(Model.YouTubeEmbedUrl) || Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    <div class="col-12 order-1 order-md-0 col-md-6">
                        <iframe width="400" height="230" src="@Model.YouTubeEmbedUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                }              
            }                             
        </div>
    </div>
</section>
