@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.IdeasContent.ViewModels.IdeasPageContentViewModel>
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@*<script src="@Url.Content("~/js/Ideas/jquery.min.js")"></script>
<script src="@Url.Content("~/js/Ideas/map.js")" charset="utf-8"></script>*@
<div class="state-locator">

   
        <div class="row">
            <div class="col-12">
                @*<h1 class="blue mt-5">@Editable(x => x.Title)</h1>*@
                <div class="mapcontainer">
                    <div class="map" id="HasMapContent">

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="myText">
                    <span>
                        <!-- <h2>New york</h2><br/>
                                            <ul class="nav mb-4 align-items-center d-flex justify-content-center">
                                                <li class="active">
                                                  <a class="btn btn-ideas" href="#physcian" data-toggle="tab">Referring Physcian</a>
                                                </li>
                                                <li><a class="btn btn-ideas-gray"href="#facility" data-toggle="tab">PET Facility</a>
                                                </li>
                                              </ul>

                                              <div class="tab-content">
                                                <div class="tab-pane active" id="physcian">

                                                  <dl><dt>Bayview Physicians Group<br/>713 Volvo Pwky, Suite 100, Chesapeake, VA 23320 | <a href='757-842-4110'>757-842-4110</a></dt></dl>
                                                  <dl><dt>Janes Bickse, M.D.<br/>6845, Elm Street Suite 514, McLean, VA 22101 | <a href='tel:757-842-4110'>757-842-4110</a></dt></dl>
                                                  <dl><dt>Bon Secours Richmond - Neurology Clinic<br/>713 Volvo Pwky, Suite 100, Chesapeake, VA 23320 | <a href='757-842-4110'>757-842-4110</a></dt></dl>
                                                </div>
                                                <div class="tab-pane" id="facility">
                                                  <h2>FET Facility part</h2>
                                                </div>
                                              </div> -->
                    </span>
                </div>
            </div>
        </div>


    </div>

@*<script src="@Url.Content("~/js/Ideas/jquery.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/js/Ideas/raphael.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/js/Ideas/jquery.mapael.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/js/Ideas/maps/usa_states.js")" type="text/javascript"></script>
<script src="@Url.Content("~/js/Ideas/map-landing.js")" type="text/javascript"></script>
<script src="@Url.Content("~/js/Ideas/map.js")" type="text/javascript"></script>*@