@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.IdeasContent.Models.IdeasPatientTitleTilesButton>
   
 
<div class="container" id="PatientsTileContainer">

    <h2 class="purple col-12" style="margin-bottom:2%">@Editable(x => x.Title)</h2>
    <div class="row">
        @foreach (var Tile in Model.Tiles)
        {
            <div class="col-12 col-md-4 col-lg-4 ">
                <div class="ibox">
                    <div class="ibox-title">

                        <h5 class="centeriboxtitle">@RenderImage(Tile, x => x.Icon, new { @class = "ibox-icon" }, isEditable: true) <span>  @Editable(Tile, x => x.Title)</span></h5>
                    </div>
                    <div class="ibox-content">
                        <div class="centeriboxcontent">
                            @Editable(Tile, x => x.Text)
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (Model.ButtonDisplay)
    {
        if (Model.ButtonLink != null)
        {<div class="text-center">
                <a href=@Model.ButtonLink.Url class="button">@Editable(model => model.ButtonTitle)</a>
            </div>
        }
        else
        {
            <div class="text-center">
            <a class="button">@Editable(model => model.ButtonTitle)</a>
        </div>
        }

    }
</div>