@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.IdeasContent.ViewModels.IdeasMapWidgetViewModel>

<h2 class="blue">@Editable(x => x.Title)</h2>
<div class="mapcontainer">
    <div class="HomePageMap" id="HasMapContent" onclick="javascript:window.location='@(Model.MapLink != null ? Model.MapLink.Url : "#")'">
        @RenderImage(Model, x => x.MapImage, isEditable: true)
    </div>
    <div>
        <p class="mb-0"><a href="@(Model.FindByZipLink != null ? Model.FindByZipLink.Url : "#")">@Model.FindByZipLinkText</a></p>
        <p> <a href="@(Model.FindByStateLink != null ? Model.FindByStateLink.Url : "#")">@Model.FindByStateLinkText</a></p>
    </div>
</div>
