@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.IdeasContent.Models.IdeasTextImageSection>


<div class="container" id="IdeasTextImage">
    <div class="row">
        @if (Model.ImageLocation != null && Model.ImageLocation.Location == "Left")
        {
            <div class="col-12 col-md-6 col-lg-6 ">
                @if ((Model.ImageLink != null && !String.IsNullOrWhiteSpace(Model.ImageLink.Url)))
                {

                    <a href=@Model.ImageLink.Url>
                        @RenderImage(x => x.Image, new { @style = "max-width:100%;" }, isEditable: true)
                    </a>

                }
                else
                {
                    <a>
                        @RenderImage(x => x.Image, new { @style = "max-width:100%;" }, isEditable: true)
                    </a>
                }
            </div>
        }
            <div class="col-12 col-md-6 col-lg-6 ">
                <h2 class="purple" style="margin-bottom:5%"> @Editable(x => x.Title)</h2>
                @if (!string.IsNullOrEmpty(Model.SubTitle))
                {
                    <div class="mb-3 ml-2"><h6>@Editable(x => x.SubTitle)</h6></div>
                }

                <div class="ml-4">
                    @Editable(x => x.Text)
                    </div>
                </div>
                @if (Model.ImageLocation == null || Model.ImageLocation.Location == "Right")
                {
                    <div class="col-12 col-md-6 col-lg-6 ">
                        @if ((Model.ImageLink != null && !String.IsNullOrWhiteSpace(Model.ImageLink.Url)))
                        {

                            <a href=@Model.ImageLink.Url>
                                @RenderImage(x => x.Image, new { @style = "max-width:100%;" }, isEditable: true)
                            </a>

                        }
                        else
                        {
                            <a>
                                @RenderImage(x => x.Image, new { @style = "max-width:100%;" }, isEditable: true)
                            </a>
                        }
                    </div>
                }
            </div>
    </div>
