@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.IdeasContent.Models.IdeasMapWidgetText>


<div class="container" id="IdeasMapWidgetText">
    <h2 class="purple col-12" style="margin-bottom:3%"> @Editable(x => x.Title)</h2>
    <div class="row"style="margin-left: 2%;">        
        <div class="col-12 col-md-6 col-lg-6 ">
            @Editable(x => x.Text)
            <div class="MapText">
                <p class="mb-0"><a href="@(Model.FindByZipLink != null ? Model.FindByZipLink.Url : "#")">@Editable(x => x.FindByZipLinkText)</a></p>
                <p> <a href="@(Model.FindByStateLink != null ? Model.FindByStateLink.Url : "#")">@Editable(x => x.FindByStateLinkText)</a></p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 " style="text-align:center;">
            @if ((Model.MapLink != null && !String.IsNullOrWhiteSpace(Model.MapLink.Url)) || Sitecore.Context.PageMode.IsExperienceEditor)
            {

                <a href=@Model.MapLink.Url>
                    @RenderImage(x => x.MapImage,new { @style = "max-width:100%;"} , isEditable: true)
                </a>

            }
            else
            {
                <a>
                    @RenderImage(x => x.MapImage, new { @style ="max-width:100%;"}, isEditable: true)
                </a>
            }
        </div>
    </div>
    </div>
     