@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.IdeasContent.Models.IdeasHero>
   
<div class="container" id="IdeasHeroContainer">
    <div class="hero hero--21-9">
        <div class="hero__content">
            <h2 class="hero__title">@Editable(model => model.ImageText)</h2>
            @if (Model.ButtonDisplay)
            {
                if (Model.Link != null)
                {
                    <a href=@Model.Link.Url class="hero__title button">@Editable(model => model.ButtonText)</a>
                }
                else
                {
                    <a id="scrollSectionButton" class="hero__title button">@Editable(model => model.ButtonText)</a>
                }

            }
        </div>
        @if(Model.Link != null)
        {
        <a href=@Model.Link.Url class="hero__bg">
            @RenderImage(x => x.Image, new { @class = "w-100 h-100", @id = "HeroImage" }, isEditable: true)
        </a>
        }
        else
        {
        <a id="scrollSectionImage" style="cursor:pointer" class="hero__bg">
            @RenderImage(x => x.Image, new { @class = "w-100 h-100", @id = "HeroImage" }, isEditable: true)
        </a>
        }
    </div>
    </div>
<div id="scrollDownSection"></div>
    <!--section dishes-->

<script>
    $("#scrollSectionButton").click(function () {
        var x = document.querySelectorAll("#scrollDownSection")[0];
        x.scrollIntoView({behavior: 'smooth'});
    });
    $("#scrollSectionImage").click(function () {
        var x = document.querySelectorAll("#scrollDownSection")[0];
        x.scrollIntoView({ behavior: 'smooth' });
    });
</script>