@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.IdeasContent.ViewModels.IdeasMapdetailsViewModel>
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{ 
    string addressZipText = "Address / Zip code";
    string searchRadiusText = "Search radius";
    string categoryFilterText = "Category filter";
    string selectText = "Select one";
    string searchButtonText = "Search";
    string searchPlaceholderText = Model.AddressPlaceholder;
    if (HttpContext.Current.Request.Cookies["PatientSiteLang"] != null && HttpContext.Current.Request.Cookies["PatientSiteLang"].Value.ToString() == "Spanish" && HttpContext.Current.Request.Path.ToLower().StartsWith("/spanish/for-patients"))
    {

        addressZipText = "Dirección / Código postal";
        searchRadiusText = "Radio de búsqueda";
        categoryFilterText = "Filtro de categoría";
        selectText = "Seleccione uno";
        searchButtonText = "Búsqueda";
        searchPlaceholderText = "Código postal";
    }
}

<div class="row mt-5">
    <div class="col-12">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="inputCity">@addressZipText</label>
                <input type="text" class="form-control" id="inputCity" placeholder="@searchPlaceholderText" />
                <input type="hidden" id="CurrentLocationLatlang" />
                <input type="hidden" id="FacilitiesErrorMessage" value="@Editable(x => x.NoResultsMessage)" />
                <input type="hidden" id="PhysicianErrorMessage" value="@Editable(x => x.NoResultsMessage)" />
            </div>
            <div class="form-group col-md-2">
                <label for="inputDistance">@searchRadiusText</label>
                <select id="inputDistance" class="form-control">
                    @*<option value="50" selected>Choose...</option>*@
                    <option value="10">10 mi</option>
                    <option value="25">25 mi</option>
                    <option value="50" selected>50 mi</option>
                    <option value="100">100 mi</option>
                    <option value="200">200 mi</option>
                    <option value="500">500 mi</option>
                </select>
                <i class="fa fa-angle-double-down" aria-hidden="true"></i>
            </div>
            <div class="form-group col-md-4">
                <label for="inputOption">@categoryFilterText</label>
                <select id="inputOption" class="form-control">
                    <option value="0" selected>@selectText</option>
                    <option value="1">PET Facilities</option>
                    <option value="2">Memory Doctors</option>
                </select>
                <i class="fa fa-angle-double-down" aria-hidden="true"></i>
            </div>
            <div class="col-md-2 align-items-center d-flex">
                <a id="findLocationBtn" class="btn btn-ideas-purple" href="#" role="button">@searchButtonText</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div id="map"></div>
        <div id="info_div"></div>
    </div>
</div>

<script>
    /*function initMap() {
          var uluru = {lat: 38.963743, lng: -77.364802};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: uluru
          });

          var contentString = '<div id="content">'+
              '<div id="siteNotice">'+
              '</div>'+
              '<dt id="firstHeading" class="firstHeading"><strong>PET of Reston</strong></dt>'+
              '<div id="bodyContent">'+
              '<br/>'+
              '<p>3289 Woodburn Road Suite 050<br/> Annandale VA 22003<br/>'+
              '<br/>'+
              '<a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194" target="_blank">'+
              'Direction</a> '+
              '</p>'+
              '</div>'+
              '</div>';

          var infowindow = new google.maps.InfoWindow({
            content: contentString
          });

          var marker = new google.maps.Marker({
            position: uluru,
            map: map,
            title: 'Uluru (Ayers Rock)'
          });
          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });
        }

    */


</script>
@*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5a_4LhytzwYPShrITESVWV9IQER8xGco&callback=initMap" async defer></script>*@
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5a_4LhytzwYPShrITESVWV9IQER8xGco" async defer></script>

@*<script src="@Url.Content("~/js/Ideas/jquery.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/js/Ideas/raphael.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/Ideas/jquery.mapael.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/Ideas/maps/usa_states.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/Ideas/map-landing.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/Ideas/map.js")" type="text/javascript"></script>*@