@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Informz.ViewModels.UpdateEmailViewModel>
@using ACRHelix.Feature.Informz.ViewModels;
@using ACR.Foundation.Personify.Helpers;

<div class="content section-spacing">
    <h1>@Editable(Model, x => x.InformzContent.UpdateProfileTitle)</h1>
@if (!Model.Error)
{
    <div id="informzFormContainer" style="padding-left:8px;">        
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            if (Model.Count == 1)
            {
                <div class="text-size-1">@Html.Raw(Model.InformzContent.EmailTryAgainMessage)</div>
            }
            else if (Model.Count == 2)
            {
                <div class="text-size-1">@Html.Raw(Model.InformzContent.ContactMBRMessage)</div>
            }

            if (Model.Count != 2)
            {
                <div class="email-center-col label-less-space">
                    <label>Please enter your email to manage your settings or to unsubscribe</label>
                    @Html.TextBoxFor(x => x.Email, new { @placeholder = "Email" })
                </div>

                <div>
                    <div class="section-spacing-top">
                        <input id="informzSubmitBtn" type="submit" value="Submit">
                    </div>
                </div>
            }

        }
    </div>
}
else
{
    <p class="text-size-1">@Html.Raw(Model.ErrorMessage)</p>
}
</div>
