@using Sitecore.ExperienceForms.Mvc.Html
@model ACRHelix.Feature.ImageWiselyContent.Util.ReCaptchaModel

<script src='https://www.google.com/recaptcha/api.js'></script>
<div class="g-recaptcha" data-sitekey=@Model.PublicKey data-callback="captchaCallback"></div>
<span class="field-validation-error" id="captchaErrormsg" style="display:none">@Model.ErrorMessage</span>
<input id="captchaModelValue" name="@Html.NameFor(m => Model.Value)" value="@Model.Value" type="hidden" data-sc-tracking="@Model.IsTrackingEnabled" data-sc-field-name="@Model.Name" @Html.GenerateUnobtrusiveValidationAttributes(m => m.Value) />
@Html.ValidationMessageFor(m => Model.Value)

<script type="text/javascript">
    if ($('input[type=hidden').closest("form")) {
        $($('input[type=hidden]').closest("form")).submit(function () {
            var recaptchaResponse = grecaptcha.getResponse();
            if (recaptchaResponse.length == 0) {
                document.getElementById('captchaErrormsg').style.display = "block";
                return false;
            }
            else {
                document.getElementById('captchaErrormsg').style.display = "none";
                $('#' + 'captchaModelValue').val(recaptchaResponse);
                return true;
            }
        });
    }
    function captchaCallback() {
        document.getElementById('captchaErrormsg').style.display = "none";
        if (recaptchaResponse.length != 0) {
            $('#' + 'captchaModelValue').val(recaptchaResponse);
        }
    }
</script>