
@using ACRHelix.Foundation.EditFrames;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Chapters.Models.ChapterAwardFolder>

<section>
    <header>
        <h2>@Editable(x => x.Title)</h2>
        <hr>
    </header>
    <div class="content section-spacing">
        <div class="row indented-section">
            <section class="square-tile-area">
                <div class="flex-content-left">
                    @foreach (var award in Model.Children)
                    {
                        using (BeginEditFrame(EditFrameConstants.Paths.Edit, award.Id.ToString(), "Chapter Award"))
                        {
                            string style = "";
                            if (Sitecore.Context.PageMode.IsExperienceEditor)
                            {
                                style = "width:100%";
                            }
                            <div class="xl-col-3 lg-col-6" style="@style">
                                <div class="square-tile text-content" style="min-height: 203px;">
                                    <strong class="text-orange">
                                        @if (Sitecore.Context.PageMode.IsExperienceEditor)
                                        {
                                         @Editable(award, a => a.Year)
                                        }
                                        else
                                        {
                                            if (award.Year != 0)
                                            {
                                                @Editable(award, a => a.Year)
                                            }
                                        }</strong>

                                    <div class="pad-top-1em text-size-p75">@Editable(award, a => a.Subtitle)</div>
                                    <strong class="award-title">@Editable(award, a => a.Title)</strong>
                                </div>
                            </div>
                        }
                    }
                </div>
            </section>
        </div>
    </div>
</section>