@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Chapters.ViewModels.ChapterMeetingViewModel>


<section class="content">
    <h1>@Editable(x => x.ChapterMeeting.MeetingTitle)</h1>


    <div class="text-content text-size-1p25">
        @if (Model.ChapterMeeting.StartDate != DateTime.MinValue)
            {
            <strong>Start Date: </strong> @(Model.StartTimeSet ? Model.ChapterMeeting.StartDate.ToString("MMMM dd, yyyy - hh:mmtt") : Model.ChapterMeeting.StartDate.ToString("MMMM dd, yyyy"))
                <br />

        }
        @if (Model.ChapterMeeting.EndDate != DateTime.MinValue)
            {
            <strong>End Date: </strong> @(Model.EndTimeSet ? Model.ChapterMeeting.EndDate.ToString("MMMM dd, yyyy - hh:mmtt") : Model.ChapterMeeting.EndDate.ToString("MMMM dd, yyyy"))<br />
        }
        @if (!string.IsNullOrWhiteSpace(Model.ChapterMeeting.Location) || Sitecore.Context.PageMode.IsExperienceEditorEditing)
        {
            <strong>Location: </strong> @Editable(x => x.ChapterMeeting.Location)
        }
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.ChapterMeeting.AdditionalInformation) || Sitecore.Context.PageMode.IsExperienceEditorEditing)
    {
        <div class="text-content">
            @Editable(x => x.ChapterMeeting.AdditionalInformation)
        </div>
    }

</section>
