@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Chapters.ViewModels.UpcomingMeetingsViewModel>
@using ACRHelix.Foundation.EditFrames;

<section>
    <header id="upcomingChapterMeetings-">
        <h2>@Editable(x => x.HeaderText)</h2>
        <hr>
    </header>
    <!--start: Module -->
    <div class="content section-spacing">
        <div class="row indented-section">
            <section class="event-tile-area">
                @*<div class="slick-slide flex-container">*@

                @if (Sitecore.Context.PageMode.IsExperienceEditor)
                {
                  Model.PageSize = Model.Meetings.Count;
                }

                @foreach (var list in Model.MeetingPages)
                {
                <div class="slick-slide flex-content-left">
                    @foreach (var meeting in list)
                    {
                        using (BeginEditFrame(EditFrameConstants.Paths.Edit, meeting.Id.ToString(), "Chapter Meeting"))
                        {
                            string style = "";
                            if (Sitecore.Context.PageMode.IsExperienceEditor)
                            {
                                style = "width:100%";
                            }

                            <div class="xl-col-3 lg-col-6" style="@style">
                                <div class="event-tile text-content" style="min-height: 203px">
                                    <span class="text-size-p75 event-tile-date">@meeting.StartDate.ToString("MMMM dd, yyyy")</span>
                                    <h3>
                                        <a href="@meeting.Url">@Editable(meeting, m => m.MeetingTitle)</a>
                                    </h3>
                                    <span class="text-size-p75 event-tile-location">@Editable(meeting, m => m.Location)</span>
                                    <a href="@meeting.Url" class="tile-bottom-link read-more-link">Read More</a>
                                </div>
                            </div>
                        }
                    }
                </div>
                }
                @*</div>*@
            </section>
            <div class="resources-slider-nav">
                <div class="slick-custom-pager"></div>
            </div>
        </div>
    </div>
    <!--end: Module -->
</section>
