@using Glass.Mapper.Sc.Web.Mvc
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.RhecContent.ViewModels.OurVisionViewModel>

@{
    int itemCount = Model.Tiles.Count();
}
<section class="need-help">
    <div class="inner-section">
        <div>
            <div class="label section-label">@Editable(m => m.SubTitle)</div>
            <h2>@Editable(m => m.Title)</h2>
            <div class="vision-container">
                @if (itemCount > 0)
                {
                    foreach (var item in Model.Tiles)
                    {
                        <div class="vision">
                            @RenderImage(item, m => m.Icon, new { @class = "vision-icon" }, isEditable: true)
                            <div>
                                <h5>@Editable(item,m => m.Title)</h5>
                                <p class="section-text">
                                    @Editable(item, m => m.Text)
                                </p>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <figure class="shares">
            @RenderImage(m => m.Image, new { @class = "shares-img" }, isEditable: true)
            <figcaption class="section-text bold">
                @using (BeginRenderLink(x => x.Link, isEditable: true))
                {
                    @Editable(m => m.LinkText)
                }
            </figcaption>
        </figure>
    </div>
</section>
