@using Sitecore.Mvc.Presentation
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.RhecContent.ViewModels.ResourceDetailViewModel>

@{
    string topicTitle = RenderingContext.Current.Rendering.Parameters["TopicsTitle"];
    if (string.IsNullOrEmpty(topicTitle))
    {
        topicTitle = "Topics";

    }
    int topicCount = 0;
    if (Model.Topics != null) { topicCount = Model.Topics.Count(); }
}
<section class="resource-details-page resdetail-header">
    <h2>@Editable(a => a.Title)</h2>
    @if (Model.PublishDate != null)
    {
        <h5 class="resdetail-header">@Model.PublishDate.ToString("dd MMMM yyy")</h5>
    }
    <div class="resource-details-container page-content">
        @RenderImage(m => m.image, new { @class = "resource-details-img" }, isEditable: true)
        @Editable(x => x.Body)
    </div>
</section>
@if (topicCount > 0)
{
    <section class="topics">
        <h2><a href="#">@topicTitle</a></h2>
        <div class="topics-container">
            <div class="topics-list">
                @foreach (var topic in Model.Topics)
                {
                    <a href="@topic.redirectUrl" class="topic">@Html.Raw(topic.TopicName)</a>
                }
            </div>
        </div>
    </section>
}