@using Glass.Mapper.Sc.Web.Mvc
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.RhecContent.ViewModels.ResourceListingViewModel>


<div class="resources-page">
    <h2>@Editable(x => x.Title)</h2>
    <p class="sub-header">@Editable(x => x.SubTitle)</p>
    <div class="topics-list-containers">
        @Html.Raw(Model.AllButtonString)
        <div class="topics-list">
            @if (Model.Topics.Count() > 0 && Model.DisplayTopics)
            {
                if (Model.ShowAllTopics)
                {
                    foreach (var item in Model.Topics)
                    {
                        string cclass = item.isActive ? "topic active" : "topic";

                        <a href="@item.redirectUrl" class="@cclass">@Html.Raw(item.TopicName)</a>
                    }
                }
                else
                {
                    for (var i = 0; i < Model.Topics.Count(); i++)
                    {
                        string cclass = Model.Topics.ElementAt(i).isActive ? "topic active" : "topic";
                        if (i < Model.settingTopicsCount)
                        {
                            <a href="@Model.Topics.ElementAt(i).redirectUrl" class="@cclass">@Html.Raw(Model.Topics.ElementAt(i).TopicName)</a>
                        }
                        else
                        {
                            <a href="@Model.Topics.ElementAt(i).redirectUrl" class="@cclass hiddentopic">@Html.Raw(Model.Topics.ElementAt(i).TopicName)</a>
                        }

                    }

                }
            }
        </div>
        @if (!Model.ShowAllTopics)
        {
            @*<button onclick="ShowAllTopics()" id="TopicsButton" style="color:#85c3bc;background-color:white;width: 75%;font-size: 18px;margin-top: 15px;cursor: pointer;">CLICK HERE FOR MORE TOPICS</button>*@
            @*<button onclick="ShowAllTopics()" id="TopicsButton" class="more-topics-btn">Click here for more topics</button>*@
            <div id="TopicsButton" class="decorated"><span><button onclick="ShowAllTopics()"  class="more-topics-btn">Click here for more topics</button></span></div>
        }
    </div>
  

    <div class="resource-item-container">
        @if (Model.Resources != null && Model.Resources.Count() > 0)
        {
            foreach (var resource in Model.Resources)
            {
                string[] redirecUrlpath = resource.Path.Split('/');
                string redirecUrl = "";
                if (redirecUrlpath != null && redirecUrlpath.Count() > 0) { redirecUrl = HttpContext.Current.Request.Url.AbsolutePath + "/" + redirecUrlpath.LastOrDefault().Replace(" ", "-"); }
                if (resource.LinkOverride != null)
                {
                    redirecUrl = resource.LinkOverride;
                }
                string target = "";
                if (resource.NewWindow)
                {
                    target = "_blank";
                }
                <div class="resource-item">
                      <h3 class="sub-header">
                          <a href="@redirecUrl" target="@target">
                              @Html.Raw(resource.Title)
                          </a>
            </h3>
                    
                    @if (resource.PublishDate != null)
                    {
                        <p class="section-text bold">@resource.PublishDate.ToString("dd MMMM yyy")</p>
                    }
                    <p class="section-text">
                        @if (resource.Summary != null && !string.IsNullOrEmpty(resource.Summary))
                        {
                            @Html.Raw(ACRHelix.Feature.RhecContent.Helpers.RHECHelper.SubstringHtml(resource.Summary, Model.SummaryLength, true))
                        }

                        else if(resource.Body != null && !string.IsNullOrEmpty(resource.Body))
                        {
                            @Html.Raw(ACRHelix.Feature.RhecContent.Helpers.RHECHelper.SubstringHtml(resource.Body, Model.SummaryLength, true))
                        }
                    </p>
                </div>
            }
        }
        else
        { <h2>@Editable(x => x.NoResourcetext)</h2>}
    </div>
    @Html.Raw(Model.PaginationString)
</div>
<script>
  
    function myInputFunction() {
        var delayTimer;
        clearTimeout(delayTimer);
        delayTimer = setTimeout(function () {
            var pageNum = document.getElementById("page-number").value
            var redirectUrl = document.getElementById("urlVal").value
            var newurl = window.location.protocol + "//" + window.location.host + redirectUrl + pageNum;
            window.location.href = newurl;
        }, 1000)
    }
    function ShowAllTopics() {
        document.getElementById("TopicsButton").style.display = "none";

        var hiddentopics = document.getElementsByClassName("hiddentopic");
        for (i = 0; i < hiddentopics.length; i++) {
            hiddentopics[i].classList.remove("hiddentopic");
            i--;
        }
        var now = new Date();
        var time = now.getTime();
        var expireTime = time + 24*3600*1000;
        now.setTime(expireTime);
        document.cookie = 'ShowAllTopics=True; expires=' + now.toString() + '; path=/';
    }
</script>