@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.MemberDirectory.ViewModels.MemberDirectoryViewModel>
@using ACR.Foundation.Personify.Helpers;


<div class="content section-spacing">
    <h1>@Editable(x => x.Title)</h1>
    <p>@Editable(x => x.SubTitle)</p>

</div>
<div class="content section-spacing">
    <div class="flex-container bdr-bottom">
        <h2 class="inline-block">Search</h2>
        @*<a href="#" class="tool-tip tip-question">Search Tips<div class="tip-text">Tool Tip text me non paenitet nullum festiviorem excogitasse ad hoc. Inmensae subtilitatis, obscuris et malesuada fames.</div></a>*@
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="indented-section row">
            <div class="xl-col-4 lg-col-6">
                <label>Member First Name</label>
                @Html.EditorFor(x => x.FirstName, new { placeholder = "Enter First Name" })
            </div>

            <div class="xl-col-4 lg-col-6">
                <label>Member Last Name</label>
                @Html.EditorFor(x => x.LastName, new { placeholder = "Enter Last Name" })
            </div>
        </div>

        <div class="indented-section row">
            <div class="xl-col-4 lg-col-6">
                <label>City</label>
                @Html.EditorFor(x => x.City, new { placeholder = "Enter City" })
            </div>

            <div class="xl-col-4 lg-col-6">
                <label>Zip Code</label>
                @Html.EditorFor(x => x.Zip, new { placeholder = "Enter Zip" })
            </div>
        </div>

        <div class="indented-section row">
            <div class="xl-col-4 lg-col-6">
                <label>Country</label>
                @Html.DropDownListFor(x => x.Country, CountryStateHelper.GetPersonifyCountries(), "Select Country")
            </div>

            <div class="xl-col-4 lg-col-6">
                <label>State/Province</label>
                @Html.DropDownListFor(x => x.State, CountryStateHelper.GetPersonifyStates(), "Select State")
            </div>
        </div>
        <div class="indented-section input-space">
            <input type="submit" value="Search">
        </div>
    }
</div>

@if (Model.Members != null)
{
    <div class="content section-spacing">
        <div class="flex-container bdr-bottom">
            <h2 class="inline-block">Search Results</h2>
        </div>

        <div class="indented-section section-spacing-top">
            @if (Model.Members.Count != 0)
            {
                <div class="has-acr-table sort-table member-directory-table">                
                    <table>
                        <thead>
                            <tr>
                                <th><h2>Name</h2><div class="sort-nav"><div class="acr-icon icon-sort-up"></div><div class="acr-icon icon-sort-down"></div></div></th>
                                <th><h2>City</h2><div class="sort-nav"><div class="acr-icon icon-sort-up"></div><div class="acr-icon icon-sort-down"></div></div></th>
                                <th><h2>State / Province</h2><div class="sort-nav"><div class="acr-icon icon-sort-up"></div><div class="acr-icon icon-sort-down"></div></div></th>
                                <th><h2>Zip Code</h2><div class="sort-nav"><div class="acr-icon icon-sort-up"></div><div class="acr-icon icon-sort-down"></div></div></th>
                                <th><h2>Country</h2><div class="sort-nav"><div class="acr-icon icon-sort-up"></div><div class="acr-icon icon-sort-down"></div></div></th>                          
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var member in Model.Members)
                            {
                                <tr>
                                    <td><a class="member-info" href="#">@member.Member.LabelName</a><span style="display:none" class="details">@Html.Raw(member.BuildDetail())</span></td>
                                    <td>@member.Member.City</td>
                                    <td>@member.Member.State</td>
                                    <td>@member.Member.Zip</td>
                                    <td>@member.Member.Country</td>
                                </tr>
                            }
                        </tbody>
                    </table>                
            </div>
            }
            else
            {
                <p>There were no matching results.</p>
            }
        </div>
    </div>
}
