@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.DecampFeatureRenderings.ViewModels.LatestNewsListViewModel>
@using Sitecore.Foundation.SitecoreExtensions.Extensions

<div class="news mtb-30">
    <div class="container">
        @if (!string.IsNullOrWhiteSpace(Model.Title) || Sitecore.Context.PageMode.IsExperienceEditor)
        {
            <div class="row">
                <div class="col-12 col-md-6">
                    <h1 class="blue"><i class="material-icons">add</i>@Editable(x => x.Title)</h1>
                </div>
            </div>
        }
        
        @if (Model.NewsArticlesList.Count() > 0)
        {
            <div class="row justify-content-between">
                @foreach (var newsItem in Model.NewsArticlesList)
                {
                    var url = !string.IsNullOrWhiteSpace(newsItem.LinkOverride) ? newsItem.LinkOverride : newsItem.Url;
                    <div class="col-12 col-md-6">
                        @if (newsItem.Date != DateTime.MinValue || Sitecore.Context.PageMode.IsExperienceEditor)
                        {
                            <p class="date blue">
                                @if (Sitecore.Context.PageMode.IsExperienceEditor)
                                {
                                    @Editable(newsItem, x => x.Date)
                                }
                                else
                                {
                                    @newsItem.Date.ToString("MMMM dd, yyyy")
                                }
                            </p>
                        }
                        
                        <p>
                            @Editable(newsItem, x => x.Title)
                            <br/>
                            <a href="@url" @if (!string.IsNullOrWhiteSpace(newsItem.LinkOverride)) { @Html.Raw("target = '_blank'")}>Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </p>
                    </div>
                }
                
                @if (Model.Link != null || Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    <div class="col-12 col-md-12">
                        @using (BeginRenderLink(x => x.Link, new { @class = "btn btn-decamp-green", @role = "button" }))
                        {
                            @Html.Raw(Model.Link.Text) <i class='fa fa-angle-double-right' aria-hidden='true'></i>
                        }
                    </div>
                }                     
            </div>
            <hr class="mt-30">
        }
    </div>
</div>
