@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.DecampFeatureRenderings.ViewModels.LatestNewsListViewModel>
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using System.Text.RegularExpressions;

<div class="news mtb-30">
    <div class="container">
        <div class="row">
            <div class="col-12">
                @if (!string.IsNullOrWhiteSpace(Model.Title) || Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    <h1 class="blue"><i class="material-icons">add</i>@Editable(x => x.Title)</h1>
                }
                @if (Model.NewsArticlesList.Count() > 0)
                {
                    foreach (var newsItem in Model.NewsArticlesList)
                    {
                        var url = !string.IsNullOrWhiteSpace(newsItem.LinkOverride) ? newsItem.LinkOverride : newsItem.Url;
                        Match m = Regex.Match(newsItem.RichText, @"<p>\s*(.+?)\s*</p>");
                        var _teaser = m.Success ? m.Groups[1].Value : "";
                        if (string.IsNullOrWhiteSpace(_teaser))
                        {
                            m = Regex.Match(newsItem.RichText, @"[^\r\n]+((\r|\n|\r\n)[^\r\n]+)*");
                            _teaser = m.Success ? m.Groups[0].Value : "";
                        }


                        <h4 class="green"><a href="@url">@Editable(newsItem, x => x.Title)</a></h4>
                        <p class="date blue">
                            @if (Sitecore.Context.PageMode.IsExperienceEditor)
                            {
                                @Editable(newsItem, x => x.Date)
                            }
                            else
                            {
                                @newsItem.Date.ToString("MMMM dd, yyyy")
                            }
                        
                        </p>
                        <p>@_teaser</p>
                        <hr class="mtb-10">
                    }
                }
            </div>
        </div>
    </div>
</div>


