@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.DecampFeatureRenderings.ViewModels.RichTextSectionViewModel>
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@if (Model.UseDefaultTitleLocation)
{
    <div class="previous-studies mt-30">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    @if (!string.IsNullOrWhiteSpace(Model.Title) || Sitecore.Context.PageMode.IsExperienceEditor)
                    {
                        <h1 class="blue"><i class="material-icons">add</i>@Editable(x => x.Title)</h1>
                    }

                    @if (!string.IsNullOrWhiteSpace(Model.SubTitle) || Sitecore.Context.PageMode.IsExperienceEditor)
                    {
                        <h4 class="green">@Editable(x => x.SubTitle)</h4>
                    }
                </div>
            </div>
            
            <div class="row justify-content-between">
                @if (Model.Image != null || Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    if (Model.UseDefaultImageLocation)
                    {
                        <div class="col-12 col-md-5">
                            @RenderImage(x => x.Image, new { @class = "img-fluid" })
                        </div>
                    }

                }
                @if (!string.IsNullOrWhiteSpace(Model.RichText) || Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    <div class="col-12  @if (Model.Image != null) { @Html.Raw("col-md-7") } ">
                        <div class="">
                            @Editable(x => x.RichText)
                        </div>
                    </div>
                }
                @if (Model.Image != null || Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    if (!Model.UseDefaultImageLocation)
                    {
                        <div class="col-12 col-md-5">
                            @RenderImage(x => x.Image, new { @class = "img-fluid" })
                        </div>
                    }

                }
                
            </div>
        </div>
    </div>
}
else
{
    <div class="study mtb-30">
        <div class="container">
            <div class="row justify-content-between">
                @if (Model.Image != null || Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    if (Model.UseDefaultImageLocation)
                    {
                        <div class="col-12 col-md-6">
                            @RenderImage(x => x.Image, new { @class = "img-fluid" })
                        </div>
                    }

                }
                
                <div class="col-12 mt-15 @if (Model.Image != null) { @Html.Raw("col-md-6") }">
                    @if (!string.IsNullOrWhiteSpace(Model.Title) || Sitecore.Context.PageMode.IsExperienceEditor)
                    {
                        <h1 class="blue"><i class="material-icons">add</i>@Editable(x => x.Title)</h1>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.SubTitle) || Sitecore.Context.PageMode.IsExperienceEditor)
                    {
                        <h4 class="green">@Editable(x => x.SubTitle)</h4>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.RichText) || Sitecore.Context.PageMode.IsExperienceEditor)
                    {
                        @Editable(x => x.RichText)
                    }                  
                </div>

                @if (Model.Image != null || Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    if (!Model.UseDefaultImageLocation)
                    {
                        <div class="col-12 col-md-6">
                            @RenderImage(x => x.Image, new { @class = "img-fluid" })
                        </div>
                    }

                }
            </div>
        </div>
    </div>
}
    


