@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.DecampFeatureRenderings.ViewModels.TextCalloutSectionViewModel>
@using Sitecore.Foundation.SitecoreExtensions.Extensions

<div class="callout clearfix">
    <div class="callout-wrapper">
        @RenderImage(x => x.Image, new { @class = "callout-backgroundImage" }, isEditable:true)
    </div>
    <div class="callout-info">
        <div class="container">
            <div class="row">
                <div class="col-12 @if (!string.IsNullOrWhiteSpace(Model.SubTitle)) { @Html.Raw("col-md-8") } else { @Html.Raw("col-md-6") } mx-auto text-center">
                    @if (!string.IsNullOrWhiteSpace(Model.Title))
                    {
                        <h1 class="white">@Editable(x => x.Title)</h1>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.SubTitle))
                    {
                        <h2 class="white">@Editable(x => x.SubTitle)</h2>
                    }
                    
                    @if (!string.IsNullOrWhiteSpace(Model.RichText))
                    {
                        <div class="white">
                            @Editable(x => x.RichText)
                        </div>
                    }
                    
                </div>
                
            </div>
        </div>
    </div>
</div>
    
