@using Glass.Mapper.Sc.Web.Mvc;
@using System.Collections.Specialized;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.DSIHomeBanner.ViewModels.DSICalloutItemViewModel>

<div acr="main">
@if (Model.AnimateFromRight)
{
    <div acr="card-reverse">
        <div acr="list" style="padding:30px;--gap:15px;">
            <h2 acr class="heading new-heading">@Editable(x => x.Title)</h2>
            @Editable(x => x.Teaser)
            <div style="margin-top: 20px;">
                @if (Model.Link != null)
                {
                    @RenderLink(Model, x => x.Link, new { @class = "new-home-page-btn", @acr = "btn" }, isEditable: true)
                }
            </div><div style="margin-top: 20px;">
                @if (Model.SecondLink != null)
                {
                    @RenderLink(Model, x => x.SecondLink, new { @class = "new-home-page-btn", @acr = "btn-2ry" }, isEditable: true)
                }
            </div>
        </div>
        @RenderImage(Model, x => x.Image, new { @class = "target fadeInFromRight", @style = "opacity: 1; transform: translate(0px, 0px);" }, isEditable: true)
    </div>
}
else
{
    <div acr="card">
        @RenderImage(Model, x => x.Image, new { @class = "target", @style = "opacity: 1; transform: translate(0px, 0px);" }, isEditable: true)
        <div acr="list" style="padding:30px;--gap:15px;">
            <h2 acr class="heading new-heading">@Editable(x => x.Title)</h2>
            @Editable(x => x.Teaser)
            <div style="margin-top: 20px;">
                @if (Model.Link != null)
                {
                    @RenderLink(Model, x => x.Link, new { @class = "new-home-page-btn", @acr = "btn" }, isEditable: true)
                }
            </div><div style="margin-top: 20px;">
                @if (Model.SecondLink != null)
                {
                    @RenderLink(Model, x => x.SecondLink, new { @class = "new-home-page-btn", @acr = "btn-2ry" }, isEditable: true)
                }
            </div>
        </div>
    </div>
}
</div>