@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.DSIHomeBanner.Models.DSIHomeBanner>

    <div class="dsi-home-hero d-flex">
        <div class="xl-only dsi-hero-image-bg dsi-hero-image-large"
             style="background-image: url('/media-library/dsi/hero-images/hero-dsi-main-home-d.jpg');"></div>
        <div class="xl-hide dsi-hero-image-bg dsi-hero-image-small"
             style="background-image: url('/media-library/dsi/hero-images/hero-dsi-main-home-m.jpg');"></div>

        <div class="content row d-flex">
            <div class="col-dsi-hero-lg d-flex">
                <div class="dsi-home-bg-box d-flex">
                    <h1>
                        @Editable(x => x.MainTitle)<small> @Editable(x => x.SmallTitle)</small>
                    </h1>
                </div>
            </div>

            <div class="col-dsi-hero-sm d-flex">
                <div class="dsi-hero-do-hover">
                    <div class="xl-only dsi-hero-image-bg dsi-hero-image-large"
                         style="background-image: url('/media-library/dsi/hero-images/home-hero-card-professionals.jpg');"></div>
                </div>
                @using (BeginRenderLink(x => x.LeftLink, new { @class = "dsi-home-bg-box d-flex dsi-bg-home-sky" }, isEditable: true))
                {

                <span class="h2">@Editable(x => x.LeftTitle)&nbsp;<i class="acr-icon icon-chevron-sm-right" aria-hidden="true"></i></span>
                }
            </div>

            <div class="col-dsi-hero-sm d-flex">
                <div class="dsi-hero-do-hover">
                    <div class="xl-only dsi-hero-image-bg dsi-hero-image-large"
                         style="background-image: url('/media-library/dsi/hero-images/home-hero-card-developers.jpg');"></div>
                </div>
                @*<a href="#" class="dsi-home-bg-box d-flex dsi-bg-home-blue">
                    <span class="h2">Developers &amp; Industry&nbsp;<i class="acr-icon icon-chevron-sm-right" aria-hidden="true"></i></span>
                </a>*@
                @using (BeginRenderLink(x => x.CenterLink, new { @class = "dsi-home-bg-box d-flex dsi-bg-home-blue" }, isEditable: true))
                {

                <span class="h2">@Editable(x => x.CenterTitle)&nbsp;<i class="acr-icon icon-chevron-sm-right" aria-hidden="true"></i></span>
                }
            </div>

            <div class="col-dsi-hero-sm d-flex">
                <div class="dsi-hero-do-hover">
                    <div class="xl-only dsi-hero-image-bg dsi-hero-image-large"
                         style="background-image: url('/media-library/dsi/hero-images/home-hero-card-patients.jpg');"></div>
                </div>
                @*<a href="#" class="dsi-home-bg-box d-flex dsi-bg-home-green">
                    <span class="h2">Patients &amp; Advocates&nbsp;<i class="acr-icon icon-chevron-sm-right" aria-hidden="true"></i></span>
                </a>*@
                @using (BeginRenderLink(x => x.RightLink, new { @class = "dsi-home-bg-box d-flex dsi-bg-home-green" }, isEditable: true))
                {

                <span class="h2">@Editable(x => x.RightTitle)&nbsp;<i class="acr-icon icon-chevron-sm-right" aria-hidden="true"></i></span>
                }
            </div>

        </div>
    </div>
