@model ACRHelix.Feature.Toolkits.ViewModels.PfccToolkitViewModel
<!-- summary -->
<div acr="list-column-between" class="v-center">
    <p acr style="--color:#67768B;font-size:14px;">Results @Model.ResultRange of @Model.TotalCount</p>
    <div acr="list-column" class="pfcc-ddls">
        <select class="pfcc-sort-ddl">
            <option value="desc">Newest</option>
            <option value="asc">Oldest</option>
        </select>
        <a class="tool-tip tip-question text-size-1p25" href="#" style="color:#033f63; padding-top:4px">
            <span class="tip-text" style="font-size:15px">
                <div class="tip-text-inner">
                    Sort the list based on published data.
                </div>
            </span>
        </a>
    </div>
</div>
<!-- results -->
<ul class="toolkit-list pfcc-result-list">
    @if (Model.Resources.Count() > 0)
    {
        <li acr="list-column-between-alt" class="v-center"></li>
        foreach (var tool in Model.Resources)
        {
            <li acr="list-column-between-alt" class="v-center" style="padding-bottom:5px;">
                <div acr="list-column" class="v-center" style="--gap: 15px;">
                    <div acr="list">
                        @{ var lnk = !string.IsNullOrWhiteSpace(tool.Link) ? tool.Link : "#"; }
                        <a href="@lnk" acr="link" class="article-title" target="_blank">@tool.ToolName</a>
                        <p acr style="font-size:14px;">@tool.PostedDate.ToShortDateString()</p>
                        <p acr>@tool.Description</p>
                        <!-- BEGIN NOINDEX -->
                        <div class="header-share-opts">
                            <span>Share</span>
                            <a href="Share" target="_blank" class="pf-facebook"><i class="material-icons facebook"></i></a>
                            <a href="Share" target="_blank" class="pf-twitter"><i class="material-icons twitter"></i></a>
                            <a href="Share" data-url="@tool.Link" data-description="@tool.ToolName" class="share-link-mail"><i class="material-icons mail"></i></a>

                            @if (Model.CustomerType == "admin" || Model.CustomerType == "reviewer")
                            {
                                <a href="/Practice-Management-Quality-Informatics/Patient-Family-Centered-Care/PFCC-Toolkit/Review-Resource-Tool?toolId=@tool.Id" style="color: #4b9839; font-weight: 600;">Review/Assign</a>
                                <em>Status: @tool.Status</em>
                            }
                        </div>
                        <!-- END NOINDEX -->
                    </div>
                </div>
                <div class="article-actions has-button">
                    <a href="@lnk" class="article-btn" target="_blank">View</a>
                </div>
            </li>
        }
    }
    else
    {
        <li acr="list-column-between-alt" class="v-center">
            <div acr="list">
                <p acr style="font-size:14px;">No result found.</p>
            </div>
        </li>
    }
</ul>

@if (Model.Resources.Count() > 0)
{
    <!-- pagination -->
    <div acr="list-column" class="pagination pfcc-pagination">
        <span class="pfcc-pg-back material-icons"></span>
        <p acr> <span id="pfcc-pageNbr">@Model.PageNumber </span> of <span id="pfcc-TotalNbrPages"> @Model.NbrOfPages</span>  </p>
        <span class="pfcc-pg-next material-icons"></span>
    </div>
}
