@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Toolkits.ViewModels.PfccToolkitViewModel>
<!-- banner -->
<div class="full" style="position: relative;">
    <div acr="list" style="--gap:20px;padding:54px 10px;">
        <h2 acr class="heading" style="text-align: center;color:#333333;">
            @Editable(x => x.Title)
        </h2>
        <div id="pfcc-search-bar" acr="list-column" class="search-bar" style="--gap:0;">
            <input id="keyword" type="text" placeholder="Search by Keyword" style="max-width:100%">
            <a class="btn-icon">
                <i class="material-icons" style="color:#fff;"></i>
            </a>
        </div>
    </div>
    @RenderImage(x => x.Image, new { @class = "toolkit-banner" }, isEditable: true)
    <!-- <img src="Img/toolkit_banner.png" alt="banner" class="toolkit-banner"> -->
</div>

<section class="content">
    @Html.Sitecore().Placeholder("pfcc-sub-content")
    @if (!Sitecore.Context.PageMode.IsExperienceEditorEditing)
    {
        <div class="page-content">

            <!-- facets -->
            <!-- mobile filter -->
            <div class="filter-main" style="--gap:0;position: relative;top: -35px;width: 100%!important;max-width: 100%;border: 1px solid #CCCCCC;min-height: 35px;">
                <span>Search Filters</span>
                <i id="pfcc-filter-down" class="material-icons" style="color: #4B9839;padding: 6px 6px;float:right"></i>
                <i id="pfcc-filter-up" class="material-icons" style="color: #4B9839;padding: 6px 6px;float:right;cursor: pointer;"></i>
            </div>
            <div class="filter-menu" acr="list" style="--gap:30px;" v-if="filters.active">
                @{ int tc = 0; }
                @foreach (var type in Model.FacetTypes)
                {
                    <div class="group" acr="list" style="--gap:20px;">
                        <p style="font-weight:700;font-size:17px;margin-bottom:0">@type.Text</p>
                        <div id="pfcc-fg-@tc" acr="input-list" style="--gap:16px;">
                            @foreach (var facet in Model.Facets)
                            {
                                if (type.Value == facet.Type)
                                {
                                    <label for="@facet.Code" style="margin-top:0; margin-bottom:0;padding-left:20px;">
                                        <input type="checkbox" id="@facet.Code" value="@facet.Code">
                                        <div class="checkbox"></div>
                                        <span>@facet.Description</span>
                                    </label>
                                }
                            }
                            <div id="pfcc-facet-footer-@tc" onclick="pfcc_more_less(this)" acr="list" style="cursor:pointer;display:flex;align-items:center;justify-content:center;height:18px;--bg-color:#f7f8f9;">
                                <i class="material-icons facet-more" style="color:rgba(0,0,0,0.4)"></i>
                                <i class="material-icons facet-less" style="color:rgba(0,0,0,0.4)"></i>
                            </div>
                        </div>
                    </div>

                    ++tc;
                }
                <div class="filter-btn">
                    <button class="close-dd-nav">Close</button>
                </div>
            </div>
            <!-- results column -->
            <div id="pfcc-results-list" class="results">
                @Html.Partial("_Resources", Model)
            </div>
        </div>
    }

</section>