@using Sitecore.Foundation.SitecoreExtensions.Extensions
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Bulletin.ViewModels.ArticleViewModel>

@if (!string.IsNullOrWhiteSpace(Model.ParalaxImageUrl))
{
    @Html.Partial("~/Views/Bulletin/Articles/Images/ParalaxArticleImage.cshtml")
}
else
{
    @Html.Partial("~/Views/Bulletin/Articles/Images/DefaultArticleImage.cshtml")
}

<div class="content">
    <div class="row">
        <div class="col-12 xl-col-4 md-col-12">
            @Html.Sitecore().DynamicPlaceholder("Bulletin-Tags", true)
        </div>
        <div class="col-12 xl-col-8 md-col-12">
            <div class="xl-text-right md-text-center xl-pad-top-1em">
                @Html.Sitecore().DynamicPlaceholder("Bulletin-Share", true)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 bulletin-accordion-col">
            @Html.Sitecore().DynamicPlaceholder("Bulletin-Content", true)
        </div>
    </div>
</div>