@using Sitecore.Foundation.SitecoreExtensions.Extensions
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Bulletin.ViewModels.ArticleViewModel>

@if (!string.IsNullOrWhiteSpace(Model.ParalaxImageUrl))
{
    @Html.Partial("~/Views/Bulletin/Articles/Images/ParalaxArticleImage.cshtml")
}
else
{
    @Html.Partial("~/Views/Bulletin/Articles/Images/DefaultArticleImage.cshtml")
}

<div class="content">
    <div class="row">
        <div class="col-12 xl-col-4 md-col-12">
            @Html.Sitecore().DynamicPlaceholder("Bulletin-Tags", true)
        </div>
        <div class="col-12 xl-col-8 md-col-12">
            <div class="xl-text-right md-text-center xl-pad-top-1em">
                @Html.Sitecore().DynamicPlaceholder("Bulletin-Share", true)
            </div>
        </div>
        <div class="col-12 xl-col-4 md-col-12 clear-left">
            @Html.Sitecore().DynamicPlaceholder("Bulletin-Sidebar", true)
        </div>
        <div class="col-12 xl-col-8 md-col-12 inline-block">
            <article class="section-spacing-bottom" id="article-main">
                <header>
                    <span class="color-navy">@Model.Article.DatePosted.ToString("MMMM dd, yyyy")</span>
                </header>
                @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
                {
                    @Editable(x => x.Article.ArticleText)
                }
                else
                {
                    @Html.Raw(Model.LiveArticleText)
                }
                <footer>
                    @if (!string.IsNullOrWhiteSpace(Model.Article.EndNotes))
                    {
                        <strong class="h3 block margin-bottom-0">ENDNOTES</strong>
                        <p>
                            @Editable(x => x.Article.EndNotes)
                        </p>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.Article.Author))
                    {
                        <strong class="h3 block margin-bottom-0">Author</strong>
                        <strong>@Editable(x => x.Article.Author)</strong> @Html.Raw("&nbsp;")
                        @Editable(x => x.Article.AuthorTitle)
                    }
                </footer>
            </article>
        </div>
    </div>
</div>