@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Bulletin.Models.Rendering_Models.IssuesSlider>

<section class="content section-spacing bulletin-past-issues-slider-outer">
    <h1>@Editable(x => x.Title)</h1>
    <div class="bulletin-past-issues-slider">
        @foreach (var issue in Model.Issues)
        {
            <div class="slick-slide">
                <figure class="past-issue-holder">
                    <figcaption class="past-issue-title">@issue.IssueName</figcaption>
                    <a href="@Sitecore.Links.LinkManager.GetItemUrl(issue.GetItem())" class="past-issue-cover-holder">
                        <img src="@issue.TileImageUrl" alt="@issue.IssueName cover image" />
                    </a>
                </figure>
            </div>
        }
    </div>
    <footer class="text-center text-size-1p125 pad-top-1em">
        @RenderLink(x => x.ArchiveLink, new System.Collections.Specialized.NameValueCollection() { { "class", "read-more-link" } }, isEditable: true)
    </footer>
</section>