@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.VORBlogContent.ViewModels.VORFeaturedBlogViewModel>

@using Sitecore.Resources.Media
@using Sitecore.Feature.XBlog.Areas.XBlog.Items.Blog
@using Sitecore.Feature.XBlog.Areas.XBlog.Search
@using Sitecore.Feature.XBlog.Areas.XBlog.General;
@using Sitecore.Data.Items
@using Sitecore.Mvc
@using System.Linq;
@using System.Linq.Expressions;
@using System.Text;

@{
    BlogSettings settingsItem = DataManager.GetBlogSettingsItem(Sitecore.Context.Item);
}
<div class="col-lg-8 mb-10" id="divFeaturedBlogs">
    <article>
        @if (Model.MainFeaturedBlog != null && Model.MainFeaturedBlog.Count() != 0)
        {

            foreach (var mainFeaturedBlog in Model.MainFeaturedBlog)
            {
                if (mainFeaturedBlog != null)
                {
                    <h1><a href="@mainFeaturedBlog.Url">@Editable(mainFeaturedBlog, x => x.Title)</a></h1>
                    <div class="article-info">

                        @if (mainFeaturedBlog.Authors != null && mainFeaturedBlog.Authors.Count() != 0 && mainFeaturedBlog.Authors.First().ProfileImage != null && mainFeaturedBlog.Authors.First().ProfileImage.MediaExists)
                        {
                            @RenderImage(mainFeaturedBlog.Authors.First().ProfileImage, x => x, new { @style = "height:42px;" })
                        }
                        <div>

                            <span>By </span>
                            @{

                                if (mainFeaturedBlog.Authors != null && mainFeaturedBlog.Authors.Count() != 0)
                                {
                                    string url = HttpContext.Current.Request.Url.AbsoluteUri;
                                    var charsToRemove = new string[] { ",", "." };
                                    StringBuilder display = new StringBuilder();
                                    var blogSettings = new BlogSettings();
                                    int totalAuthor = mainFeaturedBlog.Authors.Count();
                                    int currentCount = 1;

                                    foreach (var authorItem in mainFeaturedBlog.Authors)
                                    {
                                        string authorurl = "";
                                        authorurl = authorItem.Url.ToString().Split('/').Where(x => !string.IsNullOrWhiteSpace(x)).LastOrDefault();
                                        authorurl = url + "/author/" + authorurl;
                                        display.Append(String.Format("<a href=\"{0}\">{1}</a>", authorurl, authorItem.FullName));
                                        if (currentCount < totalAuthor)
                                        {
                                            display.Append(", ");
                                        }

                                        currentCount++;
                                    }

                                    // string url = HttpContext.Current.Request.Url.AbsoluteUri;

                                    //string authorname = @mainFeaturedBlog.Authors.First().FullName;
                                    //foreach (var c in charsToRemove)
                                    //    authorname = authorname.Replace(c, "");



                            <span>
                                @Html.Raw(display.ToString())
                            </span>

                                }
                            }
                            <span>on </span>
                            <span class="article-date">@ACRHelix.Feature.VORBlogContent.Utilities.XBlogUtility.ParseBlogPublishDate(mainFeaturedBlog.PublishDate)</span>
                        </div>
                    </div>
                    <p>
                        @if (!String.IsNullOrEmpty(mainFeaturedBlog.Summary))
                        {
                            @Html.Raw(ACRHelix.Feature.VORBlogContent.Utilities.XBlogUtility.SubstringHtml(mainFeaturedBlog.Summary, settingsItem.DisplaySummaryLength, true));
                        }
                        else
                        {
                            @Html.Raw(ACRHelix.Feature.VORBlogContent.Utilities.XBlogUtility.SubstringHtml(mainFeaturedBlog.Body, settingsItem.DisplaySummaryLength, true))
                        }                     
                    </p>
                    <div class="article-tags cat-link">
                        Categories
                        @Html.Raw(ACRHelix.Feature.VORBlogContent.Utilities.XBlogUtility.ParseBlogCategories(mainFeaturedBlog.Category))
                    </div>
                }
            }
        }
    </article>

</div>

@Html.Sitecore().Placeholder("bloglist")

