@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Bulletin.Models.Rendering_Models.BulletinHomepageFeaturedQuoteArticle>

<blockquote class="bulletin-pullquote">
    <p>
        &ldquo;
        @if (Model != null)
        {
            if (Model.FeaturedArticle != null)
            {
                @Editable(x => x.FeaturedArticle.Quote)
            }
            else
            {
                @Editable(x => x.Quote)
            }
        }
        &rdquo;
    </p>
    <footer>
        @if (Model != null)
        {
            if (Model.FeaturedArticle != null)
            {
                {
                    if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
                    {
                        @Editable(x => x.FeaturedArticle.TileLinkText)

                    }
                    else
                    {
                        string link = (string.IsNullOrWhiteSpace(Model.FeaturedArticle.TileLinkText) ? "Read the full article" : Model.FeaturedArticle.TileLinkText);

                        <a href="@Model.FeaturedArticle.Url" class="read-more-link">
                            @link
                        </a>
                    }
                }

            }
            else
            {
                @RenderLink(x => x.QuoteLink, new System.Collections.Specialized.NameValueCollection() { { "class", "read-more-link" } }, true)
            }
        }
    </footer>
</blockquote>