@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Bulletin.ViewModels.ArticleViewModel>

<div class="content">
    <div class="row no-gutters">
        <div class="bulletin-feat-article-hero">
            @if (Model != null && Model.Article != null)
            {
                using (BeginEditFrame(Model.Article, "Full Featured Article", x => x.ParallaxImage, x => x.MobileParallaxImage, x => x.Title, x => x.TileText, x => x.TileLinkText))
                {
                    if (!string.IsNullOrWhiteSpace(Model.ParalaxMobileImageUrl))
                    {
                        <figure class="hero-img-mb" data-bg-img="@Model.ParalaxMobileImageUrl" aria-hidden="true"><a href="@Model.Article.Url" class="hero-img-link"><span class="sr-only">@Model.Article.TileLinkText</span></a></figure>
                    }
                    else
                    {
                        <figure class="hero-img-mb" data-bg-img="@Model.ParalaxImageUrl" aria-hidden="true"><a href="@Model.Article.Url" class="hero-img-link"><span class="sr-only">@Model.Article.TileLinkText</span></a></figure>
                    }
                    <figure class="hero-img-dk" data-bg-img="@Model.ParalaxImageUrl" aria-hidden="true"><a href="@Model.Article.Url" class="hero-img-link"><span class="sr-only">@Model.Article.TileLinkText</span></a></figure>

                    <section class="bulletin-feat-content has-orange-link">
                        <header>
                            <span class="news-type-tag">Featured Article</span>
                            <h2>@Model.Article.Title</h2>
                        </header>
                        <div class="bulletin-feat-body">
                            <p>@Html.Raw(Model.Article.TileText)</p>
                        </div>
                        <footer>
                            <a href="@Model.Article.Url" class="read-more-link">@Model.Article.TileLinkText</a>
                        </footer>
                    </section>
                }
            }
        </div>
    </div>
</div>