@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.CaseInPoint.Models.CaseInPointItem>

@using (BeginEditFrame(Model.Content, "Case In Point Editable Content", x => x.Title, x => x.IntroText, x => x.LinkText))
{
    <section class="img-rl section-spacing content row xl-text-left md-text-center text-center addParent-">
        <header class="xl-col-8 md-col-6 fl-right">
            <h1 class="xl-wide-11 lg-wide-12 fl-right"><a target="_blank" href="@Model.Content.HeaderLink">@Model.Title</a></h1>
        </header>
        <div class="xl-col-4 md-col-6 text-center">
            <figure class="lg-wide-6 lg-margin-auto">
                @using (BeginRenderLink(Model, x => x.Link, new { @target = "_blank", @class = "no-target-icon" }, isEditable: false))
                {
                    @RenderImage(Model, x => x.Image, isEditable: false, outputHeightWidth: true)
                }
            </figure>
            <br>
        </div>
        <div class="xl-col-8 md-col-6 fl-right">
            <div class="pad-bottom-1em text-content xl-wide-11 lg-wide-12 fl-right">
                <p>@Model.IntroText</p>
                <h3>CASE OF THE DAY</h3>
                @Model.Text
            </div>
            <div class="has-button xl-wide-11 lg-wide-12 fl-right">
                @RenderLink(Model, x => x.Link, isEditable: false)
            </div>
        </div>
    </section>
}