@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.CaseInPoint.Models.CaseInPointItem>

@using (BeginEditFrame(Model.MiniContent, "Case In Point Editable Content", x => x.Title, x => x.LinkText))
{
<div class="xl-col-7 md-col-12">
    <h2 class="xl-col-12">@Model.Title</h2>
    <figure class="img-left xl-col-5 md-col-5">
        @RenderImage(Model, x => x.Image, isEditable: false, outputHeightWidth: true)
    </figure>
    <div class="md-col-7 xl-col-7">
        <strong>@Model.Date.ToString("MMMM dd, yyyy")</strong><br>
        <p>@Model.Text</p>       
        @*<a href="@Model.Link.Url" class="read-more-link"><strong>Go to Case in Point</strong></a>*@
        @using (BeginRenderLink(x => x.Link, new { @class = "read-more-link" }))
        {
            <strong>
                @Model.Link.Text
            </strong>
        }
    </div>
</div>
}