<footer>   
    <section class="orgs">
        @Html.Sitecore().Placeholder("rhec-footer-orgs")
    </section>
    <section class="info">
        <div class="inner-section">
            <div class="links-container">
                <div class="logo-btn mob-tab-logo-btn">
                    @Html.Sitecore().Placeholder("rhec-logo-btn")                    
                </div>
                <div class="footer-links-container">
                    <div class="logo-btn desktop-logo-btn">
                        @Html.Sitecore().Placeholder("rhec-logo-btn")
                    </div>
                    @Html.Sitecore().Placeholder("rhec-foot-links")
                </div>
            </div>
            <div class="copyright">
                @Html.Sitecore().Placeholder("rhec-foot-copyright")
            </div>
        </div>
    </section>
</footer>