@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

<div class="navbar-wrapper sticky">
    <div class="topbar">
        <div class="container">
            <nav class="navbar navbar-expand-md topbar-style">
                <a class="hidden-lg-up">Login / Register</a>
                <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#topbar-mobile" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </button>
                <div class="collapse navbar-collapse" id="topbar-mobile">
                    <ul class="navbar-nav ml-auto topNav">
                        @Html.Sitecore().Placeholder("top navigation bar")
                        <li class="nav-item">
                            <a class="nav-link search" href="javascript:void(0)">Search &nbsp;<i class="fa fa-search"></i></a>
                        </li>
                        @Html.Sitecore().Placeholder("login button")
                        
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="search-bar">
        @Html.Sitecore().Placeholder("search box")
    </div>


    <div class="main-navbar">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light topbar-style-bar main-menu">
                @Html.Sitecore().Placeholder("logo")
                @Html.Sitecore().Placeholder("header main menu")
            </nav>
        </div>
    </div>
    <div class="mobile-navbar">
        <div class="container">
            <nav id="stack-menu" class="navbar navbar-expand-lg navbar-light topbar-style-bar">
                @Html.Sitecore().Placeholder("logo")
                @Html.Sitecore().Placeholder("header-main-menu-mobile")
            </nav>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("ul.ml-auto li.nav-item.mega-dropdown").hover(function () {
            $(this).addClass("show");
            $(this).find('div.dropdown-menu').addClass('show');
            $(this).find('a').attr('aria-expanded', true);
        }, function () {
            var item = document.getElementById('main-nav');
            if (item != undefined && item.childNodes != undefined && item.childNodes[1].childElementCount > 0) {
                for (var iCounter = 0; iCounter < item.childNodes[1].childElementCount; iCounter++) {
                    if (item.childNodes[1].children[iCounter].className == "nav-item mega-dropdown show") {
                        item.childNodes[1].children[iCounter].classList.remove('show');
                        item.childNodes[1].children[iCounter].children[1].classList.remove('show');
                        if (item.childNodes[1].children[iCounter].children[2] != undefined) {
                            item.childNodes[1].children[iCounter].children[2].classList.remove('show');
                        }
                    }
                }
            }
        });


        $(".arw").click(function (event) {

            event.preventDefault();
            event.stopPropagation();



            if ($(this).hasClass("opn")) {
                $(this).removeClass("opn");
                $(this).parent().removeClass("show");
                $(this).next().next().removeClass("show");
            }
            else {
                $(this).addClass("opn");
                $(this).parent().addClass("show");
                $(this).next().next().addClass("show");
            }


        });


    });
  
</script>