@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.PageContent.ViewModels.SectionTitleWithPlaceholderViewModel>
@using Sitecore.Foundation.SitecoreExtensions.Extensions

<!--end: Module -->
<div class="content">
	@if (Sitecore.Context.PageMode.IsExperienceEditor || !string.IsNullOrWhiteSpace(Model.Title))
	{
	<header>
		<h2>@Editable(x => x.Title)</h2>
		<hr>
	</header>
	}
    <section class="indented-section row">
        <div class="xl-col-7 lg-col-12 no-section-spacing">
            @if (Sitecore.Context.Item.Paths.FullPath.ToLower().StartsWith("/sitecore/content/DSI"))
            {
                @Html.Sitecore().DynamicPlaceholder("dsi-content", false)
            }
            else
            {
                @Html.Sitecore().DynamicPlaceholder("content", false)
            }
        </div>
        @if (Sitecore.Context.Item.Paths.FullPath.ToLower().StartsWith("/sitecore/content/DSI"))
        {
            @Html.Sitecore().DynamicPlaceholder("dsi-content", false)
        }
        else
        {
            @Html.Sitecore().DynamicPlaceholder("content", false)
        }
    </section>
</div>