@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.PageContent.ViewModels.CountdownViewModel>
<style>
    .main-cd-area1 {
        background: #062D4A;
        position: relative;
    }

    .main-cd-area2 {
        background: #425563;
        position: relative;
    }

        .main-cd-area1 h1, .main-cd-area1 h2, .main-cd-area2 h1, .main-cd-area2 h2 {
            font-family: freight-sans-pro;
            font-weight: normal;
            font-size: 32px;
            color: #FFFFFF;
            line-height: 34px;
            margin: 0;
        }

        .main-cd-area1 h1, .main-cd-area2 h1 {
            font-weight: bold;
        }

    .cd-clock {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 42px;
        color: #FFFFFF;
    }

    hr.cd-underline {
        border: 4px solid #4B9839;
        color: #4B9839;
        height: 0;
        width: 90%
    }

    .cd-clockpadding {
        padding: 25px 0;
    }

    span.cd-clockpadding10 {
        padding: 5px !important;
        margin: 0 !important;
    }

    .main-cd-area1 .cd-btm-22, .main-cd-area1 .cd-btm-22 {
        margin-bottom: -20px;
    }

    sub {
        bottom: -1.5em;
        left: -42px;
        font-size: 10px;
    }
    .main-cd-area1 .icon-external-site, .main-cd-area2 .icon-external-site {
        display: none;
    }
    @@media only screen and (max-width: 600px) {
        .cd-clockpadding {
            padding: 0 15px 15px 15px;
            text-align: center;
        }

        .cd-textcenter {
            text-align: center;
        }
    }
</style>

@{var lnk = @Model.Link != null ? "href=" + @Model.Link.Url + " " : " "; }

@if (Model.DisplayType.ToLower() == "without image")
{
    <section class="main-cd-area1">
        <a @lnk>
            <div class="content row cd-btm-22">
                <div class="xl-col-7">
                    <div style="padding: 25px 25px 15px 25px;">
                        <h1>@Editable(m => m.Title)</h1>
                        <h2>@Editable(m => m.SubTitle)</h2>
                        <hr class="cd-underline" />
                    </div>
                </div>
                <div class="xl-col-5">
                    <div id="cd-clockdown" class="cd-clock cd-clockpadding">
                        00<sub>Days</sub>
                        00<sub>Hours</sub>
                        00<sub>Minutes</sub>
                        00<sub>Seconds</sub>
                    </div>
                </div>
                <input type="hidden" id="cd-targetDate" name="cd-targetDate" value="@Model.TargetDate" />
            </div>
        </a>
    </section>
}
else if (Model.DisplayType.ToLower() == "with image")
{
    <section class="main-cd-area2">
        <a @lnk>
            <div class="content row">
                <div class="xl-col-5">
                    <div class="cd-textcenter" style="padding: 15px 0;">
                        @RenderImage(m => m.Image, isEditable: true)
                    </div>
                </div>
                <div class="xl-col-7">
                    <div style="padding: 30px 15px;">
                        <h1>@Editable(m => m.Title)</h1>
                        <h2>@Editable(m => m.SubTitle)</h2>
                        <hr class="cd-underline" />
                        <div id="cd-clockdown" class="cd-clock cd-textcenter">
                            00<sub>Days</sub>
                            00<sub>Hours</sub>
                            00<sub>Minutes</sub>
                            00<sub>Seconds</sub>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="cd-targetDate" name="cd-targetDate" value="@Model.TargetDate" />
            </div>
        </a>
    </section>
}
