@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.PageContent.Models.BlueLinkList>
@using System.Collections.Specialized;
@using ACRHelix.Foundation.EditFrames;
@using Sitecore.Foundation.SitecoreExtensions.RenderingExtensions;

@if (Sitecore.Context.PageMode.IsExperienceEditor)
{
<style type="text/css">
    .has-dark-blue-anchor div.scLooseFrameZone {
        display: inline-block;
        width: 50%;
    }
</style>
}

<div class="content section-spacing">

    @if (Model.DisplayHeader)
    {
    <h2>@Editable(x => x.Title)</h2>
    <hr>
    @:<div class="indented-section">
        if (Model.SubTitle != "" || Sitecore.Context.PageMode.IsExperienceEditorEditing)
        {
        <div class="text-size-1p25 pad-bottom-1em">@Editable(x => x.SubTitle)</div>
        }
    }

    @if (Model.Children != null)
    {
    <div class="row-adjust inline-block-cols has-dark-blue-anchor">
        @foreach (var link in Model.Children)
        {
            string iconClass = "icon-document";
            if (link != null)
            {
                if (link.Link != null)
                {
                    switch (Path.GetExtension(link.Link.Url))
                    {
                        //case "pdf":
                        //    iconClass = "icon-pdf";
                        //    break;
                        default:
                            iconClass = "icon-document";
                            break;
                    }
                }
                using (BeginEditFrame(EditFrameConstants.Paths.Edit, link.Id.ToString(), "Link Item"))
                {
            <div class="xl-col-6 additional-resource-item">
                <span class="acr-icon text-orange @iconClass"></span>
                <strong>@RenderLink(link, x => x.Link, isEditable: true)</strong>
                @*<a href="@link.Url"><strong>@Editable(link, x => x.Title)</strong></a>*@
            </div>
                }
            }
        }
    </div>
    }
    @if (Model.DisplayHeader)
    {
    @:</div>
    }

</div>