@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.PageContent.ViewModels.RliPageTitleSectionViewModel>

<div id="pg-hero" class="page-hero-image section-spacing-bottom rli-pt">

    @if (Model.RliPageTitleSection.BannerBackgroundImage != null)
    {
        @RenderImage(m => m.RliPageTitleSection.BannerBackgroundImage, isEditable: true)
    }
    <figure class="lf-col">
        @if (Model.RliPageTitleSection.RliLogo != null)
        {
            @RenderImage(m => m.RliPageTitleSection.RliLogo, isEditable: true)
        }
    </figure>

    <header class="content">
        @if (!string.IsNullOrWhiteSpace(Model.RliPageTitleSection.SubTitle))
        {
            <h3> @Editable(x => x.RliPageTitleSection.SubTitle)</h3>
        }
        <h1 class="hero-page-title">@Editable(x => x.RliPageTitleSection.Title)</h1>
        <figure class="rg-col" id="rliPgTlStn">
            @if (Model.RliPageTitleSection.RightCalloutImage != null)
            {
                @RenderImage(m => m.RliPageTitleSection.RightCalloutImage, isEditable: true)
                <iframe id="rli_pg_iframe" data-cookieconsent="marketing" data-src="@Model.RliPageTitleSection.RightCalloutLink.Url" frameborder="0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>                
            }
        </figure>
        @if (!string.IsNullOrWhiteSpace(Model.RliPageTitleSection.RightCalloutText))
        {
            <div class="rg-col-p"> @Editable(m => m.RliPageTitleSection.RightCalloutText) </div>
        }
    </header>
</div>