@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.PageContent.Models.TextSectionCallout>

@{ var anchorLink = Server.HtmlEncode(Model.Id.ToShortID().ToString()); }
<div class="content section-spacing">
    <div class="row indented-section" style="padding-right:0px">
        <!--start: Module -->
        <div class="xl-col-8 lg-col-7">
            <div class="text-content" id="@anchorLink">
                @if (Sitecore.Context.PageMode.IsExperienceEditor || !string.IsNullOrWhiteSpace(Model.Title))
                {
                    <h2>@Editable(Model, x => x.Title)</h2>
                }
                @Editable(Model, x => x.SubTitle)

                @Editable(Model, x => x.Text)
            </div>
        </div>
        <div class="xl-col-30pct lg-col-5 fl-right">
            <div class="box in-content-callout" style="max-width:100%">
                <div class="text-content line-height-extra margin-bottom-p75">
                    @Editable(Model, x => x.TopText)
                </div>
                @RenderLink(Model, x => x.Link, new System.Collections.Specialized.NameValueCollection { { "class", "button wrap" } }, isEditable: true)


                @if (Model.Link != null)
                {
                    <br />
                    <br />
                }
                <div class="text-content line-height-extra">
                    @Editable(Model, x => x.BottomText)
                </div>
            </div>
        </div>
        <!--end: Module -->
    </div>
</div>