@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.PageContent.Models.TextImageSection>

<section class="content section-spacing" id="@Server.HtmlEncode(Model.Id.ToShortID().ToString())">
    @{
        var imgLocation = "fl-right";
        if (Model.ImageLocation != null && !string.IsNullOrWhiteSpace(Model.ImageLocation.CssClass))
        {
            imgLocation = Model.ImageLocation.CssClass;
        }
    }
    @if (!string.IsNullOrWhiteSpace(Model.Title))
    {
        <header>
            <h2>@Editable(x => x.Title)</h2>
            <hr>
        </header>
    }
    
    <div class="section-spacing">
        <div class="indented-section">
            <!--start: Module -->
            <section class="row-adjust">
                <figure class="xl-col-30pct lg-col-5 @imgLocation xl-text-right img-max-400"> @*fl-right*@
                    @if ((Model.ImageLink != null && !String.IsNullOrWhiteSpace(Model.ImageLink.Url)) || Sitecore.Context.PageMode.IsExperienceEditor)
                    {
                        using (BeginRenderLink(x => x.ImageLink, isEditable: true))
                        {
                            @RenderImage(x => x.Image, isEditable: true)
                        }
                    }
                    else
                    {
                        @RenderImage(x => x.Image, isEditable: true)
                    }
                    <br>
                    <br>
                </figure>
                <div class="xl-col-8 lg-col-7">
                    @if (Sitecore.Context.PageMode.IsExperienceEditor || !string.IsNullOrWhiteSpace(Model.SubTitle.Trim()))
                    {
                    <header>
                        @Editable(x => x.SubTitle)
                    </header>
                    <br>
                    }
                    <div class="text-content">
                        @Editable(x => x.Text)
                    </div>
                </div>
            </section>
            <!--end: Module -->
        </div>
    </div>
</section>