@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.PageContent.ViewModels.TextVideoSectionViewModel>

<section class="content section-spacing">
	@{ var anchorLink = Server.HtmlEncode(Model.Id.ToShortID().ToString()); }	
    <header id="@anchorLink">
        <h2>@Editable(Model, x => x.Title)</h2>
        <hr>
    </header>
    <div class="section-spacing">
        <div class="indented-section">
            <!--start: Module -->
            <section class="row-adjust">
                <div class="xl-col-30pct lg-col-5 fl-right xl-text-right img-max-400">
                    @if (Model.Video != null)
                    {
                        if (!string.IsNullOrWhiteSpace(Model.Video.Url))
                        {
                            <iframe width="400" height="225" data-cookieconsent="marketing" data-src="@Model.Video.Url" frameborder="0" allowfullscreen></iframe>
                            <div class="cookieconsent-optout-marketing cookiebot-video" style="display: none;">Please <a href="javascript:Cookiebot.renew()">accept marketing cookies</a> to watch this video.</div>
                        }
                    }
                </div>
                <div class="xl-col-8 lg-col-7">
                    @if (Sitecore.Context.PageMode.IsExperienceEditor || string.IsNullOrWhiteSpace(Model.SubTitle.Trim()) == false)
                    {
                    <header>
                        @Editable(Model, x => x.SubTitle)
                    </header><br>
                    }
                    <div class="text-content pad-bottom-1em">
                        @Editable(Model, x => x.Text)
                    </div>
                </div>
            </section>
            <!--end: Module -->
        </div>
    </div>
</section>