@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.PageContent.ViewModels.VideoSectionViewModel>
@using Sitecore.Mvc;
@*@{
    var anchorLink = "";
    try
    {
        anchorLink = Server.HtmlEncode(Model.Id.ToShortID().ToString());
    }
    catch (Exception ex)
    {
        anchorLink = "";
    }
}*@
@if (Model != null)
{
<section>
    <div class="container">
        @if (!string.IsNullOrWhiteSpace(Model.Title) || Sitecore.Context.PageMode.IsExperienceEditor)
        {
            <h2 class="header-style"><span class="underline-red"><span>@Editable(x => x.Title)</span></span><hr class="hr-style-red" /></h2>
        }
        @if (!string.IsNullOrWhiteSpace(Model.SubTitle) || Sitecore.Context.PageMode.IsExperienceEditor)
        {
            <h3>@Editable(x => x.SubTitle)</h3>
        }
            <div class="col-12 mb-5">
                @*@if (!string.IsNullOrWhiteSpace(Model.RichText) || Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    @Editable(x => x.RichText)

                }*@
                @if (Model.VideoLink != null)
                {
                    @*<iframe width="1120" height="630" data-cookieconsent="marketing" data-src="@Model.VideoLink.Url" frameborder="0" allowfullscreen></iframe>*@
                    <iframe src="@Model.VideoLink.Url" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" data-cookieconsent="marketing" name="fitvid0" allowfullscreen></iframe>
                    <div class="cookieconsent-optout-marketing cookiebot-video" style="display: none;">Please <a href="javascript:Cookiebot.renew()">accept marketing cookies</a> to watch this video.</div>
                }
            </div>
       
            <div class="row mb-5 mt-2">
                @if (Model.Videos != null)
                {
                    foreach (var video in Model.Videos)
                    {
                        <div class="col-xs-12 col-md-6 col-lg-4"style="margin-bottom: 2rem;">
                            <div class="section-header">
                                @if (video.VideoLink != null)
                                {
                                    <iframe src="@video.VideoLink.Url" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" data-cookieconsent="marketing" name="fitvid0" allowfullscreen></iframe>
                                    <div class="cookieconsent-optout-marketing cookiebot-video" style="display: none;">Please <a href="javascript:Cookiebot.renew()">accept marketing cookies</a> to watch this video.</div>
                                }

                                <h3 style="font-size:21px;margin-top: 1rem;">@Editable(video, x => x.Title)</h3>
                                @if (!string.IsNullOrWhiteSpace(video.SubTitle) || Sitecore.Context.PageMode.IsExperienceEditor)
                                {
                                    <hr class="hr-style-red" style=" border-bottom: 1px solid #e02a2e; position: relative; margin-top: 0.2rem; border-top: 0; margin-bottom: 0.4rem;">
                                    <h6>@Editable(video, x => x.SubTitle)  </h6>
                                }
                                </div>
                        </div>
                    }
                }
                    </div>
    </div>
</section>
}







@*<div class="videos section-spacing">
    <section>
        <header class="content" id="@anchorLink">
            <h2>@Editable(x => x.Title)</h2>
            <hr>
        </header>

        <div class="section-spacing content">
            @if (Model.SubTitle != "" || Sitecore.Context.PageMode.IsExperienceEditorEditing)
            {
                <div class="indented-section row">
                    <div class="text-size-1p25 pad-bottom-1em">@Editable(x => x.SubTitle)</div>
                </div>
            }
            <div class="indented-section row">
                <div class="col-12 video-item">
                    
                    @if (Model.VideoLink != null)
                    {
                        <iframe width="1120" height="630" data-cookieconsent="marketing" data-src="@Model.VideoLink.Url" frameborder="0" allowfullscreen></iframe>
                        <div class="cookieconsent-optout-marketing cookiebot-video" style="display: none;">Please <a href="javascript:Cookiebot.renew()">accept marketing cookies</a> to watch this video.</div>
                    }
                </div>
            </div>
            <div class="indented-section row">
                <div class="flex-content-left spaced-column-area">
                    @if (Model.Videos != null)
                    {
                        foreach (var video in Model.Videos)
                        {
                            using (BeginEditFrame(EditFrameConstants.Paths.Edit, video.Id.ToString(), "Video"))
                            {
                                <div class="xl-col-4 md-col-6 video-item">
                                    <div class="video-outer">
                                        @if (video.VideoLink != null)
                                        {
                                            <iframe width="560" height="315" data-cookieconsent="marketing" data-src="@video.VideoLink.Url" frameborder="0" allowfullscreen></iframe>
                                            <div class="cookieconsent-optout-marketing cookiebot-video" style="display: none;">Please <a href="javascript:Cookiebot.renew()">accept marketing cookies</a> to watch this video.</div>
                                        }
                                    </div>
                                    <h3 class="underline-orange">@Editable(video, x => x.Title)</h3>
                                    <strong>@Editable(video, x => x.SubTitle)</strong> <br>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </section>
</div>*@