@using Sitecore.Feature.XBlog.Areas.XBlog.Items.Blog
@using Sitecore.Feature.XBlog.Areas.XBlog.Search
@using Sitecore.Feature.XBlog.Areas.XBlog.General;
@using Sitecore.Data.Items
@using Sitecore.Mvc
@using Sitecore.Resources.Media
@using Sitecore.Links
@using Sitecore.Feature.XBlog.Areas.XBlog;
@inherits System.Web.Mvc.WebViewPage

@{
    Item dataSourceItem = Sitecore.Context.Database.GetItem(Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource);
    BlogSettings settingsItem = DataManager.GetBlogSettingsItem(dataSourceItem != null ? dataSourceItem : Sitecore.Context.Item);
    BlogPost currentBlogPost = Sitecore.Context.Item.CreateAs<BlogPost>();
}

@if (currentBlogPost != null)
{
    <div id='@Html.Raw(settingsItem.PrimaryCSSID)-RelatedBlog' class="full">
        <h3>@Html.Sitecore().Field(BlogSettings.RelatedBlogTitleFieldId, settingsItem.InnerItem)</h3>
        @{
            //Get search results
            IEnumerable<BlogPost> blogs = BlogManager.GetBlogRelatedValues(currentBlogPost);
            blogs = BlogManager.SetBlogDisplayLimit(settingsItem.RelatedBlogMaxPosts, blogs);

            if (blogs == null || !blogs.Any())
            {
                return;
            }
        }
        <div acr="list" style="--gap: 15px; border-top: 1px solid var(--color-orange); border-bottom: 1px solid var(--color-orange);" class="full">
            <ul class="post-list limit" >
                @foreach (BlogPost blogPost in blogs)
                {
                    <li acr="list-column" class="v-center blogPostDiv">
                        @{
                        string blogFeaturedImage = "";
                        if (blogPost.FeaturedImage != null && blogPost.FeaturedImage.MediaItem != null)
                        {
                            blogFeaturedImage = String.Format("<img src=\"{0}\"/>", MediaManager.GetMediaUrl(blogPost.FeaturedImage.MediaItem));
                        }
                        @Html.Raw(blogFeaturedImage)
						}
                        <div acr="list">
                            <h3 acr style="font-size:18px;font-weight: var(--font-regular);">You may also like</h3>
                            <a href="@Html.Raw(LinkManager.GetItemUrl(blogPost.InnerItem))" acr="link" class="article-title">@Html.Raw(blogPost.Title)</a>
                            <div acr="list-column" class="article-info v-center">
                                <div>
                                    @Html.Raw(blogPost.PublishDate.DateTime.ToString(settingsItem.BlogListingDateFormat))
                                    |
                                    @{ if (blogPost.Authors.Any())
                                        {
                                            List<Sitecore.Data.ID> authorIds = new List<Sitecore.Data.ID>();
                                            foreach (Author a in blogPost.Authors)
                                            {
                                                authorIds.Add(a.ItemId);
                                            }

                                            List<Author> authors = AuthorManager.GetAuthorsForBlogPost(authorIds);

                                            string authorNames = string.Empty;

                                            foreach (Author a in authors)
                                            {
                                                authorNames += a.FullName;
                                            }

                                            @Html.Raw(authors[0].FullName);


                                        } }
                                </div>
                            </div>
                            <p acr>
                                As radiologists, we strive to deliver high-quality images for interpretation while maintaining patient safety, and to deliver accurate, concise reports that will inform patient care. We have improved image quality with advances in technology and attention to optimizing protocols. We have made a stronger commitment to patient safety, comfort, and satisfaction with research, communication, and education about contrast and radiation issues. But when it comes to radiology reports, little has changed over the past century.
                            </p>
                        </div>
                    </li>
                }

            </ul>
        </div>

    </div>
}




