@using Glass.Mapper.Sc.Web.Mvc;
@using System.Collections.Specialized;
@using ACRHelix.Feature.MeetingsCalendar;
@using ACRHelix.Feature.MeetingsCalendar.Util;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.MeetingsCalendar.Models.MeetingOrCourseHeader>

<!--start: Module -->

@if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    <style type="text/css">
        .page-hero-image.scLooseFrameZone {height:100%}
    </style>
}

    <div class="page-hero-image meeting-hero section-spacing-bottom">
        @Editable(Model, x => x.HeaderImage)
@using (BeginEditFrame(Model, "Meeting or Course Header", x => x.HeaderImage, x => x.Title, x => x.SubTitle, x => x.RegisterLink, x => x.MeetingType, x => x.Products))
{
        <header class="content text-center">
            <h1>@Editable(Model, x => x.Title)</h1>
            <span class="meeting-header-location">@Editable(Model, x => x.SubTitle)</span>
            <br>
            
            @RenderLink(Model,x => x.RegisterLink,new NameValueCollection() { {"class","button" } })

            @if (Model.Products != null)
            {
                if (Model.Products.Any())
                {
                    <div class="meeting-bottom-hero-text">
                        @*<h3>Course Dates: </h3>*@
                        @{
                            if (Model.Products.Any())
                            {
                                int index = 0;
                                foreach (var item in Model.Products.Where(x => x.MeetingLastRegistrationDate >= DateTime.Now).OrderBy( x => x.MeetingStartDate))
                                {
                                @DateUtil.GetFormattedDate(item)
                                    if (index < Model.Products.Count() - 1)
                                    {
                                    <span class="course-pipes">|</span>
                                    }
                                    index++;
                                }
                            }
                            else
                            {
                                if (Sitecore.Context.PageMode.IsExperienceEditor)
                                {
                                    @:No products assigned to course, dates cannot be displayed.
                                }

                            }

                            }
                    </div>
                                }
                            }
        </header>
}
    </div>

<!--end: Module -->
