@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.MeetingsCalendar.ViewModels.RliEventTilesViewModel>
@using ACRHelix.Foundation.EditFrames;

<style>
    .slick-slide .scLooseFrameZone {
        width: 25%;
    }
</style>

<div class="content section-spacing">
    <section>
        <header id="upcomingChapterMeetings-">
            <h2>@Editable(x => x.Title)</h2>
            <hr>
        </header>
        <!--start: Module -->
        <div class="content section-spacing">
            <div class="row indented-section">
                <section class="event-tile-area">
                    @if (Sitecore.Context.PageMode.IsExperienceEditor)
                    {
                        Model.PageSize = Model.Events.Count;
                    }

                    @foreach (var list in Model.EventTilePages)
                    {
                        <div class="slick-slide flex-content-left">
                            @foreach (var eventTile in list)
                            {
                                using (BeginEditFrame(EditFrameConstants.Paths.Edit, eventTile.Id.ToString(), "Event"))
                                {
                                    string style = "";
                                    if (Sitecore.Context.PageMode.IsExperienceEditor)
                                    {
                                        style = "width:100%";
                                    }

                                    <div class="xl-col-3 lg-col-6" style="@style">
                                        <div class="event-tile text-content" style="min-height: 203px">
                                            <span class="text-size-p75 event-tile-date">@eventTile.MeetingStartDate.ToString("MMMM dd, yyyy")</span>
                                            <h3>
                                                <a href="@eventTile.ContentUrl">@eventTile.Title</a>
                                                @*@using (BeginRenderLink(eventTile, e => e.ContentUrl, isEditable: false)) {
                                                    @Editable(eventTile, x=> x.Title)
                                                }*@
                                            </h3>
                                            <span class="text-size-p75 event-tile-location">@eventTile.Location</span>
                                            <a href="@eventTile.ContentUrl" class="tile-bottom-link read-more-link">read more</a>
                                            @*@RenderLink(eventTile, e => e.ContentUrl, new System.Collections.Specialized.NameValueCollection { { "class", "tile-bottom-link read-more-link" } }, isEditable: true)*@
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    }
                </section>
                @if (Model.ArchiveLink != null)
                {
                    <div class="text-center">@RenderLink(x => x.ArchiveLink, new { @class = "read-more-link" }, isEditable: true)</div>
                }
                @*<div class="resources-slider-nav">
                    <div class="slick-custom-pager"></div>
                </div>*@
            </div>
        </div>
        <!--end: Module -->
    </section>
</div>
