@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Tabs.ViewModels.TabsViewModel>
@using Sitecore.Foundation.SitecoreExtensions.Extensions

<!--start: Module -->
<div class="content section-spacing">
    <div class="tab-container">
        <div class="inline-ul acr-tabs tabs" role="menubar">
                <ul>
                    @foreach (var tab in Model.TabNames)
                    {
                    <li class="">
                        <a href="#@tab.TabNameID">
                            <span>@tab.TabName</span>
                        </a>
                    </li>
                    }
                </ul>
        </div>
        <div class="indented-section tabs-body acr-tabs-body">
            @foreach (var tab in Model.TabNames)
            {
            <div data-tab-id="@tab.TabNameID">
                @if (Sitecore.Context.PageMode.IsExperienceEditor)
                {
                <p>Start Tab(@tab.TabName) Content</p>
                }
                @Html.Sitecore().DynamicPlaceholder("tabs", false)
                @if (Sitecore.Context.PageMode.IsExperienceEditor)
                {
                <p>End Tab(@tab.TabName) Content</p>
                }
            </div>
            }
        </div>
    </div>
</div>
<!--end: Module -->